<link href="~/Content/allcss/allcss.css" rel="stylesheet" />
<div class="col-md-12">
    <h4>
        Leave Used As on @DateTime.Now.ToString("MMM-yyyy")</h4>
         <div class="table-responsive">
    <table id="LeaveDetails" class="table table-bordered table-striped" style="width: 100%;
        height: auto; border: 1px solid Black; border-collapse: inherit">
        <thead>
            <tr>
                <td>
                    Leave Type
                </td>
                <td>
                    From Date
                </td>
                <td>
                    To Date
                </td>
                <td>
                    Applied Days
                </td>
                <td>
                    Paid Leaves
                </td>
                <td>
                    LWP
                </td>
                <td>
                    Status
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @ViewBag.LeaveApplicationDetailsListVB)
            {
                <tr>
                    <td align="left">@item.LeaveType
                    </td>
                    @*Updated by Rajas on 29 AUGUST 2017 START*@
                    <td>@item.FromDate.ToString("dd-MMM-yyyy")
                    </td>
                    <td>@item.ToDate.ToString("dd-MMM-yyyy")
                    </td>
                    @{var Unpaid = Convert.ToDouble(item.AppliedDays) - Convert.ToDouble(item.ActualDays);}
                    <td class="quantity">@item.AppliedDays
                    </td>
                    <td class="quantity">@item.ActualDays
                    </td>
                    <td class="quantity">@Unpaid
                    </td>
                    @*Updated by Rajas on 29 AUGUST 2017 END*@
                    <td>@item.Status
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    </div>
</div>
