@model WetosMVCMainApp.Models.RateOfInterestModel
@{
    ViewBag.Title = "Rate of Interest Master Delete";
}
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/LayoutTheme")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<link href="~/Content/css/sql_query_delete.css" rel="stylesheet" />

<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
           
             <!-- <div class="row">
            <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="@Url.Action("Index", "Home")">Home </a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                         <a href="#">Masters</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                    <li>
                        <a href="@Url.Action("Index", "WetosRateOfInterestMaster")">Rate of Interest Master </a>
                    </li>
                    <li class="pull-right">
                        <div id="dashboard-report"  data-toggle="tooltip" title="Today's date">
                            <span style="cursor:pointer" class="back "  data-toggle="tooltip" title="Back" id="goback"><i class="fa fa-arrow-left"></i> 

                            </span>
                             <i class="fa fa-calendar"></i>
                            <span>@DateTime.Now.ToLongDateString()
                            </span>
                           
                        </div>
             
           
                    </li>
              
                </ul>
                </div></div> -->
                <div class="row page-breadcrumb breadcrumb ed_breadcrumb">
                <div class="col-sm-6">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                       <li class="li_margin">
                         <a href="#">Masters</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                    <li class="li_margin">
                        <a href="@Url.Action("Index", "WetosRateOfInterestMaster")">Rate of Interest Master </a>
                    </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        
                          <h1>Rate of Interest Master
        <small>Delete</small>
            </h1>
       
            
            <div style="clear: both;"></div>

      
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">

                    <div class="box">
                    
                        <!-- /.box-header -->
                        <div class="box-body">
                       
                            @using (Html.BeginForm("Delete", "WetosRateOfInterestMaster", FormMethod.Post, new { id = "AddCompanyForm", enctype = "multipart/form-data" }))
                            {
                          
                                 <div style="color: Red; font-size: 12px">
                                    @Html.ValidationSummary(true)
                                </div>

                                @Html.HiddenFor(model=>model.ROIID)
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessage("Error")
                                </div>
        
                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        Comapny Name  <span style="color: Red; font-size: 18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">
                                   
                                    <div class="input-group date">
                                       <div class="input-group-addon">
                                        <i  class="fa fa-map-marker"></i>
                                        </div> 
                                      
                                       @Html.DropDownListFor(model => model.CompanyId, (IEnumerable<SelectListItem>)ViewBag.CompanyListView, "Select", new { @class = "form-control select2", style = "width:250px" ,@disabled="disabled"})
                                       
                                        </div>
                                         
                                           <div  style="color: Red; font-size: 12px">
                                        @Html.ValidationMessageFor(model => model.CompanyId)
                                        </div>

                                        </div>
                                </div>
                              
                                <div class="row">
                                    <div class="form-group">
                                        <div class="editor-label col-md-2">
                                            Branch Name <span style="color: Red; font-size: 18px">*</span>
                                        </div>
                                        <div class="editor-field col-md-5">
                                      
                                        <div class="input-group date">
                                       <div class="input-group-addon">
                                        <i class="fa fa-suitcase" aria-hidden="true"></i>
                                        </div> 

                                            @Html.DropDownListFor(model => model.BranchId, (IEnumerable<SelectListItem>)ViewBag.BranchListView, "Select", new { @class = "form-control select2", style = "width:250px", @disabled = "disabled" })
                                            </div>
                                         
                                           <div style="color: Red; font-size: 12px">
                                                @Html.ValidationMessageFor(model => model.BranchId)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        Department <span style="color: Red; font-size: 18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">
                                     
                                        <div class="input-group date">
                                       <div class="input-group-addon">
                                       <i class="fa fa-building-o" aria-hidden="true"></i>
                                        </div> 

                                        @Html.DropDownListFor(model => model.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.DepartmentListView, "Select", new { @class = "form-control select2", @style = "width:250px", @disabled = "disabled" })
                                        <div  style="color: Red; font-size: 12px">
                                            @Html.ValidationMessageFor(model => model.DepartmentId)
                                        </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        Amount1  <span style="color: Red; font-size: 18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">
                                    
                                        <div class="input-group date">
                                       <div class="input-group-addon">
                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                        </div> 
                                         @Html.TextBoxFor(model => model.RangeOneAmount, new { @class = "form-control", @style = "width:250px", @readonly = "readonly" })
                                          @Html.ValidationMessageFor(model => model.RangeOneAmount)
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        Amount2 <span style="color: Red; font-size: 18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">
                                        <div class="input-group date">
                                       <div class="input-group-addon">
                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                        </div> 
                                         @Html.TextBoxFor(model => model.RangeTwoAmount, new { @class = "form-control", @style = "width:250px", @readonly = "readonly" })
                                          @Html.ValidationMessageFor(model => model.RangeTwoAmount)
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        Rate Of Interest <span style="color: Red; font-size: 18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">
                                        <div class="input-group date">
                                       <div class="input-group-addon">
                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                        </div> 
                                       

                                      
                                        @Html.TextBoxFor(model => model.RateOfInterestValue, new { @class = "form-control", @style = "width:250px", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(model => model.RateOfInterestValue)
                                     
                                        </div>
                                    </div>
                                </div>
                             
                                <p>
                                    <input id="CreateCompanyBtn" type="button" value="Delete" class="btn btn-default" style="cursor:pointer; float:left" title = "Click to Delete ROI"/>
                                     <span  class="btn btn-default" style="cursor:pointer; float:left; margin-left:10px" title = "Click to go back to ROI list">@Html.ActionLink("Back to ROI List", "Index")</span>
                                </p>
                                
                                <div> 
                               
                                </div>
                            }


                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    </div>
</div>
<div id="Companydiv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Do you want to Delete Rate Of Interest?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="col-md-2  btn btn-primary" id="AddBtn">
                    Yes</button>
                <button type="button" data-dismiss="modal" class="col-md-2 btn">
                    Cancel</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        $(".select2").select2();


    });

</script>
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }


    $("#CreateCompanyBtn").click(function () {
        //alert("Click");
        var $form = $(this).closest('form');
        $('#Companydiv').modal({ backdrop: 'static', keyboard: false })
                .one('click', '#AddBtn', function () {

                    $("#AddCompanyForm").submit();

                });

    });



    //ADDED BY NANDINI ON 24 MARCH 2020 START
    $("#BranchId").change(function () {
        isDirty = false;
        var BranchId = +$("#BranchId").val();

        $.ajax({
            url: '@Url.Content("~/WetosRateOfInterestMaster/DepartmentDetails")',
            type: "POST",
            dataType: "json",
            data: { BranchId: BranchId },
            success: function (data) {
                $("#DepartmentId").empty();
                //alert(data);
                // alert("sucess");
                $("#DepartmentId").append("<option value=" + "0" + ">" + "Select" + "</option>");

                for (var i = 0; i < data.length; i++) {
                    $("#DepartmentId").append("<option value=" + "" + data[i].DepartmentId + "" + ">" + data[i].DepartmentName + "</option>");
                }
                //SelectEmployeeList();
            },
            error: function (data) {


                for (var i = 0; i < data.length; i++) {

                    alert("error");
                    $("#DepartmentId").append("<option value=" + "" + data[i].DepartmentId + "" + ">" + data[i].DepartmentName + "</option>");

                    //SelectEmployeeList();
                }
            }
        });

    });
    //ADDED BY NANDINI ON 24 MARCH 2020 END
   
</script>
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
