@model WetosMVCMainApp.Models.ShiftModel
@{
    //  ViewBag.Title = "";
}
@System.Web.Optimization.Scripts.Render("~/bundles/InputMask")
<link href="~/Content/css/wetosshift_delete.css" rel="stylesheet" />

<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
           
            
            <!-- <div class="row">
                <div class="col-md-12">
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="@Url.Action("Index", "Home")">Home </a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">Masters</a>
                            <i class="fa fa-angle-right"></i>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "WetosShift")">Shift </a>
                        </li>
                        <li class="pull-right">
                            <div id="dashboard-report"  data-toggle="tooltip" title="Today's date">
                                <span style="cursor: pointer" class="back "  data-toggle="tooltip" title="Back" id="goback"><i class="fa fa-arrow-left"></i>@*<a href="#" >Back</a>*@

                                </span>
                                <i class="fa fa-calendar"></i>
                                <span>@DateTime.Now.ToLongDateString()
                                </span>

                            </div>


                            @* <span style="float:left">@Html.ActionLink("Add New Location", "Create")</span>*@


                        </li>

                    </ul>
                </div>
            </div> -->
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb ed_breadcrumb_row">
                <div class="col-sm-6 ed_breadcrumb_div">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        <li class="li_margin"><a href="#">Masters </a> <i class="fa fa-angle-right"></i> </li>
                        
                        <li class="li_margin"><a href="@Url.Action("Index", "WetosShift")">Shift</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
             <h1>Shift Master
             <small>Delete</small>
            </h1>
           
            <div style="clear: both;"></div>

            @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@
        </section>
        <section class="content">
     
          <div class="box">
          <div class="box-header">
              @*<h3 class="box-title">Shift Details</h3>*@
            </div>

            <!-- /.box-header -->
            <div class="box-body">

            @using (Html.BeginForm("Delete", "WetosShift", FormMethod.Post, new { id = "Form" }))
            {
   <div style="font-size: 12px; color: Red">
                            @Html.ValidationSummary(false)
                        </div>
    
@*Added by Rajas on 29 DEC 2016 For custom error message START*@
                        <div style="color: Red; font-size: 12px">
                            @Html.ValidationMessage("Error")
                        </div>
@*Added by Rajas on 29 DEC 2016 For custom error message END*@
                        @Html.HiddenFor(a => a.CompanyId)
                        @Html.Hidden("LunchTimeInMinutes", new { id = "LunchTimeInMinutes" })
                        @Html.Hidden("LunchTimeInHours", new { id = "LunchTimeInHours" })
                        @Html.Hidden("WorkingTimeInHours", new { id = "WorkingTimeInHours" })
                        @Html.Hidden("WorkingTimeInMinutes", new { id = "WorkingTimeInMinutes" })
                        @Html.HiddenFor(a => a.BranchId)
     
                //Commented by shalaka on 15th DEC 2017 Start
                     @* @Html.HiddenFor(a => a.LunchTimeExcludeFlag)
                        @Html.HiddenFor(a => a.NightShiftFlag)*@
                //Commented by shalaka on 15th DEC 2017 End
                         
                @Html.HiddenFor(a => a.ShiftCode)
                        @Html.HiddenFor(a => a.ShiftId)
                        @Html.HiddenFor(a => a.ShiftName)
                        @Html.HiddenFor(a => a.ShiftType)
@*@Html.HiddenFor(a => a.LunchTimeMM)
    @Html.HiddenFor(a => a.LunchTimeHH)*@
@*  @Html.HiddenFor(a => a.WorkHoursHH)
    @Html.HiddenFor(a => a.WorkHoursMM)*@
    
     
                      <div class="row">
                            <div class="editor-label col-md-2">
                                Company
                            </div>
                            <div class="editor-field col-md-5">
                                @Html.DropDownListFor(a => a.CompanyId, (IEnumerable<SelectListItem>)@ViewBag.CompanyNameList, "Select", new { @class = "form-control select2", id = "CompanyddlList", disabled = "disabled" })
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessageFor(model => model.CompanyId)
                                </div>
                            </div>
                        </div>
                         
    
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Branch
                            </div>
                            <div class="editor-field col-md-5">
                                @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)@ViewBag.BranchNameList, "Select", new { @class = "form-control select2", id = "BranchddlList", disabled = "disabled" })
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessageFor(model => model.BranchId)
                                </div>
                            </div>
                        </div>
                         
    
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Shift@*@Html.LabelFor(model => model.ShiftType)*@
                            </div>
                            <div class="editor-field col-md-5">
                                @Html.DropDownListFor(a => a.ShiftId, (IEnumerable<SelectListItem>)@ViewBag.ShiftTypeList, "Select", new { @class = "form-control select2", disabled = "disabled" })
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessageFor(model => model.ShiftId)
                                </div>
                            </div>
                        </div>
                         
    
                    @*    <div class="row">
                            <div class="editor-label col-md-2">
                                Shift Type
                            </div>

                            <div class="col-md-5">

                                @Html.DropDownListFor(a => a.ShiftType, (IEnumerable<SelectListItem>)@ViewBag.ShiftTypeNameList, "Select", new { @class = "form-control select2", id = "BranchddlList", disabled="disabled" })
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessageFor(model => model.ShiftType)
                                </div>
                            </div>
                        </div>*@
                         
    
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Shift Name@* @Html.LabelFor(model => model.ShiftName)*@
                            </div>
                            <div class="editor-field col-md-5">
                                @Html.TextBoxFor(model => model.ShiftName, new { @class = "form-control pull-right", disabled = "disabled" })
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessageFor(model => model.ShiftName)
                                </div>
                            </div>
                        </div>
                         
                        
                        @* <div class="row">
                            <div class="editor-label col-md-2">
                            </div>
                            <div class="col-sm-1">
                                Hour
                            </div>
                            <div class="col-sm-1">
                                Minutes
                            </div>
                        </div>*@

                        <div class="row">
                            <div class="editor-label col-md-2">
                                In Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                            <input type="text" name="FirstInTime" class="time_class" id="FirstInTime" readonly="readonly" disabled="disabled" value="@Model.FirstInTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                        </div>
                       

                        <div class="row">
                            <div class="editor-label col-md-2">
                                Out Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                           <input type="text" name="FirstOutTime"  class="time_class" id="FirstOutTime" readonly="readonly" disabled="disabled" value="@Model.FirstOutTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                            <div style="color: Red; font-size: 12px">
                                @Html.ValidationMessageFor(model => model.FirstOutTime)
                            </div>

                        </div>
                       

                         <div class="row" id="secondin">
                            <div class="editor-label col-md-2">
                                Second In Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                             <input type="text" name="SecondInTime"  class="time_class" id="" readonly="readonly" disabled="disabled" value="@Model.SecondInTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                        </div>
                        

                        <div class="row" id="secondout">
                            <div class="editor-label col-md-2">
                                Second Out Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                             <input type="text" name="SecondOutTime"  class="time_class" id="" readonly="readonly" disabled="disabled" value="@Model.SecondOutTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                            <div style="color: Red; font-size: 12px">
                                @Html.ValidationMessageFor(model => model.SecondOutTime)
                            </div>

                        </div>

                        <div class="row">
                            <div class="editor-label col-md-2">
                                Working Hours <span style="color: Red; font-size: 18px">*</span>
                            </div>
                            <input type="text" name="WorkHours"  class="time_class" id="WorkHours" readonly="readonly" disabled="disabled" value="@Model.WorkHours" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                        </div>
                       

                        <div class="row">
                            <div class="editor-label col-md-2">
                                Lunch Start Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                           <input type="text" name="LunchStartTime"  class="time_class" id="LunchStartTime" readonly="readonly" disabled="disabled" value="@Model.LunchStartTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>

                        </div>
                    
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Lunch End Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                             <input type="text" name="LunchEndTime"  class="time_class" id="LunchEndTime" disabled="disabled" value="@Model.LunchEndTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>

                        </div>
                      
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Lunch Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                            <input type="text" name="LunchTime"  class="time_class" id="LunchTime" readonly="readonly" disabled="disabled" value="@Model.LunchTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                        </div>
                          
    
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Lunch Time Exclude Flag
                            </div>
                            <div class="editor-field col-md-5">
                               @* @Html.CheckBoxFor(model => model.LunchTimeExcludeFlag, new { disabled = "disabled" })  @*, new { @class = "form-control pull-right" })*@
                           
                            @*Above line commented and below line Added by shalaka on 15th DEC 2017 to solve Checkbox error and get value on checkbox from model --- Start *@
                                <input type="checkbox" id="LunchTimeExcludeFlag" value = "@Model.LunchTimeExcludeFlag" name= "LunchTimeExcludeFlag" /> @*onchange="CalcuateTimeSpanWithNS()"*@
                            @*Above line commented and below line Added by shalaka on 15th DEC 2017 to solve Checkbox error and get value on checkbox from model --- End *@

                                @Html.ValidationMessageFor(model => model.LunchTimeExcludeFlag)
                            </div>
                        </div>
                         

                        <div class="row">
                            <div class="editor-label col-md-2">
                                Night Shift Flag
                            </div>
                            <div class="editor-field col-md-5">
                          @*  @Html.CheckBoxFor(model => model.NightShiftFlag, new { disabled = "disabled" })*@  @*, new { @class = "form-control pull-right" })*@
                          
                            @*Above line commented and below line Added by shalaka on 15th DEC 2017 to solve Checkbox error and get value on checkbox from model --- Start *@
                                <input type="checkbox" id="NightShiftFlag" value = "@Model.NightShiftFlag" name= "NightShiftFlag" /> @*onchange="CalcuateTimeSpanWithNS()"*@
                            @*Above line commented and below line Added by shalaka on 15th DEC 2017 to solve Checkbox error and get value on checkbox from model --- End *@

                                @Html.ValidationMessageFor(model => model.NightShiftFlag)
                            </div>
                        </div>
<p>
    
   <input type ="button" id="BtnDelete" value="Delete" style="cursor:pointer; float:left" title = "Click to delete Shift" class="btn btn-default"/>
    <span  class="btn btn-default" style="cursor:pointer; float:left; margin-left:10px" title = "Click to go back to Shift list">@Html.ActionLink("Back to Shift list", "Index")</span>
</p>
            }
</div>
</div>
</section>
    </div>
</div>
@*ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP START*@
<div id="Shitdiv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Do you want to delete Shift?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="col-md-2  btn btn-primary" id="Delete">
                    Yes</button>
                <button type="button" data-dismiss="modal" class="col-md-2 btn">
                    Cancel</button>
            </div>
        </div>
    </div>
</div>
@*ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP END*@ @*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }

    //ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP START
    $("#BtnDelete").click(function () {

        var $form = $(this).closest('form');
        $('#Shitdiv').modal({ backdrop: 'static', keyboard: false })
                .one('click', '#Delete', function () {

                    $("#Form").submit();
                });

    });
    //ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP END

    //Added by shalaka on 15th DEC 2017 to mark Checkbox as per value-- Start
    $("#NightShiftFlag").val(function () {

        if ($(this).attr('value', 'true')) {
            document.getElementById("NightShiftFlag").checked = true;

        } else {
            document.getElementById("NightShiftFlag").checked = false;
        }
    });
    //Added by shalaka on 15th DEC 2017-- End

</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@ @*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION START*@
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
@*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION END*@