@model WetosMVCMainApp.Models.ShiftModel
@{
    ViewBag.Title = "Details";
}
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/InputMask")
 <link href="~/Content/css/wetosshift_details.css" rel="stylesheet" />

<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
           
            <!-- <div class="row">
                <div class="col-md-12">
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="@Url.Action("Index", "Home")">Home </a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">Masters</a>
                            <i class="fa fa-angle-right"></i>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "WetosShift")">Shift </a>
                        </li>
                        <li class="pull-right">
                            <div id="dashboard-report"  data-toggle="tooltip" title="Today's date">
                                <span style="cursor: pointer" class="back "  data-toggle="tooltip" title="Back" id="goback"><i class="fa fa-arrow-left"></i>@*<a href="#" >Back</a>*@

                                </span>
                                <i class="fa fa-calendar"></i>
                                <span>@DateTime.Now.ToLongDateString()
                                </span>

                            </div>


                            @* <span style="float:left">@Html.ActionLink("Add New Location", "Create")</span>*@


                        </li>

                    </ul>
                </div>
            </div> -->
             <div class="row page-breadcrumb breadcrumb ed_breadcrumb">
                <div class="col-sm-6">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        <li class="li_margin"><a href="#">Masters </a> <i class="fa fa-angle-right"></i> </li>
                        
                        <li class="li_margin"><a href="@Url.Action("Index", "WetosShift")">Shift</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
             <h1>Shift Master
        <small>Details</small>
            </h1>
            
            <div style="clear: both;"></div>

            @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@
        </section>
        <section class="content">

            <div class="box">
                

                <!-- /.box-header -->
                <div class="box-body">


                    @*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@

                    @using (Html.BeginForm("Edit", "WetosShift", FormMethod.Post, new { id = "Form" }))
                    {
                        <div style="font-size: 12px; color: Red">
                            @Html.ValidationSummary(false)
                        </div>
    
@*Added by Rajas on 29 DEC 2016 For custom error message START*@
                        <div style="color: Red; font-size: 12px">
                            @Html.ValidationMessage("Error")
                        </div>
@*Added by Rajas on 29 DEC 2016 For custom error message END*@
                        @Html.HiddenFor(a => a.CompanyId)
                        @Html.Hidden("LunchTimeInMinutes", new { id = "LunchTimeInMinutes" })
                        @Html.Hidden("LunchTimeInHours", new { id = "LunchTimeInMinutes" })
                        @Html.Hidden("WorkingTimeInHours", new { id = "WorkingTimeInHours" })
                        @Html.Hidden("WorkingTimeInMinutes", new { id = "WorkingTimeInMinutes" })
                        @Html.HiddenFor(a => a.BranchId)
    
                        @Html.HiddenFor(a => a.LunchTimeExcludeFlag)
                        @Html.HiddenFor(a => a.NightShiftFlag)
                        @Html.HiddenFor(a => a.ShiftCode)
                        @Html.HiddenFor(a => a.ShiftId)
                        @Html.HiddenFor(a => a.ShiftName)
                        @Html.HiddenFor(a => a.ShiftType)
@*@Html.HiddenFor(a => a.LunchTimeMM)
    @Html.HiddenFor(a => a.LunchTimeHH)*@
@*  @Html.HiddenFor(a => a.WorkHoursHH)
    @Html.HiddenFor(a => a.WorkHoursMM)*@
    
     
                      <div class="row">
                            <div class="editor-label col-md-2">
                                Company
                            </div>
                            <div class="editor-field col-md-5">
                                @Html.DropDownListFor(a => a.CompanyId, (IEnumerable<SelectListItem>)@ViewBag.CompanyNameList, "Select", new { @class = "form-control select2", id = "CompanyddlList", disabled = "disabled" })
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessageFor(model => model.CompanyId)
                                </div>
                            </div>
                        </div>
                         
    
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Branch
                            </div>
                            <div class="editor-field col-md-5">
                                @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)@ViewBag.BranchNameList, "Select", new { @class = "form-control select2", id = "BranchddlList", disabled = "disabled" })
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessageFor(model => model.BranchId)
                                </div>
                            </div>
                        </div>
                         
    
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Shift@*@Html.LabelFor(model => model.ShiftType)*@
                            </div>
                            <div class="editor-field col-md-5">
                                @Html.DropDownListFor(a => a.ShiftId, (IEnumerable<SelectListItem>)@ViewBag.ShiftTypeList, "Select", new { @class = "form-control select2", disabled = "disabled" })
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessageFor(model => model.ShiftId)
                                </div>
                            </div>
                        </div>
                         
    
                    @*    <div class="row">
                            <div class="editor-label col-md-2">
                                Shift Type
                            </div>

                            <div class="col-md-5">

                                @Html.DropDownListFor(a => a.ShiftType, (IEnumerable<SelectListItem>)@ViewBag.ShiftTypeNameList, "Select", new { @class = "form-control select2", id = "BranchddlList", disabled="disabled" })
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessageFor(model => model.ShiftType)
                                </div>
                            </div>
                        </div>*@
                         
    
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Shift Name@* @Html.LabelFor(model => model.ShiftName)*@
                            </div>
                            <div class="editor-field col-md-5">
                                @Html.TextBoxFor(model => model.ShiftName, new { @class = "form-control pull-right", disabled = "disabled" })
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessageFor(model => model.ShiftName)
                                </div>
                            </div>
                        </div>
                         
                        
                        @* <div class="row">
                            <div class="editor-label col-md-2">
                            </div>
                            <div class="col-sm-1">
                                Hour
                            </div>
                            <div class="col-sm-1">
                                Minutes
                            </div>
                        </div>*@

                        <div class="row">
                            <div class="editor-label col-md-2">
                                In Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                            <input type="text" name="FirstInTime"" id="FirstInTime" readonly="readonly" disabled="disabled" value="@Model.FirstInTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                        </div>
                       

                        <div class="row">
                            <div class="editor-label col-md-2">
                                Out Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                           <input type="text" name="FirstOutTime"" id="FirstOutTime" readonly="readonly" disabled="disabled" value="@Model.FirstOutTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                            <div style="color: Red; font-size: 12px">
                                @Html.ValidationMessageFor(model => model.FirstOutTime)
                            </div>

                        </div>
                       

                         <div class="row" id="secondin">
                            <div class="editor-label col-md-2">
                                Second In Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                             <input type="text" name="SecondInTime"" id="" readonly="readonly" disabled="disabled" value="@Model.SecondInTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                        </div>
                        

                        <div class="row" id="secondout">
                            <div class="editor-label col-md-2">
                                Second Out Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                             <input type="text" name="SecondOutTime"" id="" readonly="readonly" disabled="disabled" value="@Model.SecondOutTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                            <div style="color: Red; font-size: 12px">
                                @Html.ValidationMessageFor(model => model.SecondOutTime)
                            </div>

                        </div>

                        <div class="row">
                            <div class="editor-label col-md-2">
                                Working Hours <span style="color: Red; font-size: 18px">*</span>
                            </div>
                            <input type="text" name="WorkHours"" id="WorkHours" readonly="readonly" disabled="disabled" value="@Model.WorkHours" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                        </div>
                       

                        <div class="row">
                            <div class="editor-label col-md-2">
                                Lunch Start Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                           <input type="text" name="LunchStartTime"" id="LunchStartTime" readonly="readonly" disabled="disabled" value="@Model.LunchStartTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>

                        </div>
                    
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Lunch End Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                             <input type="text" name="LunchEndTime"" id="LunchEndTime" disabled="disabled" value="@Model.LunchEndTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>

                        </div>
                      
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Lunch Time <span style="color: Red; font-size: 18px">*</span>
                            </div>
                            <input type="text" name="LunchTime"" id="LunchTime" readonly="readonly" disabled="disabled" value="@Model.LunchTime" data-inputmask="'mask': ['', '99:99:99']" data-mask/>
                        </div>
                          
    
                        <div class="row">
                            <div class="editor-label col-md-2">
                                Lunch Time Exclude Flag
                            </div>
                            <div class="editor-field col-md-5">
                            @*CODE ADDED BY SHRADDHA ON 16 JAN 2018*@
                            @{var LunchTimeExcludeFlagBool = (bool)(@Model.LunchTimeExcludeFlag == null ? false : @Model.LunchTimeExcludeFlag);}
                                @Html.CheckBoxFor(model => LunchTimeExcludeFlagBool, new { disabled = "disabled" })  @*, new { @class = "form-control pull-right" })*@
                                @Html.ValidationMessageFor(model => model.LunchTimeExcludeFlag)
                            </div>
                        </div>
                         

                        <div class="row">
                            <div class="editor-label col-md-2">
                                Night Shift Flag
                            </div>
                            <div class="editor-field col-md-5">
                             @*CODE ADDED BY SHRADDHA ON 16 JAN 2018*@
                             @{var NightShiftFlagBool = (bool)(@Model.NightShiftFlag == null ? false : @Model.NightShiftFlag);}
                                @Html.CheckBoxFor(model => NightShiftFlagBool, new { disabled = "disabled" })  @*, new { @class = "form-control pull-right" })*@
                                @Html.ValidationMessageFor(model => model.NightShiftFlag)
                            </div>
                        </div>

                        <p>
                            <span class="btn btn-default" data-toggle="tooltip" style="cursor: pointer; float: left" title="Click to edit Shift">@Html.ActionLink("Edit", "Edit", new { id = Model.ShiftId })</span>
                            <span class="btn btn-default" data-toggle="tooltip" style="cursor: pointer; float: left" title="Click to go back to Shift list">@Html.ActionLink("Back to Shift list", "Index")</span>
                        </p>

                    }
                    <div>
                    </div>
        </section>
    </div>
</div>
@*ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP START*@
<div id="shiftDiv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Do you want to edit Shift?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="col-md-2  btn btn-primary" id="saveBtn">
                    Yes</button>
                <button type="button" data-dismiss="modal" class="col-md-2 btn">
                    Cancel</button>
            </div>
        </div>
    </div>
</div>
@*ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP END*@
<script type="text/javascript">
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();


    });

</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }



</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
<script type="text/jscript">

    $(document).ready(function () {
        var WorkHoursHH = $("#WorkHoursHH").val();
        var WorkHoursMM = $("#WorkHoursMM").val();
        var LunchTimeHH = $("#LunchTimeHH").val();
        var LunchTimeMM = $("#LunchTimeMM").val();
        $("#WorkingTimeInHours").val(WorkHoursHH);
        $("#WorkingTimeInMinutes").val(WorkHoursMM);
        $("#LunchTimeInHours").val(LunchTimeHH);
        $("#LunchTimeInMinutes").val(LunchTimeMM);
    });
    //    $("#FirstOutMM").change(function () {

    //        //alert("call");
    //        CalcuateTimeSpan();
    //    });
    //alert("START");
    //Start
    function CalcuateTimeSpan() {
        //alert("In CAL Function");
        var firstinhh = $("#FirstInTimeHH").val();
        //alert(firstinhh);
        var firstinmm = $("#FirstInTimeMM").val();
        //alert(firstinmm);

        var firstouthh = $("#FirstOutHH").val();
        //alert(firstouthh);
        var firstoutmm = $("#FirstOutMM").val();
        // alert(firstoutmm);


        var indate = new Date(2011, 6, 15, firstinhh, firstinmm, 0, 0);
        var outdate = new Date(2011, 6, 15, firstouthh, firstoutmm, 0, 0);
        //alert("DateTme: " + dateTimeDiffer(indate, outdate));
        var DateDiff = dateTimeDiffer(indate, outdate);
        //alert(datefial);
        var DateDiffSplitStr = DateDiff.split(':');

        var workinghrshhStr = DateDiffSplitStr[0].toString();

        var workinghrshh = pad(workinghrshhStr, 2);
        //alert(workinghrshe);
        var workinghrsmmStr = DateDiffSplitStr[1].toString();
        var workinghrsmm = pad(workinghrsmmStr, 2);
        //alert(workinghrshm);
        $("#WorkHoursHH").val(workinghrshh).trigger("change");
        $("#WorkHoursMM").val(workinghrsmm).trigger("change");

        $("#WorkingTimeInHours").val(workinghrshh);
        $("#WorkingTimeInMinutes").val(workinghrsmm);

    }
    //End
    function pad(n, width, z) {
        z = z || '0';
        n = n + '';
        return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
    }

    function dateTimeDiffer(startDTime, endDtime) {
        var startTime = new Date(startDTime);
        var endTime = new Date(endDtime);
        var diff = endTime.getTime() - startTime.getTime();
        var msec = diff;
        var hh = Math.floor(msec / 1000 / 60 / 60);
        msec -= hh * 1000 * 60 * 60;
        var mm = Math.floor(msec / 1000 / 60);
        msec -= mm * 1000 * 60;
        var ss = Math.floor(msec / 1000);
        msec -= ss * 1000;
        return hh + ":" + mm;
    }


    function CalcuateLunchTimeSpan() {
        //alert("In CAL Function");
        var LunchStartHH = $("#LunchStartHH").val();
        //alert(firstinhh);
        var LunchStartMM = $("#LunchStartMM").val();
        //alert(firstinmm);

        var LunchEndHH = $("#LunchEndHH").val();
        //alert(firstouthh);
        var LunchEndMM = $("#LunchEndMM").val();
        // alert(firstoutmm);


        var LunchStartDate = new Date(2011, 6, 15, LunchStartHH, LunchStartMM, 0, 0);
        var LunchEndDate = new Date(2011, 6, 15, LunchEndHH, LunchEndMM, 0, 0);
        //alert("DateTme: " + dateTimeDiffer(indate, outdate));
        var DateDiffforLunch = dateTimeDiffer(LunchStartDate, LunchEndDate);
        //alert(datefial);
        var DateDiffforLunchSplitStr = DateDiffforLunch.split(':');

        var LunchTimehhStr = DateDiffforLunchSplitStr[0].toString();

        var LunchTimehh = pad(LunchTimehhStr, 2);
        //alert(LunchTimehh);
        var LunchTimemmStr = DateDiffforLunchSplitStr[1].toString();
        var LunchTimemm = pad(LunchTimemmStr, 2);
        //alert(LunchTimemm);
        $("#LunchTimeHH").val(LunchTimehh).trigger("change");
        $("#LunchTimeMM").val(LunchTimemm).trigger("change");

        $("#LunchTimeInHours").val(LunchTimehh);
        $("#LunchTimeInMinutes").val(LunchTimemm);
    }

    //ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP START
    $("#BtnShift").click(function () {

        var $form = $(this).closest('form');
        $('#shiftDiv').modal({ backdrop: 'static', keyboard: false })
                .one('click', '#saveBtn', function () {

                    $("#Form").submit();
                });

    });
    //ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP END


</script>
@*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION START*@
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
@*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION END*@