@model WetosDB.LeaveEncash
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="#">Sanctions</li>
        <li><a href="active">Encash Sanction</a></li>

        @*<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>*@

    </ol>
    <h1 class="margin_left_h1">
        Encash Sanction
        <small>Create</small>
    </h1>

    @*Added by Pushkar For back breadcrumb on 24 OCT 2016----------Start*@
    <div>
        <span style="float:right"><a href="#" id="goback" class="fa fa-arrow-left back"></a></span>
        @* <span style="float:left">@Html.ActionLink("Add New Location", "Create")</span>*@

    </div>
    <div style="clear: both;"></div>

    @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">

                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <fieldset>
                            @Html.HiddenFor(model => model.LeaveEncashId)
                            @Html.HiddenFor(a => a.LeaveCode)
                            @* @Html.HiddenFor(a => a.FromDayStatus)
                                @Html.HiddenFor(a => a.ToDayStatus)*@
                            @Html.HiddenFor(a => a.EmployeeId)
                            @Html.HiddenFor(a => a.FinancialYearId)
                            @Html.HiddenFor(a => a.EncashValue)

                            @Html.HiddenFor(a => a.BranchId)
                            @Html.HiddenFor(a => a.CompanyId)

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="editor-label">
                                        Status
                                    </div>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(a => a.Status, (IEnumerable<SelectListItem>)@ViewBag.LeaveEncashSanctionList, "Select", new { @class = "form-control select2" })
                                        @* @Html.EditorFor(model => model.Status)
                                            @Html.ValidationMessageFor(model => model.Status)*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="editor-label">
                                        Employee Name
                                    </div>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)@ViewBag.EmployeeList, "Select", new { @class = "form-control select2", disabled = "disabled" })
                                        @*@Html.EditorFor(model => model.EmployeeId)
                                            @Html.ValidationMessageFor(model => model.EmployeeId)*@
                                    </div>
                                </div>
                            </div> <br />
                            <div class="form-group">
                                <div class="editor-label">
                                    No.Of Leave To Encash
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.EncashValue, new { @readonly = "readonly", disabled = "disabled" })

                                </div>
                            </div><br />

                            @*  Modified By Shraddha on 19 DEC 2016 that Reject Remark field is renamed with Remark and validation for rejected reason is commented. Manager can add remark with Sanctioning the leave also start*@
                            @*Display None is deleted by shraddha on 19 DEC 2016*@
                            <div class="form-group" id="RejectReason1">
                                <div class="editor-label">
                                    Remark
                                </div>

                                <div class="editor-field">
                                    @Html.TextAreaFor(model => model.RejectReason, new { style = "width:65%" })

                                </div>
                            </div>


                            <p>
                                <input type="submit" value="Save" />
                            </p>
                        </fieldset>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
@*Added by Shraddha For back breadcrumb on 19 DEC 2016---------Start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('a.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }



</script>
@*Added by Shraddha For back breadcrumb on 19 DEC 2016---------END*@
<script type="text/javascript">


    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/yyyy


        //Date picker
        $('.datepicker').datepicker({
            format: "dd-M-yyyy",

            autoclose: true
        });


    });

</script>
