@model WetosDB.ODTour
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
   @System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<section class="content-header">
      <h1>
        OD/Travel Sanction
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Sanctions</li>
        <li><a href="#"> OD/Travel Sanction</a></li>
        <li class="active">Approve/Reject <a href="#"></a></li>@*Modified by Pushkar 0n 6 FEB 2017*@
       <li><span style="float:right"><a href="#" id="goback" class="fa fa-arrow-left back"></a></span></li>@*Modified by Pushkar 0n 6 FEB 2017*@
        @*<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>*@
      
      </ol>    
      <br />

       @*Added by Pushkar For back breadcrumb on 24 OCT 2016----------Start*@
      <div>
     @*<span style="float:right"><a href="#" id="goback" class="fa fa-arrow-left back"></a></span>*@
     @* <span style="float:left">@Html.ActionLink("Add New Location", "Create")</span>*@

      </div>
      <div style="clear: both;"></div>

       @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

 </section>
<section class="content">
<div class="row">
<div class="col-xs-12 col-md-12 col-lg-12">         
<div class="box">
<div class="box-header">           
</div>
<div class="box-body">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
@Html.HiddenFor(model => model.ODTourId)
        @Html.HiddenFor(model => model.ODTourType)
         @Html.HiddenFor(model => model.AppliedDay)
        @Html.HiddenFor(model => model.ActualDay)
       @Html.HiddenFor(model => model.ODDayStatus)
        @Html.HiddenFor(model => model.OdTourHeadCode)

       @Html.HiddenFor(model => model.Place)
       @Html.HiddenFor(model => model.Purpose)
        @Html.HiddenFor(model => model.ODDayStatus1)
        @Html.HiddenFor(model => model.JourneyType)
        @Html.HiddenFor(model => model.TransportType)
      
      <div class="row">
      <div class="col-md-3"  style="display:none">
      <div class="editor-label">
           Search by
        </div>
        <div class="editor-field">
         @*fav icon added by atul & Mithilesh on 26 june 2017----start*@
    <div class="input-group date">
        <div class="input-group-addon">
        <i  class="fa fa-list-ul"></i>
  	</div> 
         @Html.DropDownList("SearchByObj", new SelectList(ViewBag.SearchByList), "Select", new { @class = "form-control select2", @id = "SearchBy" })
          @*  @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)*@
        </div>
      </div>
      </div>
      <div class="col-md-7">
        <div class="form-group col-md-12" id="EmloyeeList">
        <div class="editor-label">
           Employee Name
        </div>
        <div class="editor-field">
         @*fav icon added by atul & Mithilesh on 26 june 2017----start*@
    <div class="input-group date">
        <div class="input-group-addon">
        <i  class="fa fa-user"></i>
  	</div> 
          @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)@ViewBag.EmployeeList, "Select", new { @class = "form-control select2", style = "width:500px", disabled = "disabled" })
        </div>
        </div>

      </div>
      <div class="form-group col-md-12" id="CompanyList" style="display:none">
       <div class="editor-label">
            Company Name
        </div>
        <div class="editor-field">
         @*fav icon added by atul & Mithilesh on 26 june 2017----start*@
    <div class="input-group date">
        <div class="input-group-addon">
        <i  class="fa fa-suitcase"></i>
  	</div> 
         @Html.DropDownListFor(a => a.CompanyId, (IEnumerable<SelectListItem>)ViewBag.CompanyList, "Select", new { @class = "form-control select2", style = "width:500px" })
         
        </div>
      </div>
      </div>
       <div class="form-group col-md-12" id="BranchList" style="display:none">
         <div class="editor-label">
           Branch Name
        </div>
        <div class="editor-field" >
         @*fav icon added by atul & Mithilesh on 26 june 2017----start*@
    <div class="input-group date">
        <div class="input-group-addon">
        <i  class="fa fa-institution"></i>
  	</div> 
         @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)@ViewBag.BranchList, "Select", new { @class = "form-control select2", style = "width:500px" })
         
        </div>
        </div>
       </div>
      </div>
      </div>



      
     @*   <div class="editor-label">
            @Html.LabelFor(model => model.ODTourType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ODTourType)
            @Html.ValidationMessageFor(model => model.ODTourType)
        </div>
*@
        <div class="row">
        <div class="col-md-3">
          <div class="form-group">
               From Date

                <div class="input-group date">
                  @*<div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>*@
                  @{var Fromdate1 = Convert.ToDateTime(Model.FromDate).ToString("dd-MMM-yyyy");}
                   <input type="text"  name="@Fromdate1" value="@Fromdate1" disabled="disabled"/>
                  @* @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control pull-right datepicker", disabled = "disabled" })*@
                 @* <input type="text" class="form-control pull-right datepicker" id="FromDate" name="FromDate"/>*@
                </div>
                <!-- /.input group -->
              </div>

       </div>

       <div class="col-md-3">
         <div class="form-group">
               To Date

                <div class="input-group date">
                @*  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>*@
                    @{var Todate1 = Convert.ToDateTime(Model.ToDate).ToString("dd-MMM-yyyy");}
                    @*  @Html.TextBox(Todate1)*@
                    <input type="text"  name="@Todate1" value="@Todate1" disabled="disabled"/>
                  @* @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control pull-right datepicker", disabled = "disabled" })*@
                 @* <input type="text" class="form-control pull-right datepicker" id="FromDate" name="FromDate"/>*@
                </div>
                <!-- /.input group -->
              </div>
       </div>

       <div class="col-md-2">
         <div class="editor-label">
           Status
        </div>
        <div class="editor-field">
         @*fav icon added by atul & Mithilesh on 26 june 2017----start*@
    <div class="input-group date">
        <div class="input-group-addon">
        <i  class="fa fa-list-ul"></i>
  	</div> 
         @Html.DropDownListFor(a => a.StatusId, (IEnumerable<SelectListItem>)@ViewBag.LeaveSanctionList, "Select", new { @class = "form-control select2", id = "SearchByStatus" })
        
        </div>
        </div>
        </div>
    </div>
      
       <div class="form-group row" id="RejectReason1" style="display:none">
        <div class="editor-label">
            Reject/Cancel Reason
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.RejectReason)
          
        </div>
        </div>
       

       @* <div class="editor-label">
            @Html.LabelFor(model => model.ODDayStatus1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ODDayStatus1)
            @Html.ValidationMessageFor(model => model.ODDayStatus1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JourneyType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JourneyType)
            @Html.ValidationMessageFor(model => model.JourneyType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransportType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransportType)
            @Html.ValidationMessageFor(model => model.TransportType)
        </div>*@

        <p>
            <input type="submit" value="Submit" />
        </p>
        @*<div>
    @Html.ActionLink("Back to List", "Index")   
</div>*@ @*Commented by Pushkar 0n 6 FEB 2017*@
    </fieldset>
}
</div> 
</div>
</div>
</section>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('a.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }



</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
<script type="text/javascript">


    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/yyyy


        //Date picker
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",

            autoclose: true
        });

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
            showInputs: false
        });


    });



    $("#SearchBy").change(function () {

        if ($("#SearchBy").val() == "Employee Name Wise") {
            $("#EmloyeeList").css('display', 'inline');
            $("#BranchList").css('display', 'none');
            $("#CompanyList").css('display', 'none');

        }
        else if ($("#SearchBy").val() == "Company Name Wise") {
            $("#EmloyeeList").css('display', 'none');
            $("#BranchList").css('display', 'none');
            $("#CompanyList").css('display', 'inline');

        }
        else if ($("#SearchBy").val() == "Branch Name Wise") {
            $("#EmloyeeList").css('display', 'none');
            $("#BranchList").css('display', 'inline');
            $("#CompanyList").css('display', 'none');

        }

        else {
            $("#EmloyeeList").css('display', 'none');
            $("#BranchList").css('display', 'none');
            $("#CompanyList").css('display', 'none');

        }
    });

  
</script>
<script type="text/javascript">

    $("#SearchByStatus").change(function () {

        if ($("#SearchByStatus").val() == "3") {

            $("#RejectReason1").css('display', 'inline');

        }
        else if ($("#SearchByStatus").val() == "2") {

            $("#RejectReason1").css('display', 'none');

        }
        else { }
    });
</script>
