@model WetosMVCMainApp.Models.NavMenuModel
@{
    ViewBag.Title = "Nav Menu Update";
}
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/LayoutTheme")
<link href="~/Content/css/navmenu_master_edit.css" rel="stylesheet" />
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />
<style>
    .border_r_l {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }
    
</style>
@*VIEW CREATED AND STARTED BY NANDINI ON 14 APRIL 2020*@
<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb ed_breadcrumb_row">
                <div class="col-sm-6 ed_breadcrumb_div">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        <li class="li_margin">
                            <a href="#">Masters</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li class="li_margin">
                            <a href="@Url.Action("Index", "DropdownData")">Nav Menu</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 class="margin_left_h1">
                Nav Menu
                <small>Edit</small>
            </h1>
            <div style="clear: both;"></div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="box">

                        <!-- /.box-header -->
                        <div class="box-body">

                            @using (Html.BeginForm("Edit", "WetosNavMenuMaster", FormMethod.Post, new { id = "CreateBranchForm" }))
                            {
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationSummary(true)
                                </div>
                                @Html.HiddenFor(model => model.NavMenuId)

                                <div style="color: Red; font-size: 12px ">
                                    @Html.ValidationMessage("Error")
                                </div>

                                <div class="row">
                                    <div class="col-md-10">
                                        <input type="radio" id="opt1" name="opt" value="ParentWise" /> Parent Nav Menu
                                        <input type="radio" id="opt2" name="opt" value="ChildWise" checked="checked" /> Child Nav Menu

                                    </div>

                                </div>

                                <div class="row MeuNameId" style="padding-left: 0.3%;">
                                    <div class="editor-label col-md-2">
                                        Menu Name <span style="color:Red;font-size:18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">


                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                            </div>
                                            @Html.DropDownListFor(model => model.MenuNameId, (IEnumerable<SelectListItem>)@ViewBag.NavMenuParentList, "Select", new { @class = "form-control select2 border_r_l", style = "width:100%;", @id = "" })
                                            <div style="color: Red; font-size: 12px">
                                                @Html.ValidationMessageFor(model => model.MenuNameId)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row NavMenuNameId" style="padding-left: 0.3%;">
                                    <div class="editor-label col-md-2">
                                        Nav Menu Name<span style="color:Red;font-size:18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">


                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-university" aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.NavMenuName, new { @class = "form-control border_r_l", @style = "width:100%;" })

                                        </div>

                                        <div style="color: Red; font-size: 12px">
                                            @Html.ValidationMessageFor(model => model.NavMenuName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row NavLinkId" style="padding-left: 0.3%;">
                                    <div class="editor-label col-md-2">
                                        Nav Link <span style="color:Red;font-size:18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">


                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.NavLink, new { @class = "form-control border_r_l", @style = "width:100%;" })
                                            <div style="color: Red; font-size: 12px">
                                                @Html.ValidationMessageFor(model => model.NavLink)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 0.3%;">
                                    <div class="editor-label col-md-2">
                                        Sr.No.  <span style="color:Red;font-size:18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.SrNo, new { @class = "form-control border_r_l", @style = "width:100%;" })
                                            <div style="color: Red; font-size: 12px">
                                                @Html.ValidationMessageFor(model => model.SrNo)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 0.3%;">
                                    <div class="editor-label col-md-2">
                                        Icon  <span style="color:Red;font-size:18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                            </div>
                                            @Html.DropDownListFor(model => model.NavMenuIcon, (IEnumerable<SelectListItem>)@ViewBag.NavMenuIconList, "Select", new { @class = "form-control select2 border_r_l", style = "width:100%;", @id = "" })
                                            <div style="color: Red; font-size: 12px">
                                                @Html.ValidationMessageFor(model => model.NavMenuIcon)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <p class="margin_left_save">
                                    <input type="button" id="Branchbtn" value="Update" class="btn btn-default" style="cursor:pointer; float:left" title="Click to Update Nav Menu" />
                                    <span class="btn btn-default" style="cursor:pointer; float:left;margin-left:10px" title="Click to go back to Nav Menu List">@Html.ActionLink("Back to Nav Menu List", "Index")</span>

                                </p>

                            }

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    </div>
</div>
<div id="branchdiv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Do you Want to Update Nav Menu?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="col-md-2  btn btn-primary" id="DeleteBtn">
                    Yes
                </button>
                <button type="button" data-dismiss="modal" class="col-md-2 btn">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });



</script>
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
        $('[data-toggle="tooltip"]').tooltip();

        $(".SelectParentId").hide();
    });

    function goBack() {
        window.history.back();
    }


    $("#Branchbtn").click(function () {

        var $form = $(this).closest('form');
        $('#branchdiv').modal({ backdrop: 'static', keyboard: false })
            .one('click', '#DeleteBtn', function () {



                $("#CreateBranchForm").submit();
            });

    });


    //ADDED BY NANDINI ON 14 APRIL 2020
    $("input:radio[name=opt]").click(function () {
        // alert("SelectOS");
        if ($(this).val() == "ParentWise") {
            $(".SelectParentId").show();
            $(".MeuNameId").hide();
            $(".NavLinkId").hide();

        } else {
            $(".SelectParentId").hide();
            $(".MeuNameId").show();
            $(".NavLinkId ").show();


        }
    });

</script>
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
