@model IEnumerable<WetosDB.SP_VwActiveEmployee_Result>
@{
    ViewBag.Title = "Confirmation";
}
<ul class="menu">
    @foreach (var item in Model)
    {
         
        <li>
         @if (item.ConfirmDate != null)
         {
            <div class="col-md-12">
                <div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
                    @if (@item.Picture != null)
                    {
                        <img class="img-circle" src="@Url.Action("getImg", "Account", new { id = @item.EmployeeId })" height="30" width="30" alt="" />
                    }
                    else
                    { 
                        <img src="@Url.Content("~/images/userimage.jpg")"  height="30" width="30" alt="" />
                    }
                </div>
                <div class="col-md-7" style="padding-left: 0px; padding-right: 0px;">
                    @item.FirstName @item.LastName</div>
                <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
                    @String.Format("{0:g}", item.ConfirmDate.Value.ToString("dd-MMM"))
                </div>
            </div>
         }
         else { 
         <div class="col-md-12">
          No Data available
         </div>
         }
            <hr />
            <hr />
        </li>

      
    }
</ul>
