@*<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            Dashboard <small>statistics and more</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">Home </a><i class="fa fa-angle-right"></i>
            </li>
            <li><a href="#">Dashboard </a></li>
            <li class="pull-right">
                <div id="dashboard-report" title="Today's date">
                    <i class="fa fa-calendar"></i><span>@DateTime.Now.ToLongDateString()
                    </span>
                </div>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>*@
<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS -->
@*<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-male"></i>
            </div>
            <div class="details">
                <div class="number" id="malepresent">
                    @ViewBag.malepresent
                </div>
                <div class="desc">
                    Male Present
                </div>
            </div>
            <a class="more" href="#">View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-female"></i>
            </div>
            <div class="details">
                <div class="number" id="femalepresent">
                    @ViewBag.femalepresent
                </div>
                <div class="desc">
                    Female Present
                </div>
            </div>
            <a class="more" href="#">View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-user"></i>
            </div>
            <div class="details">
                <div class="number" id="totalpresent">
                    @ViewBag.total
                </div>
                <div class="desc">
                    Total
                </div>
            </div>
            <a class="more" href="#">View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>*@
<!-- END DASHBOARD STATS -->
<div>
    <span style="float: left">@Html.ActionLink("Employees reporting to me", "EmployeeReportingIndex", "Home")</span>
</div>
<div>
    <!-- Left side column. contains the logo and sidebar -->
    <!-- Content Wrapper. Contains page content -->
    <div class="row ">
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN PORTLET-->
            <div class="portlet box blue-madison calendar">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i>Calendar
                    </div>
                </div>
                <div class="portlet-body light-grey">
                    <div id="calendar">
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN PORTLET-->
            <div class="portlet">
                <div class="portlet-title line">
                    <div class="caption">
                        <div class="btn-toolbar margin-bottom-10">
                            <div class="btn-toolbar margin-bottom-10 pull-right">
                                <i class="fa fa-bell"></i>Notification
                                <button type="button" class="btn blue btn-xs" id="btnreadmore" name="btnreadmore"
                                    onclick="ReadMore()">
                                    Read More</button>
                            </div>
                        </div>
                    </div>
                    @*   <div class="tools">
                            <a href="" class="collapse"></a>
                            <a href="#portlet-config" data-toggle="modal" class="config"></a>
                            <a href="" class="reload"></a>
                            <a href="" class="remove"></a>
                        </div>*@
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="scroller" style="height: 290px;" data-always-visible="1" data-rail-visible="0">
                        </div>
                        <div class="cont-col2">
                            <div class="desc">
                                @*@msg.msgsubject*@ @* <span class="label label-sm label-danger ">
                                                                Take action <i class="fa fa-share"></i>
                                                            </span>*@
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="col2">
                    <div class="date">
                        @string.Format("{0:dd-MM-yyyy}", msg.msgdate)
                    </div>
                </div>*@
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
<div class="control-sidebar-bg">
</div>

<!-- ./wrapper -->
<!-- jQuery 2.2.3 -->
<script type="text/javascript">


</script>
