@model List<WetosDB.Notification>
@{
    int i = 0;
}
<style type="text/css">
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th
, .table > thead > tr > td, .table > thead > tr > th.table > tbody > tr > td, .table > tbody > tr > th
, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
{
    padding:2px 6px 2px 4px;
    }

</style>
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN CONTAINER -->
        <!-- BEGIN SIDEBAR -->
        <div id="MessageDet">
            @if (Model.Count() == 0)
            {
                <h4>
                    Seems like you do not have any Alerts or Messages</h4>
                <a href="javascript::" onclick="NewMessage()" class="btn blue" id="btnNew2">New</a>
                <a href="#" class="btn blue" onclick="Dashboard()">Back</a>
            }
            else
            {
                <div class="page-sidebar-wrapper col-lg-5">
                    <div class="portlet box green ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>Message Inbox
                            </div>
                            <div class="tools">
                                <div class="page-sidebar-wrapper ">
                                    @*<input type="button" id="btn default" onclick="Dashboard()" value="Back" />*@
                                    <a href="#" class="btn blue" onclick="Dashboard()">Back</a> <a href="javascript::"
                                        onclick="NewMessage()" class="btn blue" id="btnNew">New</a> @* <button type="button" class="btn btn-info" id="btnNew_Message" name="btnNew_Message" value="New">New</button>*@
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            @*<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">*@
                            <div id="left_pane " class="scroller" style="overflow-y: scroll; height: 400px;">
                              <div class="form-group">
                      @{ 
                          string timezoneId = System.Configuration.ConfigurationManager.AppSettings["TimeZoneId"]; 
                      }
                        <div class="col-md-2">
                            <div class="input-group input-medium date-picker input-daterange" data-date-format="dd-mm-yyyy">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datepicker" id="from" name="from" value="@TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById(timezoneId)).ToString("dd-MM-yyyy")"/>
                                <span class="input-group-addon">
                                   
                                    to </span>
                                <input type="text" class="form-control datepicker" id="to" name="to" value="@TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById(timezoneId)).ToString("dd-MM-yyyy")"/>
                                 <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        </div>
                        <br />
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th id="th_left_pane_date" class="date">
                                        Date
                                    </th>
                                    <th id="th_left_pane_message" class="longtext">
                                        Message
                                    </th>
                                </tr>
                            </thead>
                            @*@foreach (var item in Model.OrderByDescending(a => a.SendDate))*@
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td>
                                        @String.Format("{0:dd-MM-yyyy}", item.SendDate)
                                    </td>
                                    <td>

                                        <a class="detailsLink" href="javascript::" style="cursor:pointer" onclick="detailslink(@item.NotificationID)">@Html.Raw(@item.NotificationContent)</a>
                                        @*@Html.ActionLink(@item.NotificationContent, "MessageDetails", "Home", new { id = item.NotificationID }, new { @class="detailsLink" })*@
                                        @*<a id="msglink-@i" name="msglink-@i" onclick="ShowDetail(@item.msgid)" class = "detailsLink" >@item.msgsubject</a>*@
                                    </td>
                                </tr>
                            }
                        </table>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="col-md-7 col-lg-7">
                    <div id="HomeMessageContent" @*style="overflow-y: scroll; height: 400px;"*@>
                        <p>
                            Click on a message content in the list to view it</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        Layout.init(); // init current layout

    });

    //$(function () {
    //    alert();
    //    $('.detailsLink').click(function () {
    //        //alert();
    //        $('#HomeMessageContent').load(this.href);
    //        return false;
    //    });

    //    $('#btnNew').click(function () {
    //        $('#MessageDet').load(this.href);
    //        return false;
    //    });

    //});

    function Dashboard() {
        
        showloading();  //--- ADDED BY SHALAKA ON 21st JUNE 2017 TO DISPLAY PROGRESS RING
        $('#page_content').show();
        $("#div_readmore").html("");
        hideloading();  //--- ADDED BY SHALAKA ON 21st JUNE 2017 TO DISPLAY PROGRESS RING

    }


    function detailslink(id) {
        var id = id;
        $.ajax({
            url: '@Url.Content("~/Home/MessageDetails")',
            type: "POST",

            data: { id: id },  // + extractlast(request.term)
            success: function (data) {
                //alert("selected text: " + data.employeename + " value: " + data.employeeid);

                $("#HomeMessageContent").html(data);

            }
        });

    }

    function NewMessage() {
       
        showloading();  //--- ADDED BY SHALAKA ON 21st JUNE 2017 TO DISPLAY PROGRESS RING
        $.ajax({
            url: '@Url.Content("~/Home/Newmessage")',
            type: "GET",

            data: "",  // + extractlast(request.term)
            success: function (data) {
                //alert("selected text: " + data.employeename + " value: " + data.employeeid);

                $("#MessageDet").html(data);

            }
        });
        hideloading();  //--- ADDED BY SHALAKA ON 21st JUNE 2017 TO DISPLAY PROGRESS RING

    }

   

</script>
