@*---- Added by Shalaka on 21st July 2017 for Bar Chart ----*@
@{
    // Layout = null;
}
@System.Web.Optimization.Scripts.Render("~/bundles/Charts")
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
<div class="page-content">
    <section class="content-header">
            <h1>Chart <small>List</small>
                @*<span class="btn blue" data-toggle="tooltip" title="Add Branch" style="float:right;font-weight:800" onclick="ÖnAddBranchClick();">
                    @Html.ActionLink(" ", "Create", new { }, new { @class = "fa fa-plus-square", style = "color:white" })
                </span>*@
            </h1>

            
            <div class="row">
                <div class="col-md-12">
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="@Url.Action("Index", "Home")">Home </a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                         <a href="#">Chart</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "WetosChart")">Dahsboard</a>
                        </li>
                        <li class="pull-right">
                            <div id="dashboard-report"  data-toggle="tooltip" title="Today's date">
                                <span style="cursor: pointer" class="back "   data-toggle="tooltip" title="Back" id="goback"><i class="fa fa-arrow-left"></i>@*<a href="#" >Back</a>*@

                                </span>
                                <i class="fa fa-calendar"></i>
                                <span>@DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </div>  
            <div style="clear: both;"></div>           
        </section>
    <section class="content"> 
                 <div class="row">
                  <div class="Selectdate">
                <div class="col-md-3">
               <div class="form-group">
               From Date<span style="color:Red;font-size:18px" >*</span>

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control datepicker" data-date-fomat="dd-MMM-yyyy" name="FromDate" id="FromDate" />
                </div>
                
              </div>
              </div>
              
              <div class="col-md-3">
               <div class="form-group">
               To Date <span style="color:Red;font-size:18px" >*</span>

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control datepicker" data-date-fomat="dd-MMM-yyyy" name="ToDate" id="ToDate"/>
           </div>
                 
                </div>
                <!-- /.input group -->
              </div>

              <div class="col-md-3">
               <div class="form-group">
               Department <span style="color:Red;font-size:18px" >*</span>

                <div class="input-group date">
                 
                @Html.DropDownList("DepartmentId", (IEnumerable<SelectListItem>)@ViewBag.DepartmentNameList)
           </div>
                 
                </div>
                <!-- /.input group -->
              </div>

              <div class="col-md-3">
               <div class="form-group">
                 <input type="button" onclick="GetCharts();" value="Get Charts" />
                </div>
                <!-- /.input group -->
              </div>
     
              </div><br/>
                 </div>     
            <div class="row">
                <div class="col-xs-6">
                <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Bar Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="barcanvas" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
                    
   </div>
   <div class="col-xs-6">
   
   <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Doughnut Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="Doughnutcanvas" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
                    
    </div>
   </div>

<div class="row">
  <div class="col-md-6">
                <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Line Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="Linecanvas" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          </div>
   <div class="col-xs-6">
   <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Pie Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="Piecanvas" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
                    
   </div>
   </div>
   </section>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var ctx1 = document.getElementById("barcanvas").getContext("2d");
        window.myBar = new Chart(ctx1,
                    {
                        type: 'bar',
                        data: barChartData,
                        options:
                            {
                                title:
                                {
                                    display: true,
                                    text: "Bar Chart"
                                },
                                responsive: true,
                                maintainAspectRatio: true
                            }
                    });

        var ctx2 = document.getElementById("Doughnutcanvas").getContext("2d");
        window.myBar = new Chart(ctx2,
                    {
                        type: 'doughnut',
                        data: DoughnutChartData,
                        options:
                            {
                                title:
                                {
                                    display: true,
                                    text: "Doughnut Chart"
                                },
                                responsive: true,
                                maintainAspectRatio: true
                            }
                    });

        var ctx3 = document.getElementById("Linecanvas").getContext("2d");
        window.myBar = new Chart(ctx3,
                            {
                                type: 'line',
                                data: LineChartData,
                                options:
                                    {
                                        title:
                                        {
                                            display: true,
                                            text: "Line Chart"
                                        },
                                        responsive: true,
                                        maintainAspectRatio: true
                                    }
                            });

        var ctx4 = document.getElementById("Piecanvas").getContext("2d");
        window.myBar = new Chart(ctx4,
                    {
                        type: 'pie',
                        data: PieChartData,
                        options:
                            {
                                title:
                                {
                                    display: true,
                                    text: "Pie Chart"
                                },
                                responsive: true,
                                maintainAspectRatio: true
                            }
                    });

    });
</script>
<script type="text/javascript">
    var barChartData =
            {
                labels: [@Html.Raw(ViewBag.Productname_List)],
                datasets: [{
                    label: 'Department wise Late Employees in Per',
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.MobileCount_List]
                }]
            };

            var DoughnutChartData =
            {
                labels: [@Html.Raw(ViewBag.Productname_List)],
                datasets: [{
                    label: 'Department wise Late Employees in Per',
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.MobileCount_List]
                }]
            };

             var LineChartData =
            {
           labels: [@Html.Raw(ViewBag.Productname_List)],
           datasets: [{
                    label: 'Department wise Late Employees in Per',
                    backgroundColor: "rgba(255, 159, 64, 0.2)",
                    borderWidth: 2,
                    data: [@ViewBag.MobileCount_List]
                }]
            };



 var PieChartData =
            {
                labels: [@Html.Raw(ViewBag.Productname_List)],
                datasets: [{
                    label: 'Department wise Late Employees in Per',
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.MobileCount_List]
                }]
            };
</script>
<script type="text/javascript">
    $(function () {

        //Date picker
        $('.datepicker').datepicker({

            format: "dd-M-yyyy",

            autoclose: true
        });

    });
</script>
