@model IEnumerable<WetosDB.COMPOFFAPPLICATION>

@{
    ViewBag.Title = "Comp Off Application";
}

<h2>Comp Off Application</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
<table class="table table-striped">
    <tr>
        
        <th style = "font-weight:100">
            EMPLOYEE ID
        </th>
        <th style = "font-weight:100">
            FROM DATE
        </th>
        <th style = "font-weight:100">
            FROM DATE STATUS
        </th>
        @*<th>*@
           @* TODATE
        </th>
        <th>
            TODATESTATUS
        </th>*@
       @* <th>
            PURPOSE
        </th>*@
        @*<th>
            STATUS
        </th>
        <th>
            REJECTREASON
        </th>*@
        <th style = "font-weight:100">
            EXTRAS HOURS DATE
        </th>
       @* <th>
            BRANCHID
        </th>
        <th>
            COMPANYID
        </th>*@
        <th style = "font-weight:100"> ACTION </th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
       
        <td>
            @item.EMPLOYEEID
        </td>
        <td>
            @String.Format("{0:g}", item.FROMDATE)
        </td>
        <td>
            @item.FROMDATESTATUS
        </td>
        @*<td>
            @String.Format("{0:g}", item.TODATE)
        </td>
        <td>
            @item.TODATESTATUS
        </td>*@
       @* <td>
            @item.PURPOSE
        </td>*@
        @*<td>
            @item.STATUS
        </td>
        <td>
            @item.REJECTREASON
        </td>*@
        <td>
            @item.EXTRASHOURSDATE
        </td>
        @*<td>
            @item.BRANCHID
        </td>
        <td>
            @item.COMPANYID
        </td>*@
         <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompOffId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompOffId })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.CompOffId })*@
        </td>
    </tr>
}

</table>
</div>

