@model WetosDB.LeaveEncash
@{
    ViewBag.Title = "Encashment Application";
}
<link href="~/Content/css/enhancement_application.css" rel="stylesheet" />
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<style>
    input.input-validation-error {
        border: 1px solid #cccccc;
    }
</style>
<div>
    <div class="page-content-wrapper" id="page_content">
        <section class="content-header">
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb ed_breadcrumb_row">
                <div class="col-sm-6 ed_breadcrumb_div">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        <li class="li_margin">
                            <a href="#">Applications</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li class="li_margin">
                            <a href="@Url.Action("List", "WetosRole")">Encashment</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 class="margin_left_h1">
                Leave Encashment
                @* Application*@
                <small>
                    @*Leave Encashment*@
                    Application
                </small> @*Modified by Pushkar 0n 6 FEB 2017 for Breadcrumb*@
            </h1>
            <br />
            <div style="clear: both;"></div>
            @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="box box-primary">
                        @* <div class="box-header">
                            </div>*@
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                        <fieldset>

                            @*Modified by Shalaka on 28th DEC 2017 --- Start*@
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        Leave Type
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-list-alt"></i>
                                            </div>
                                            @Html.DropDownListFor(a => a.LeaveCode, (IEnumerable<SelectListItem>)ViewBag.LeaveCodeList, "Select", new { @class = "form-control select2" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.LeaveCode)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        Financial Year
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.DropDownListFor(a => a.FinancialYearId, (IEnumerable<SelectListItem>)ViewBag.FinancialYearList, "Select", new { @class = "form-control select2" })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.FinancialYearId)
                                    </div>
                                </div>
                            </div>
                            @*Modified by Shalaka on 28th DEC 2017 --- End*@

                            @*Modified by Shalaka on 28th DEC 2017 --- Start*@
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        No.Of Leave To Encash
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            @Html.EditorFor(model => model.EncashValue, new { htmlAttributes = new { @type = "number", @min = "1", @step = "1", @value = "0" }})

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Modified by Shalaka on 28th DEC 2017 --- End*@

                            <div>
                                <p class="margin_left_save">
                                    <input type="submit" id="create" value="Create" class="btn btn-primary" />
                                </p>
                            </div>
                        </fieldset>
                        }

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- jQuery 2.2.3 -->
<!-- Page script -->
@*Added by Shraddha For back breadcrumb on 17 DEC 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        //        $('a.back').click(function () {
        //            parent.history.back();
        //            return false;
        //        });


        //Above code commented and below modified code added by Shalaka on 28th DEC 2017 -- Start
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
        //Above code commented and below modified code added by Shalaka on 28th DEC 2017 -- End

    });

    function goBack() {
        window.history.back();
    }

    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

    });
</script>
