@model IEnumerable<WetosDB.SP_ActiveEmployeeInEmployeeMasterNew_Result>
@{
    ViewBag.Title = "Employee Master Active Employee List";
}
@System.Web.Optimization.Styles.Render("~/Content/DataTable")
@System.Web.Optimization.Scripts.Render("~/bundles/DataTable")
<link href="~/Content/css/wetos_employee_index.css" rel="stylesheet" />
 <link href="~/Content/allcss/allcss.css" rel="stylesheet" />
   

<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb ed_breadcrumb_row">
                <div class="col-sm-6 ed_breadcrumb_div">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        <li class="li_margin"><a href="#">Masters </a> <i class="fa fa-angle-right"></i> </li>
                        
                        <li class="li_margin"><a href="@Url.Action("Index", "WetosEmployee")">Employee</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @*@DateTime.Now.ToLongDateString()*@
                                    @{
                                        string timezoneId = System.Configuration.ConfigurationManager.AppSettings["TimeZoneId"];
                                    }
                                    @TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById(timezoneId)).ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 class="margin_left_h1">Employee Master
        <small>Active Employee List</small>
        <span class="fa fa-users m_margin3"  data-toggle="tooltip" title="Click to get list of all Employees" style="font-size:20px;float:right;color:blue;margin:5px;cursor:pointer;margin-right:2%" onclick="@("window.location.href='" + @Url.Action("AllEmployees", "WetosEmployee") + "'")"></span>
        <span class="fa fa-plus-square m_margin2"  data-toggle="tooltip" title="Click to add new employee" style="font-size:20px;float:right;color:blue;margin:5px;cursor:pointer" onclick="@("window.location.href='" + @Url.Action("Create", "WetosEmployee") + "'")"></span>  
        <span class="fa fa-share-square-o m_margin1"  data-toggle="tooltip" title="Click to Export employee list" style="font-size:20px;float:right;color:blue;margin:5px;cursor:pointer" onclick="@("window.location.href='" + @Url.Action("ExportData", "WetosEmployee") + "'")"></span>   
        @*<span style="float: right" class="btn btn-default">@Html.ActionLink("Export To Excel", "ExportData")</span>*@
    </h1>
    <div style="clear: both;">
    </div>

    @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

</section>
        <section class="content">
    <div class ="row">
       
        <div class="col-xs-12">
            <div class="box">
                
                <div class="box-body">
                <div class="table-responsive">
                 
                    @* <span style="float:left">@Html.ActionLink("Export To PDF", "ExportDatatoPDF")</span>*@
                    <table id="EmployeeMaster" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>Employee No.
                                </td>                               
                                <td>Name Of Employee
                                </td>                               
                                <td>Branch</td>
                                <td>Date Of Joining</td>  
                                <td>Department
                                </td>
                                <td>Designation
                                </td>
                                <td>Reporting to
                                </td> 
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                @* Added by Rajas on 10 MARCH 2017 for Active/Inactive employee*@ 
                                    <td>
                                    @*@{var Leaveingdate = Convert.ToDateTime("1900/01/01");}
                                     @if (item.Leavingdate == Leaveingdate)
                                     {
                                <div style="background-color: Green; width: 10px; height: 10px; margin-left: -9px;
                                    margin-top: -9px">
                                </div> 
                                
                                     }
                                     else
                                     { 
                                <div style="background-color: Red; width: 10px; height: 10px; margin-left: -9px;
                                    margin-top: -9px">
                                </div> 
                                <div style="display: none">
                                    Resigned</div>
                                     }*@
                                        <a href="@Url.Action("Details", "WetosEmployee", new { id = item.EmployeeId })" title="Click to view Employees profile">
                                            @item.EmployeeCode</a>
                                    </td>                                   
                                    <td>
                                     @{var Leaveingdate = Convert.ToDateTime("1900/01/01");}
                                     @if (item.Leavingdate == Leaveingdate || item.Leavingdate == null || item.Leavingdate > DateTime.Now.Date)
                                     {
                                    <span style="color:green;font-weight:900">  @item.FirstName @item.MiddleName @item.LastName </span> @* Title removed as part of consistent views on 18 MARCH 2017 by Rajas *@
                                         <span style="display: none">
                                    Active</span>
                                     }
                                     else
                                     {
                                        <span  style="color:red;font-weight:900">  @item.FirstName @item.MiddleName @item.LastName </span> 
                                     <span style="display: none">
                                    Resigned</span>
                                     }
                                    </td>                                   
                                    <td>
                                        @item.BranchName
                                    </td>
                                    <td>
                                    @{var JoiningDate = item.JoiningDate == null ? "" : item.JoiningDate.Value.ToString("dd-MMM-yyyy");}
                                        @JoiningDate                                       
                                    </td>                                   
                                    @{TimeSpan ts = (Convert.ToDateTime(DateTime.Now)) - (Convert.ToDateTime(item.BirthDate));
                                      int Age = ts.Days;
                                      int year = Convert.ToInt32(Age / 365);
                                    }                                  
                                    <td>
                                        @item.DepartmentName        </td>
                                    <td>
                                        @item.DesignationName
                                    </td>
                                    <td>
                                        @item.Reporting_Person
                                    </td>   
                                    <td>
                                      
                                        <span data-toggle="tooltip" title="Edit">
                                                @Html.ActionLink(" ", "Edit", new { id = item.EmployeeId }, new { @class = "fa fa-pencil-square-o" })</span>
                                                           
                                    </td>
                                </tr>  
                            }
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    </div>



                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
     
    </div>
    <!-- /.box -->
    </div>
    <!-- /.row -->
    </section>
    </div>
</div>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }

</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
<script type="text/jscript">
    $(function () {

        $("#EmployeeMaster").DataTable({
            //"aLengthMenu": [50]
        });

    });

  
</script>
