@model IEnumerable<WetosDB.Employee>
    <div class="col-md-12">
        <h3>
            Employee List
        </h3>
    </div>
    @using (Html.BeginForm())
    {
        <div style="color: Red; font-size: 12px">
            @Html.ValidationSummary(true)
        </div>
        <section>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">

                                <table id="employeelist" class="table table-bordered table-striped">
                                    <thead>

                                        <tr>
                                            <td>Select All <input type="checkbox" onchange="checkAll(this)" name="chk[]" /></td>
                                            <td>
                                                Name
                                            </td>

                                        </tr>

                                    </thead>

                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td><input type="checkbox" id="chk1" value="@item.EmployeeId" name="chk1[]" /></td>
                                                <td>
                                                    @item.EmployeeCode - @item.FirstName @item.LastName
                                                </td>

                                            </tr>
                                        }
                                    </tbody>

                                    <tfoot>

                                    </tfoot>

                                </table>
                            </div>

                            <div class="row">
                                <button type="button" onclick="selectemployee()" class="btn btn-primary">Save and Submit selection</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    <script type="text/javascript">
        $(function () {

            $("#employeelist").DataTable();

        });

        function checkAll(ele) {
            //alert();
            var checkboxes = document.getElementsByTagName('input');
            if (ele.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = true;
                    }
                }
            } else {
                for (var i = 0; i < checkboxes.length; i++) {
                    console.log(i)
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = false;
                    }
                }
            }
        }

        function selectemployee() {

            var selemployee = $("#chk1").val();
            alert(selemployee);
        }
    </script>
