@model IEnumerable<WetosMVCMainApp.Models.LeaveCalculationSheetModel>
    @{
        ViewBag.Title = "Leave Calculation Report";
    }
    <link href="~/Content/allcss/allcss.css" rel="stylesheet" />

    <span class="btn blue fa fa-share-square-o" data-toggle="tooltip" title="Click to Export Leave Data" style="float:right;color:white;margin:5px" onclick="@("window.location.href='" + @Url.Action("ExportData", "WetosReports", new { @FromDate = @ViewBag.FromDate, @ToDate = @ViewBag.ToDate }) + "'")">
    </span>@* <span style="float: left" class="btn btn-default">@Html.ActionLink("Export To Excel", "ExportData", new { @FromDate = @ViewBag.FromDate, @ToDate = @ViewBag.ToDate })</span>
    *@
    <span> @ViewBag.ReturnMessage </span>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                @* <td></td>*@ @* <td>
                        EmployeeID
                    </td>*@
                <td>
                    Employee Code
                </td>
                <td>
                    Name Of Employee
                </td>
                <td>
                    Leave
                </td>
                <td>
                    Opening Leave in @ViewBag.FromDate
                </td>
                <td>
                    Allowed Leaves in @ViewBag.FromDate
                </td>
                <td>
                    Leaves Taken in @ViewBag.FromDate
                </td>
                <td>
                    Paid Leaves  in @ViewBag.FromDate
                </td>
                <td>
                    Unpaid Leaves in @ViewBag.FromDate
                </td>
                @* <td>
                        AppliedDays
                    </td>*@ @*<td>
                        FromDate
                    </td>
                    <td>
                        ToDate
                    </td>
                    <td>
                        FromDayStatus
                    </td>
                    <td>
                        ToDayStatus
                    </td>*@ @* <td>
                            LeaveType
                        </td>
                        <td>
                            ConfirmDate
                        </td>
                        <td>
                            LeaveStatus
                        </td>*@ @* <td>
                            Branch
                        </td>
                        <td>
                            Company
                        </td>*@ @* <td>
                                PreviousBalance
                            </td>
                            <td>
                                CurrentBalance
                            </td>
                            <td>
                                LeaveUsed
                            </td>*@ @*<td>
                                OpeningBalance
                            </td>*@ @*<td>
                                    Encash
                                </td>
                                <td>
                                    Availed
                                </td>
                                <td>
                                    CarryForward
                                </td>*@
                            <td>
                                Total Days
                            </td>
                            <td>
                                Total Payable Days Before deducting Late Marks
                            </td>
                            <td>
                                Closing Leave Balance @ViewBag.FromDate

                            </td>
                            <td>
                                LateMarks
                            </td>
                            @* <td>
                                    Total LWP
                                </td>*@
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @* <td>
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>*@ @* <td>
                                        @item.EmployeeID
                                    </td>*@


                                    <td>
                                        @item.EmployeeNumber
                                    </td>
                                    <td>
                                        @item.NameOfEmployee
                                    </td>
                                    @* <td>
                                            @item.NameofCompany
                                        </td>*@
                                    @* <td>
                                            @item.OpeningBalance
                                        </td>*@

                                    <td>
                                        @item.LeaveType
                                    </td>
                                    <td>
                                        @item.CurrentBalance
                                    </td>
                                    <td>
                                        @item.AllowedLeaves
                                    </td>
                                    <td>
                                        @item.AppliedDays
                                </td>
                                <td>
                                    @item.PaidLeaves
                                </td>
                                <td>
                                    @item.UnpaidLeaves
                                </td>
                                @* <td>
                                        @item.AppliedDays
                                    </td>*@ @*<td>
                                        @item.FromDate
                                    </td>
                                    <td>
                                        @item.ToDate
                                    </td>
                                    <td>
                                        @item.FromDayStatus
                                    </td>
                                    <td>
                                        @item.ToDayStatus
                                    </td>*@ @* <td>
                                            @item.LeaveType
                                        </td>
                                        <td>
                                            @item.ConfirmDate
                                        </td>
                                        <td>
                                            @item.LeaveStatus
                                        </td>*@ @* <td>
                                            @item.Branch
                                        </td>
                                        <td>
                                            @item.Company
                                        </td>*@ @*<td>
                                                @item.PreviousBalance
                                            </td>
                                            <td>
                                                @item.CurrentBalance
                                            </td>
                                            <td>
                                                @item.LeaveUsed
                                            </td>*@ @* <td>
                                                @item.OpeningBalance
                                            </td>*@ @*<td>
                                                    @item.Encash
                                                </td>
                                                <td>
                                                    @item.Availed
                                                </td>
                                                <td>
                                                    @item.CarryForward
                                                </td>*@
                                            <td>
                                                @item.TotalDays
                                            </td>
                                            <td>
                                                @item.TotalPayableDays
                                            </td>
                                            <td>
                                                @item.ClosingBalance
                                            </td>
                                            <td>
                                                @item.LateMarks
                                            </td>
                                            @*<td>
                                                    @item.TotalLWP
                                                </td>*@
                                        </tr>
                                    }
                    </table>
                </div>
