@model WetosMVCMainApp.Models.MonthlyReportsModel
@{
    ViewBag.Title = "Monthly Report Details";
}
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/daterangepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")" type="text/javascript"></script>*@
<link href="~/Content/css/monthly_report_index.css" rel="stylesheet" />
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />
<style>
    .Selectdate {
        padding-left: 15px;
    }
    .padding_left {
        padding-left: 15px;
    }
    input[type=radio] {
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal;
        margin-right: 3%;
    }
</style>
<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">


            <!-- <div class="row">
                      <div class="col-md-12">
                          <ul class="page-breadcrumb breadcrumb">
                              <li>
                                  <i class="fa fa-home"></i>
                                  <a href="@Url.Action("Index", "Home")">Home </a>
                                  <i class="fa fa-angle-right"></i>
                              </li>
                              <li>
                               <a href="#">Reports</a>
                                  <i class="fa fa-angle-right"></i>
                              </li>
                              <li>
                                  <a href="#">Monthly Report</a>
                              </li>
                              <li class="pull-right">
                                  <div id="dashboard-report"  data-toggle="tooltip" title="Today's date">
                                      <span style="cursor:pointer" class="back "  data-toggle="tooltip" title="Back" id="goback"><i class="fa fa-arrow-left"></i></span>
                                      <i class="fa fa-calendar"></i>
                                      <span>@DateTime.Now.ToLongDateString()</span>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div> -->
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb ed_breadcrumb_row">
                <div class="col-sm-6 ed_breadcrumb_div">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        <li class="li_margin">
                            <a href="#">Reports</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li class="li_margin">
                            <a href="#">Monthly Report</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @*@DateTime.Now.ToLongDateString()*@
                                    @{
                                        string timezoneId = System.Configuration.ConfigurationManager.AppSettings["TimeZoneId"];
                                    }
                                    @TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById(timezoneId)).ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 class="margin_left_h1">
                Monthly Report
                <small> Details</small>

                @if (@Model.UserId == 1)
                {
                    @* <span id="btnusers" class="btn blue fa fa-users" title="Reports for all"
                            style="float: right; color: white; margin: 5px" onclick="OnBtnUsersClick();">
                        </span>*@
                    <span class="fa fa-users" data-toggle="tooltip" title="Reports for all"
                          style="float: right; color: blue;font-size:20px; margin: 2px;cursor:pointer;margin-right: 4%;" onclick="OnBtnUsersClick();">
                    </span>
                }
                else if (@Model.UserId == 6)
                {
                    <span class="fa fa-users" data-toggle="tooltip" title="Branch Admin Report"
                          style="float: right; color: blue;font-size:20px; margin: 2px;cursor:pointer;margin-right: 4%;" onclick="OnBtnUsersClick();">
                    </span>
                }
            </h1>



            @*Added by Pushkar For back breadcrumb on 24 OCT 2016----------Start*@
            <div style="clear: both;"></div>

            @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

        </section>
        @*<fieldset id="infoForm">*@
        @using (Html.BeginForm())
        {
            <div style="color: Red; font-size: 12px">
                @Html.ValidationSummary(true)
            </div>
            <section class="content">

                @Html.HiddenFor(a => a.CompanyId)
                @Html.HiddenFor(a => a.BranchId)
                @Html.HiddenFor(a => a.DepartmentId)
                @* @Html.HiddenFor(a => a.EmployeeId)*@

                @*@Html.HiddenFor(a => a.FinancialYearId)   *@

                <div class="box">
                    <div class="box-header">
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body">
                        @*Added by Rajas on 23 DEC 2016 For custom error message START*@
                        @*<div style="color: Red; font-size: 12px">
                            @Html.ValidationMessage("Error")
                            </div>*@
                        @*Added by Rajas on 23 DEC 2016 For custom error message END*@
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "16", new { Checked = "checked", @name = "Report" }) Monthly Muster
                                    </div>
                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "2", new { @name = "Report" }) Continuous Absenteeism
                                    </div>
                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "3", new { @name = "Report" }) Late Summary
                                    </div>

                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "5", new { @name = "Report" }) OD Requisition Application
                                    </div>
                                    @* <div class="row">
                                         @Html.RadioButtonFor(model => model.RaportSelected, "6", new { @name = "Report" }) Late Coming Report
                                        </div>*@
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "1", new { @name = "Report" }) Monthly Working Hours
                                    </div>

                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "9", new { @name = "Report" }) Absenteeism
                                    </div>
                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "10", new { @name = "Report" }) Leave Application
                                    </div>
                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "18", new { @name = "Report" }) OT Summary
                                    </div>
                                    @* <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "12", new { @name = "Report" }) Lunch Late Employee
                                        </div>*@
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "4", new { @name = "Report" }) Time Card
                                    </div>
                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "8", new { @name = "Report" }) Attendance Summary
                                    </div>
                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.RaportSelected, "11", new { @name = "Report" }) Leave Balance
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row padding_left">
                            <div class="col-md-12">
                                <input type="radio" name="opt" checked="checked" value="DateRangeWise" /> <span style="margin-left:-2.5%;">Date Range Wise</span>
                                <input type="radio" name="opt" value="MonthWise" /> <span style="margin-left:-2.5%;">Month Wise</span>
</div>
                        </div>


                        <div class="row Selectmonth padding_left" style="display:none;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        Year <span style="color: Red; font-size: 18px">*</span>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.DropDownListFor(a => a.FinancialYearId, (IEnumerable<SelectListItem>)@ViewBag.YearListVB, "Select", new { @class = "form-control select2", style = "width:200px", @id = "FYid" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    Month <span style="color:Red;font-size:18px">*</span>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.DropDownListFor(a => a.MonthId, (IEnumerable<SelectListItem>)@ViewBag.MonthListVB, "Select", new { @class = "form-control select2", style = "width:200px", @id = "Month" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Selectdate" style="display:none;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    From Date<span style="color:Red;font-size:18px">*</span>

                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datepicker" data-date-fomat="dd-MMM-yyyy" name="FromDate" id="FromDate" value="@String.Format("{0:dd-MMM-yyyy}", @Model.FromDate)" />
                                    </div>
                                    <div style="color:Red;font-size:12px">
                                        @Html.ValidationMessageFor(model => model.FromDate)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    To Date <span style="color:Red;font-size:18px">*</span>

                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datepicker" data-date-fomat="dd-MMM-yyyy" name="ToDate" id="ToDate" value="@String.Format("{0:dd-MMM-yyyy}", @Model.ToDate)" />
                                    </div>
                                    <div style="color:Red;font-size:12px">
                                        @Html.ValidationMessageFor(model => model.ToDate)
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        @*Below code Added by shalaka on 23rd DEC 2017 --- Start *@

                        @*<div class="row">
                              <div class="editor-label col-md-2">
                            Branch Name<span style="color:Red;font-size:18px" >*</span>
                               </div>
                               <div class="editor-field col-md-5">
                               <div class="input-group date">
                                 <div class="input-group-addon">
                                          <i class="fa fa-university" aria-hidden="true"></i>
                                         </div>
                               @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)@ViewBag.BranchNameList, "ALL", new { @class = "form-control select2", id = "BranchddlList" })
                               <div style="color:Red;font-size:12px">
                               </div>
                               </div>
                               </div>
                               </div> <br/>*@

                        @*<div class="row">
                              <div class="editor-label col-md-2">
                            Department Name<span style="color:Red;font-size:18px" >*</span>
                               </div>
                               <div class="editor-field col-md-5">
                                 <div class="input-group date">
                                 <div class="input-group-addon">
                                          <i class="fa fa-suitcase" aria-hidden="true"></i>
                                         </div>
                               @Html.DropDownListFor(a => a.DepartmentId, (IEnumerable<SelectListItem>)@ViewBag.DepartmentNameList, "ALL", new { @class = "form-control select2", id = "DepartmentddlList" })
                               <div style="color:Red;font-size:12px">
                              </div>
                              </div>
                               </div>
                               </div>*@
                        <br />

                        @*Modified below code by Shalaka on 04th JAN 2018--- Start*@


                        @*<div class="col-md-1">
                            <input type="button" id="BtnSubmit" data-toggle="tooltip" title="Show Data" value="Show Data"/>
                            </div>*@
                    </div>

                    <div class="row padding_left">
                        <div class="col-md-4">
                            <div class="form-group">
                                Select Employee
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)@ViewBag.EmployeeList, new { @class = "form-control select2 multiselect", @multiple = "multiple", id = "selectemployee" })
                                </div>
                                <input type="checkbox" id="checkbox" /> Select All
                            </div>
                        </div>
                        @*Modified below code by Shalaka on 04th JAN 2018--- Start*@

                        <br />

                        <div class="row status">
                            <div class="editor-label col-md-2">
                                Select Status
                            </div>
                            <div class="editor-field col-md-8">
                                @Html.RadioButtonFor(model => model.Status, 1, new { Checked = "checked" }) Pending
                                @Html.RadioButtonFor(model => model.Status, 2) Sanctioned
                                @Html.RadioButtonFor(model => model.Status, 3) Rejected
                            </div>
                        </div>

                        @*   <div class ="row">
                            <div class="editor-label col-md-2">
                            Select Report format
                            </div>
                            <div class="editor-field col-md-8">
                             @Html.RadioButtonFor(model => model.ReportFormat, 1) PDF
                               @Html.RadioButtonFor(model => model.ReportFormat, 2) Excel
                                </div>
                                 </div>*@


                        <div class="row">
                            @*<div class="col-md-2">
                                <input type="button" value="Select Employee"  id="selectemployee" class="btn btn-secondary"/>
                                </div>*@  @*onclick="onclickEmployeeEnable()"*@

                                <div class="col-md-12" style="padding-left:15px">
                                    @*CODE MODIFIED BY SHRADDHA ON 01 NOV 2017 TAKEN EXPORT TO EXCEL AND EXPORT TO PDF VISIBLE OR HIDDEN BASED ON GLOBAL SETTING START*@
                                    @if (ViewBag.ExportToPDFEnabledObj == 1)
                                    {
                                        <button type="submit" id="Export" name="Export" value="1" class="btn btn-primary" title="Click to export PDF">Export to PDF</button>
                                    }
                                    @if (ViewBag.ExportToExcelEnabledObj == 1)
                                    {
                                        <button type="submit" id="ExportExcel" name="Export" value="2" class="btn btn-primary" title="Click to export Excel" onclick="OnBtnExporttoExcel();">Export to Excel</button>
                                    }
                                    @*CODE MODIFIED BY SHRADDHA ON 01 NOV 2017 TAKEN EXPORT TO EXCEL AND EXPORT TO PDF VISIBLE OR HIDDEN BASED ON GLOBAL SETTING END*@
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <div id="EmployeeList">
                </div>
            }
        @*</fieldset>*@
    </div>
</div>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">



    $(document).ready(function () {

        //$("#Employeeddl").prop("disabled", true);
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
        $(".status").css('display', 'none');
    });

    function goBack() {
        window.history.back();
    }



    // Added by Rajas on 9 FEB 2017
    //    $("input[name = 'RaportSelected']").on('change', function () {
    //        if ($(this).val() == "5" || $(this).val() == "10") {

    //            $(".status").css('display', 'inline');
    //        }
    //        else {

    //            $(".status").css('display', 'none');
    //        }
    //    });

    //    // Added by Rajas on 22 MAY 2017
    //    $("input[name = 'RaportSelected']").on('change', function () {
    //        if ($(this).val() == "11") {

    //            $(".Selectdate").css('display', 'none');
    //        }
    //        else {

    //            $(".Selectdate").css('display', 'inline');
    //        }
    //    });
    //


</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
<script type="text/javascript">
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
        //$(".js-example-basic-multiple").select2();
        //Datemask dd/mm/yyyy


        //Date picker
        $('.datepicker').datepicker({

            format: "dd-M-yyyy",
            autoclose: true
        });

    });


    // Added by Rajas on 27 DEC 2016 to fill drop down list on selection of other drop down
    $("#CompanyddlList").change(function () {

        //alert("GET Branch");

        isDirty = false;
        var companyid = +$("#CompanyddlList").val();

        $.ajax({
            url: '@Url.Content("~/WetosReports/GetBranch")',
            type: "POST",
            dataType: "json",
            data: { Companyid: companyid },
            success: function (data) {
                $("#BranchddlList").empty();

                $("#BranchddlList").append("<option value=" + "0" + ">" + "Select" + "</option>");
                for (var i = 0; i < data.length; i++) {
                    $("#BranchddlList").append("<option value=" + "" + data[i].BranchId + "" + ">" + data[i].BranchName + "</option>");
                }
            },
            error: function (data) {
                //                alert("ERROR");
                //                alert(data);

                for (var i = 0; i < data.length; i++) {

                    // alert(states[i].Group_name);
                    // states.option.selected = true;
                    $("#BranchddlList").append("<option value=" + "" + data[i].BranchId + "" + ">" + data[i].BranchName + "</option>");
                    //$("#DepartmentddlList").append("<option value=" + "" + data[i].DepartmentId + "" + ">" + data[i].DepartmentName + "</option>");
                    //SelectEmployeeList();
                }
            }
        });

    });

    $("#BranchddlList").change(function () {
        // alert($("#Group_code").val());
        isDirty = false;
        var branchid = +$("#BranchddlList").val();
        $.ajax({
            url: '@Url.Content("~/WetosReports/GetDepartment")',
            type: "POST",
            dataType: "json",
            data: { Branchid: branchid },
            success: function (data) {

                $("#DepartmentddlList").empty();

                $("#DepartmentddlList").append("<option value=" + "0" + ">" + "Select" + "</option>");

                for (var i = 0; i < data.length; i++) {

                    //alert(states[i].Group_name);
                    // states.option.selected = true;
                    $("#DepartmentddlList").append("<option value=" + "" + data[i].DepartmentId + "" + ">" + data[i].DepartmentName + "</option>");

                }
                SelectEmployeeList();

            },
            error: function (data) {
                //alert("hello");
            }
        });
    });

    $("#DepartmentddlList").change(function () {
        var Departmentid = +$("#DepartmentddlList").val();  // Added by Rajas on 25 JULY 2017
        SelectEmployeeList();

    });

    function SelectEmployeeList() {
        //alert("1");
        showloading();
        //alert($("#Application_ID").val());
        //isDirty = false;
        var Companyid = $("#CompanyddlList").val();  // Used +$ to handle null values, as Companyid of type int
        //alert(Companyid);
        var Branchid = $("#BranchddlList").val();   // Used +$ to handle null values, as Branchid of type int
        //alert(Branchid);
        var Departmentid = $("#DepartmentddlList").val();   // Used +$ to handle null values, as Departmentid of type int
        //alert(Departmentid);
        //alert("Ajax call");
        var Fromdate = $("#FromDate").val();
        //alert(Fromdate);
        var Todate = $("#ToDate").val();
        var EmployeeTypeId = null;
        $.ajax({
            url: '@Url.Content("~/WetosReports/GetEmployeeDateSelection")',
            type: "POST",
            dataType: "json",
            data: { Companyid: Companyid, Branchid: Branchid, Departmentid: Departmentid, EmployeeTypeId: EmployeeTypeId, Fromdate: Fromdate, Todate: Todate },
            success: function (data) {
                //alert("Success");
                $("#selectemployee").empty();
                for (var i = 0; i < data.length; i++) {

                    // Updated by Rajas on 8 FEB 2017 replaced data[i].FirstName + " " + data[i].LastName with  data[i].EmployeeName
                    $("#selectemployee").append("<option value=" + "" + data[i].EmployeeId + "" + ">" + data[i].EmployeeName + "</option>");
                }
                hideloading();
            },
            error: function (data) {
                //alert("error");
                hideloading();
            }

        });
    }

    // Uncommented and updated by Rajas on 8 FEB 2017 END

    // Added by Rajas on 7 FEB 2017 START
    $(".multiselect").select2();
    $("#checkbox").click(function () {
        //alert(multiselect);
        if ($("#checkbox").is(':checked')) {
            $(".multiselect > option").prop("selected", "selected");
            $(".multiselect").trigger("change");
        }
        else {
            //alert(multiselect);
            $(".multiselect > option").removeAttr("selected");
            $(".multiselect").trigger("change");
        }
    });
    // Added by Rajas on 7 FEB 2017 END


    //--- Added by Shalaka For progress ring on 22nd June 2017*----Start
    // OnBtnODTravelClick function to export PDF
    function OnBtnExporttoPdf() {
        // alert("loading");
        //showloading();
        //$("#MonthlyReport").submit();
        //$(this).submit();
        // alert("hide loading");
        //   hideloading();

        //showloading();
        //alert("before loading");
        var infoForm = $("#infoForm");
        DownloadFile(infoForm);

        //alert("after loading");
    }
    //--- End
</script>
<script type="text/javascript">
    // OnBtnODTravelClick function to export excel
    function OnBtnExporttoExcel() {
        //showloading();
    }
</script>
<script type="text/javascript">
    function OnBtnUsersClick() {
        //alert("Yes");
        showloading();
        window.location.href = '@Url.Action("MonthlyReportsIndexHR", "WetosReports")';
        hideloading();
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $("input:radio[name=opt]").click(function () {
            if ($(this).val() == "MonthWise") {
                $(".Selectmonth").show();
                $(".Selectdate").hide();
            } else {
                $(".Selectmonth").hide();
                $(".Selectdate").show();
            }
        });
    });

    $(function () {
        var $radios = $('input:radio[name=opt]');

        //alert($radios.val());

        if ($radios.val() == "MonthWise") {
            $(".Selectmonth").show();
            $(".Selectdate").hide();
        } else {
            $(".Selectmonth").hide();
            $(".Selectdate").show();
        }
    });
</script>
<script type="text/javascript">
    function DownloadFile(formContainer) {
        //$('#progressMsg').show();
        showloading();


        // alert("before DownloadFile 1");

        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '@Url.Content("~/WetosReports/MonthlyReportsIndex")',                // "/MonthlyReportsIndex/SetupExport",
            data: formContainer.serialize(),
            success: function (result) {

                alert("before DownloadFile 2");
                if (result.success) {
                    //$('#progressMsg').hide();
                    hideloading();
                    //alert("before DownloadFile 3");

                    var ROOT = '@Url.Content("~/")';

                    //alert("before DownloadFile 4");

                    var URL = ROOT + "WetosReports/DownloadExport" + "?fileName=" + result.fileName; // data;
                    //window.open("/WetosReports/DownloadExport" + "?fileName=" + result.fileName);

                    //alert("before DownloadFile 5");

                    //alert(URL);

                    //window.open(URL);

                    var w = window.open(URL);
                    w.document.title = 'Testing';



                    //alert("before DownloadFile 6");
                }
            },
            error: function () {
                //show your error here;
            }
        });
    }
</script>
@*<script type="text/javascript">
          $('[id^=form]').submit(function resetValidation() {
              //Removes validation summary
              $('.validation-summary-errors').addClass('validation-summary-valid');
              $('.validation-summary-errors').removeClass('validation-summary-errors');
          });
    </script>*@
<script type="text/javascript">

    $.fn.clearErrors = function () {
        //alert("TEST");
        $(this).each(function () {
            $(this).trigger('reset.unobtrusiveValidation');
        });
    };

    $("#FromDate").change(function () {
        //alert("TEST");
        $("#FromDate").trigger('reset.unobtrusiveValidation');
    });

    $("#ToDate").change(function () {
        //alert("TEST");
        $("#ToDate").trigger('reset.unobtrusiveValidation');
    });
</script>
