@model WetosDB.LeaveEncash
@{
    ViewBag.Title = "Encashment Application";
}
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<div>
    <section class="content-header">
 <h1>
       @*Application*@
       Leave Encashment
        <small>@*Leave Encashment*@
        Application </small>@*Modified by Pushkar 0n 6 FEB 2017*@
      </h1>
      <div class="row">
                <div class="col-md-12">
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="@Url.Action("Index", "Home")">Home </a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                         <a href="#">Applications</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">on Behalf of Encashment Application</a>
                        </li>
                        <li class="pull-right">
                            <div id="dashboard-report"  data-toggle="tooltip" title="Today's date">
                                <span style="cursor:pointer" class="back "  data-toggle="tooltip" title="Back" id="goback"><i class="fa fa-arrow-left"></i></span>
                                <i class="fa fa-calendar"></i>
                                <span>@DateTime.Now.ToLongDateString()</span>                           
                            </div>
                        </li>              
                    </ul>
                </div>
            </div>
  
       @*Added by Pushkar For back breadcrumb on 24 OCT 2016----------Start*@
     
      <div style="clear: both;"></div>

       @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

    </section>
</div>
<section class="content">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="box box-primary">
            <div class="box-header">
              
            </div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <fieldset>
       
        @Html.HiddenFor(a => a.Status)
        @Html.HiddenFor(a => a.RejectReason)
      
        <div class="row">
         <div class="form-group">
              <div class="col-md-6">
               <div class="col-md-4">
          Company Name<span style="color:Red;font-size:18px" >*</span>
        </div>
        <div class="col-md-8">
           
             @Html.DropDownListFor(a => a.CompanyId, (IEnumerable<SelectListItem>)ViewBag.CompanyList, "Select", new { @class = "form-control select2", id = "CompanyddlList" })
           @* @Html.ValidationMessageFor(model => model.EmployeeId)*@
        </div>
        </div>  

         <div class="col-md-6">
         <div class="col-md-3">
         Branch Name<span style="color:Red;font-size:18px" >*</span>
        </div>
        <div class="col-md-7">
            @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select", new { @class = "form-control select2", id = "BranchddlList" })
           
           @* @Html.ValidationMessageFor(model => model.EmployeeId)*@
        </div>
        </div>
          </div>
        </div>
        <br />

        <div class="row" id="EmployeeNameId">
              <div class="col-md-6">
               <div class="col-md-4">
         Search Employee<span style="color:Red;font-size:18px" >*</span>
        </div>
        <div class="col-md-8">
           
             @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.EmployeeCodeAndNameList, "Select", new { @class = "form-control select2", id = "EmployeeddlList" })
           @* @Html.ValidationMessageFor(model => model.EmployeeId)*@
        </div>
        </div>
               <div class="col-md-6">
               <div class="col-md-3">
        Leave Type<span style="color:Red;font-size:18px" >*</span>
        </div>
        <div class="col-md-7">
           
              @Html.DropDownListFor(a => a.LeaveCode, (IEnumerable<SelectListItem>)ViewBag.LeaveCodeList, "Select", new { @class = "form-control select2" })
           @* @Html.ValidationMessageFor(model => model.EmployeeId)*@
        </div>
        </div>
        </div>

         <br />
        <div class="row">
                 <div class="col-md-6">
         <div class="col-md-4">
        Financial Year<span style="color:Red;font-size:18px" >*</span>
        </div>
        <div class="col-md-3">
        @Html.DropDownListFor(a => a.FinancialYearId, (IEnumerable<SelectListItem>)ViewBag.FinancialYearList, "Select", new { @class = "form-control select2" })
           @* @Html.ValidationMessageFor(model => model.EmployeeId)*@
        </div>
        </div>

                   <div class="col-md-6">
               <div class="col-md-5">
        No.Of Leave To Encash<span style="color:Red;font-size:18px" >*</span>
        </div>
        <div class="col-md-5">
           
              @Html.EditorFor(model => model.EncashValue)
           @* @Html.ValidationMessageFor(model => model.EmployeeId)*@
        </div>
        </div>
        </div>
        
        <br />
        <div class="row">
   
         
        </div>
        

         @*<div class="row">
         <div class="col-md-8">
        <div class="row" id="EmployeeNameId">        
          <div class="col-md-4">
        Employee Name<span style="color:Red;font-size:18px">*</span>
        </div>
        <div class="col-md-8">
           @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.EmployeeList, "Select", new { @class = "form-control select2" })
          
        </div>
     
        </div>
       
        <div class="row" id="EmployeeCodeId">
          <div class="col-md-3">
        Employee Code<span style="color:Red;font-size:18px" >*</span>
        </div>
        <div class="col-md-8">
           @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.EmployeeCodeList, "Select", new { @class = "form-control select2" })
         
        </div>
        </div>
        
      </div>
        </div>*@

       
         @*<div class="row">
              <div class="col-md-2">
               <div class="form-group">
          Employee Code<span style="color:Red;font-size:18px" >*</span>
        </div>
        <div class="form-group">
           
            @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.EmployeeCodeList, "Select", new { @class = "form-control select2" })
         
        </div>
        </div>
         <div class="col-md-6">
         <div class="form-group">
          Employee Name<span style="color:Red;font-size:18px" >*</span>
        </div>
        <div class="form-group">
            @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.EmployeeList, "Select", new { @class = "form-control select2" })
           
          
        </div>
        </div>
        </div>*@
       @* <div class="editor-label">
     Financial Year
        </div>
        <div class="editor-field">
        @Html.DropDownListFor(a => a.FinancialYearId, (IEnumerable<SelectListItem>)ViewBag.FinancialYearList, "Select", new { @class = "form-control select2" })
          @*  @Html.EditorFor(model => model.FinancialYearId)
            @Html.ValidationMessageFor(model => model.FinancialYearId)*@
        @*</div>

        <div class="editor-label">
            Leave Code
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(a => a.LeaveCode, (IEnumerable<SelectListItem>)ViewBag.LeaveCodeList, "Select", new { @class = "form-control select2" })
           
        </div>*@

      @*  <div class="editor-label">
            Status
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
           
        </div>*@

     @*   <div class="editor-label">
          No.Of Leave To Encash
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EncashValue)
            @Html.ValidationMessageFor(model => model.EncashValue)
        </div>*@

       @* <div class="editor-label">
            @Html.LabelFor(model => model.RejectReason)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RejectReason)
            @Html.ValidationMessageFor(model => model.RejectReason)
        </div>*@

      @*  <div class="editor-label">
           Branch Name
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select", new { @class = "form-control select2" })
        </div>

        <div class="editor-label">
           Company Name
        </div>
        <div class="editor-field">
             @Html.DropDownListFor(a => a.CompanyId, (IEnumerable<SelectListItem>)ViewBag.CompanyList, "Select", new { @class = "form-control select2" })
        </div>*@

         <div class="box-footer">
             <p>
            <input type="submit" id="create"  value="Create" class="btn btn-primary"/>
        </p>
       </div>
    </fieldset>
}


<div id="EncashmentLeaveData">

</div>

       </div>
            </div>
            </div>
            </section>
<!-- jQuery 2.2.3 -->
<!-- Page script -->
@*Added by Shraddha For back breadcrumb on 17 DEC 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        //Modified by Shalaka on 28th DEC 2017 -- Start
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
        //Modified by Shalaka on 28th DEC 2017 -- End 


    });

    // Added by Rajas on 27 DEC 2016 to fill drop down list on selection of other drop down
    $("#CompanyddlList").change(function () {
        //alert($("#Application_ID").val());
        isDirty = false;
        var companyid = $("#CompanyddlList").val();
        $.ajax({
            url: '@Url.Content("~/WetosApplication/GetBranch")',
            type: "POST",
            dataType: "json",
            data: { Companyid: companyid },
            success: function (data) {
                $("#BranchddlList").empty();
                for (var i = 0; i < data.length; i++) {

                    //alert(states[i].Group_name);
                    // states.option.selected = true;
                    $("#BranchddlList").append("<option value=" + "" + data[i].BranchId + "" + ">" + data[i].BranchName + "</option>");

                }

            },
            error: function (data) {
                //alert("hello");
            }
        });
    });
    $("#BranchddlList").change(function () {
        // alert($("#Group_code").val());
        isDirty = false;
        var branchid = $("#BranchddlList").val();
        $.ajax({
            url: '@Url.Content("~/WetosApplication/GetEmployee")',
            type: "POST",
            dataType: "json",
            data: { Branchid: branchid },
            success: function (data) {
                $("#EmployeeddlList").empty();
                for (var i = 0; i < data.length; i++) {

                    //alert(states[i].Group_name);
                    // states.option.selected = true;
                    $("#EmployeeddlList").append("<option value=" + "" + data[i].EmployeeId + "" + ">" + data[i].EmployeeName + "</option>");
                }

            },
            error: function (data) {
                //alert("hello");
            }
        });
    });


    $("#EmployeeddlList").change(function () {


        var EmpIdEncash = $("#EmployeeddlList").val();
        //alert(EmpIdEncash);

        $.ajax({
            url: '@Url.Content("~/WetosApplicationForOther/EncashmentLeaveData")',
            type: "POST",
            //dataType: "json",
            data: { EmpIdEncash: EmpIdEncash },
            success: function (data) {

                //alert(data);
                $("#EncashmentLeaveData").html(data);

            },
            error: function (data) {
                //alert("hello");
            }
        });


    });

    function goBack() {
        window.history.back();
    }

    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

    });

  
</script>
