@model WetosMVCMainApp.Models.ShiftScheduleModel
@{
    ViewBag.Title = "WetosMVC";
}
@System.Web.Optimization.Styles.Render("~/Content/Select2")
   @System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
        <div class="row page-breadcrumb breadcrumb ed_breadcrumb ed_breadcrumb_row">
                <div class="col-sm-6 ed_breadcrumb_div">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        <li class="li_margin"><a href="#">Masters </a> <i class="fa fa-angle-right"></i> </li>
                        
                        <li class="li_margin">  <a href="@Url.Action("Index", "WetosShiftSchedule")">Shift Schedule </a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
      <h1>
        Shift Schedule
        <small>Create</small>
      </h1>
     
      <div style="clear: both;"></div>
 </section>
        <section class="content">

<div class="col-xs-12 col-md-12 col-lg-12">         
<div class="box">

<div class="box-body">
@using (Html.BeginForm("Create", "WetosShiftSchedule", FormMethod.Post, new { id = "Form" }))
{
     <div style="color: Red; font-size: 12px">
   @Html.ValidationSummary(true)
   </div>
   <fieldset>
        
        @*Added by Rajas on 29 DEC 2016 For custom error message START*@
            <div style="color: Red; font-size: 12px">
            @Html.ValidationMessage("Error")
            </div>
             @*Added by Rajas on 29 DEC 2016 For custom error message END*@

  <div class="row">                
    <div class="editor-label col-md-2">
    Month 
    </div>
    <div class="editor-field col-md-5">
    @Html.DropDownListFor(a => a.ShiftMonth, (IEnumerable<SelectListItem>)@ViewBag.MonthDetailsList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.ShiftMonth)
    </div>
    </div>
    </div>
        <br />

         @*<div class="row">                
    <div class="editor-label col-md-2">
    Company
    </div>
    <div class="editor-field col-md-5">
    @Html.DropDownListFor(a => a.CompanyId, (IEnumerable<SelectListItem>)@ViewBag.CompanyList, "Select", new { @class = "form-control select2", id = "CompanyddlList" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.CompanyId)
    </div>
    </div>
    </div>
        <br />

    <div class="row">                
    <div class="editor-label col-md-2">
    Branch 
    </div>
    <div class="editor-field col-md-5">
    @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)@ViewBag.BranchList, "Select", new { @class = "form-control select2", id = "BranchddlList" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.BranchId)
    </div>
    </div>
    </div>
        <br />*@

        <div class="row">                
    <div class="editor-label col-md-2">
    Employee
    </div>
    <div class="editor-field col-md-5">
    @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)@ViewBag.EmployeeList, "Select", new { @class = "form-control select2", id = "selectemployee" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.EmployeeId)
    </div>
    </div>
    </div>
        <br />

         <div class="row">
            <div class="col-md-3">
             <div class="form-group">
               Year
               @Html.TextBoxFor(model => model.ShiftYear, new { @class = "form-control pull-right" })
              </div>
            </div>
           
            </div>
            <br />


<div class="row">
    <div class="editor-label col-md-1">
    01
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day1, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day1)
    </div>
    </div>

    <div class="editor-label col-md-1">
    02
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day2, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day2)
    </div>
    </div>

    <div class="editor-label col-md-1">
    03
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day3, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day3)
    </div>
    </div>

    <div class="editor-label col-md-1">
    04
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day4, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day4)
    </div>
    </div>

    <div class="editor-label col-md-1">
    05
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day5, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day5)
    </div>
    </div>

    </div>
<br />

<div class="row">
    <div class="editor-label col-md-1">
    06
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day6, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day6)
    </div>
    </div>

    <div class="editor-label col-md-1">
    07
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day7, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day7)
    </div>
    </div>

    <div class="editor-label col-md-1">
    08
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day8, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day8)
    </div>
    </div>

    <div class="editor-label col-md-1">
    09
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day9, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day9)
    </div>
    </div>

    <div class="editor-label col-md-1">
    10
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day10, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day10)
    </div>
    </div>

    </div>
<br />

<div class="row">
    <div class="editor-label col-md-1">
    11
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day11, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day11)
    </div>
    </div>

    <div class="editor-label col-md-1">
    12
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day12, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day12)
    </div>
    </div>

    <div class="editor-label col-md-1">
    13
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day13, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day13)
    </div>
    </div>

    <div class="editor-label col-md-1">
    14
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day14, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day14)
    </div>
    </div>

    <div class="editor-label col-md-1">
    15
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day15, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day15)
    </div>
    </div>

    </div>
<br />

<div class="row">
    <div class="editor-label col-md-1">
    16
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day16, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day16)
    </div>
    </div>

    <div class="editor-label col-md-1">
    17
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day17, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day17)
    </div>
    </div>

    <div class="editor-label col-md-1">
    18
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day18, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day18)
    </div>
    </div>

    <div class="editor-label col-md-1">
    19
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day19, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day19)
    </div>
    </div>

    <div class="editor-label col-md-1">
    20
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day20, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day20)
    </div>
    </div>

    </div>
<br />

<div class="row">
    <div class="editor-label col-md-1">
    21
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day21, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day21)
    </div>
    </div>

    <div class="editor-label col-md-1">
    22
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day22, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day22)
    </div>
    </div>

    <div class="editor-label col-md-1">
    23
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day23, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day23)
    </div>
    </div>

    <div class="editor-label col-md-1">
    24
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day24, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day24)
    </div>
    </div>

    <div class="editor-label col-md-1">
    25
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day25, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day25)
    </div>
    </div>

    </div>
<br />

<div class="row">
    <div class="editor-label col-md-1">
    26
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day26, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day26)
    </div>
    </div>

    <div class="editor-label col-md-1">
    27
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day27, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day27)
    </div>
    </div>

    <div class="editor-label col-md-1">
    28
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day28, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day28)
    </div>
    </div>

    <div class="editor-label col-md-1">
    29
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day29, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day29)
    </div>
    </div>

    <div class="editor-label col-md-1">
    30
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day30, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day30)
    </div>
    </div>

    </div>
<br />

<div class="row">
    <div class="editor-label col-md-1">
    31
    </div>
    <div class="editor-field col-md-1">
    @Html.DropDownListFor(a => a.Day31, (IEnumerable<SelectListItem>)@ViewBag.ShiftList, "Select", new { @class = "form-control select2" })
    <div style="color: Red; font-size: 12px">
    @Html.ValidationMessageFor(model => model.Day31)
    </div>
    </div>
    </div>
    <br />


             

    <p>
        <input type="button" id="BTNEdit" value="Create" class="btn btn-default" style="cursor:pointer; float:left" title = "Click to add Shift schedule news"/>
      <span  class="btn btn-default" style="cursor:pointer; float:left; margin-left:10px" title = "Click to go back to Shift schedule list">@Html.ActionLink("Back to Shift schedule list", "Index")</span>
         
    </p>
    </fieldset>
}

</div> 
</div>
</div>
</section>
    </div>
</div>
@*ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP START*@
<div id="Div" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Do you want to add new Shift Schedule?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="col-md-2  btn btn-primary" id="EditBtn">
                    Yes</button>
                <button type="button" data-dismiss="modal" class="col-md-2 btn">
                    Cancel</button>
            </div>
        </div>
    </div>
</div>
@*ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP END*@
<script type="text/javascript">
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
</script>
<script type="text/javascript">
    // Added by Rajas on 27 DEC 2016 to fill drop down list on selection of other drop down
    $("#CompanyddlList").change(function () {

        //alert("GET Branch");

        isDirty = false;
        var companyid = +$("#CompanyddlList").val();

        $.ajax({
            url: '@Url.Content("~/WetosShiftSchedule/GetBranch")',
            type: "POST",
            dataType: "json",
            data: { Companyid: companyid },
            success: function (data) {
                $("#BranchddlList").empty();

                $("#BranchddlList").append("<option value=" + "0" + ">" + "Select" + "</option>");
                for (var i = 0; i < data.length; i++) 
                {
                    $("#BranchddlList").append("<option value=" + "" + data[i].BranchId + "" + ">" + data[i].BranchName + "</option>");
                }
            },
            error: function (data) {
                

                for (var i = 0; i < data.length; i++) {
                      $("#BranchddlList").append("<option value=" + "" + data[i].BranchId + "" + ">" + data[i].BranchName + "</option>");
                   
                    SelectEmployeeList();
                }
            }
        });

        $("#BranchddlList").change(function () {
        // alert($("#Group_code").val());
        isDirty = false;
        var branchid = +$("#BranchddlList").val();
        $.ajax({
            url: '@Url.Content("~/WetosShiftSchedule/GetEmployee")',
            type: "POST",
            dataType: "json",
            data: { Branchid: branchid },
            success: function (data) {

                $("#selectemployee").empty();

                $("#selectemployee").append("<option value=" + "0" + ">" + "Select" + "</option>");

                for (var i = 0; i < data.length; i++) 
                {

                   // $("#selectemployee").append("<option value=" + "" + data[i].DepartmentId + "" + ">" + data[i].DepartmentName + "</option>");
                    SelectEmployeeList();
                }

            },
            error: function (data)
             {
                //alert("hello");
            }
        });
    });

    function SelectEmployeeList() 
    {
        
        var Companyid = +$("#CompanyddlList").val();  // Used +$ to handle null values, as Companyid of type int 
        //alert(Companyid);
        var Branchid = +$("#BranchddlList").val();   // Used +$ to handle null values, as Branchid of type int 
        //alert(Branchid);
        
        $.ajax({
            url: '@Url.Content("~/WetosShiftSchedule/GetEmployee")',
            type: "POST",
            dataType: "json",
            data: { Companyid: Companyid, Branchid: Branchid },
            success: function (data) 
            {
                //alert("Success");
                $("#selectemployee").empty();
                for (var i = 0; i < data.length; i++) 
                {

                    // Updated by Rajas on 8 FEB 2017 replaced data[i].FirstName + " " + data[i].LastName with  data[i].EmployeeName  
                    $("#selectemployee").append("<option value=" + "" + data[i].EmployeeId + "" + ">" + data[i].EmployeeName + "</option>");
                }
            },
            error: function (data) 
            {
                //alert("error");
            }

        });
    }

</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }

    //ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP START
    $("#BTNEdit").click(function () {

        var $form = $(this).closest('form');
        $('#Div').modal({ backdrop: 'static', keyboard: false })
                .one('click', '#EditBtn', function () {

                    $("#Form").submit();
                });

    });
    //ADDED CODE BY RAJAS ON 29 MARCH 2017 FOR ALERT POPUP END

</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
@*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION START*@
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
 }
 @*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION END*@