@model IEnumerable<WetosDB.Device>
@{
    ViewBag.Title = "Index";
}
@System.Web.Optimization.Styles.Render("~/Content/DataTable")
 @System.Web.Optimization.Scripts.Render("~/bundles/DataTable")
<section class="content-header">
     
      <ol class="breadcrumb">
      
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i>Home</a></li>
         <li class="active">Masters</li>
        <li class="active">Device Master</li>
      </ol>
       <h1>
Device Master
        <small>Index</small>
      </h1>

        @*Added by Pushkar For back breadcrumb on 24 OCT 2016----------Start*@
      <div>
      <span style="float:right"><a href="#" id="goback" class="fa fa-arrow-left back"></a></span>
      <span style="float:left">@Html.ActionLink("Add New Device", "Create")</span>

      </div>
      <div style="clear: both;"></div>

       @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@


    </section>

<section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Index</h3>
            </div>
            <div class="box-body">


<table id="DeviceMaster" class="table table-bordered table-striped">  @*Added by Pushkar For datatable on 25 OCT 2016*@
<thead>
    <tr>
         <td>
            Display Name
        </td>
        <td>
            Device Name
        </td>
        <td>
            Device No
        </td>
       <td>Action</td>
       
    </tr>

      </thead>

    <tbody>

@foreach (var item in Model)
{
    <tr>
         <td>
          <a href="@Url.Action("Details", "WetosDeviceMaster", new { id = item.DeviceId })">
            @item.DISPLAYNAME</a>
        </td>
        <td>
            @item.DeviceName
        </td>
        <td>
            @item.DeviceNo
        </td>
      
 <td>

            @Html.ActionLink("Edit", "Edit", new { id = item.DeviceId }) 
           @* @Html.ActionLink("Details", "Details", new { id=item.DeviceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DeviceId }) *@
        </td>
    </tr>
}

</tbody>

<tfoot>
                
                </tfoot>
</table>

</div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>

    @*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('a.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }



</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@

 @*Added by Pushkar For datatable on 25 OCT 2016-------start*@
 <script>
     $(function () {

         $("#DeviceMaster").DataTable();

     });
</script>

@*Added by Pushkar For datatable on 25 OCT 2016-------end*@