@model WetosMVCMainApp.Models.CondoneModel
@{
    ViewBag.Title = "Condone Entry Create";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/InputMask")
<link href="~/Content/css/condon_entry.css" rel="stylesheet" />
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />

<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
           
           
                 <div class="row page-breadcrumb breadcrumb ed_breadcrumb">
                <div class="col-sm-6">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        <li class="li_margin"> <a href="@Url.Action("CondoneEntryIndex", "WetosAttendance")">Attendance</a> <i class="fa fa-angle-right"></i> </li>
                        
                        <li class="li_margin"><a href="#">Condone Entry</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
                
            </div><br />
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="page-title">
                        <i style="text-shadow: -3px 0px 4px #6f88a2; ">Condone Entry</i>
                        <small>Create</small>
                    </h1>
                </div>
            </div>
            @*Code added by Shalaka on 27th DEC  2017 --- End*@

            <div style="clear: both;">
            </div>
        </section>
        
        <section class="content">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-body">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)

                            @Html.HiddenFor(model => model.TransportId)
                            @Html.HiddenFor(model => model.DivisionId)
                            @Html.HiddenFor(model => model.Employeelist)

                            <div class="row">
                                <div class="form-group col-md-6" id="CompanyList">
                                    <div class="editor-label">
                                        Company Name <span style="color: Red; font-weight: 700">*</span>
                                    </div>
                                    <div class="editor-field">
                                        @*Favicon added by shalaka on 7th July*@
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-suitcase" aria-hidden="true"></i>
                                            </div>
                                            @Html.DropDownListFor(a => a.CompanyId, (IEnumerable<SelectListItem>)ViewBag.CompanyList, "Select", new { @class = "form-control select2", style = "width:500px", id = "CompanyddlList" })
                                            @Html.ValidationMessageFor(model => model.CompanyId)
                                        </div>
                                    </div>

                                </div>
                            
                                <div class="form-group col-md-6" id="BranchList">
                                    <div class="editor-label">
                                        Branch Name <span style="color: Red; font-weight: 700">*</span>
                                    </div>
                                    <div class="editor-field">
                                        @*Favicon added by shalaka on 7th July*@
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-university" aria-hidden="true"></i>
                                            </div>
                                            @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)@ViewBag.BranchList, "Select", new { @class = "form-control select2", style = "width:500px", id = "BranchddlList" })
                                            @Html.ValidationMessageFor(model => model.BranchId)
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        Condone Date <span style="color: Red; font-weight: 700">*</span>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control datepicker" data-date-fomat="dd-MMM-yyyy" name="CondoneDate" id="CondoneDate" />
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="form-group col-md-6">
                                    <div class="editor-label">
                                        Condone Shift <span style="color: Red; font-weight: 700">*</span>
                                    </div>
                                    <div class="editor-field">
                                        @*Favicon added by shalaka on 7th July*@

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-list-ul"></i>
                                            </div>
                                            @Html.DropDownListFor(a => a.ShiftId, (IEnumerable<SelectListItem>)ViewBag.CondoneShiftList, "Select", new { @class = "form-control select2", style = "width:500px" })
                                            @Html.ValidationMessageFor(model => model.ShiftId)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div class="editor-label">
                                        Condone Status <span style="color: Red; font-weight: 700">*</span>
                                    </div>
                                    <div class="editor-field">
                                        @*Favicon added by shalaka on 7th July*@

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="glyphicon glyphicon-time"></i>
                                            </div>
                                            @*MODIFIED BY SHRADDHA ON 28 DEC 2016*@
                                            @Html.DropDownListFor(a => a.CondoneStatus, (IEnumerable<SelectListItem>)ViewBag.CondoneStatusObj, "Select", new { @class = "form-control select2", style = "width:500px" })
                                            @Html.ValidationMessageFor(model => model.CondoneStatus)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="editor-label">
                                        Late/Early Limit Time <span style="color: Red; font-weight: 700">*</span>
                                    </div>
                                    @*Favicon added by shalaka on 7th July*@

                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-time"></i>
                                        </div>
                                        <input type="text" style="width:100%;"name="LateEarly" data-inputmask="'mask': ['', '99:99:99']" data-mask />
                                        @Html.ValidationMessageFor(model => model.LateEarly)
                                    </div>
                                </div>
                               
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div class="editor-label">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                        Condone Reason <span style="color: Red; font-weight: 700">*</span>
                                    </div>
                                    <div class="editor-field m_text_area">
                                        @Html.TextAreaFor(model => model.Reason,  new { style = "width:510px" })
                                        @Html.ValidationMessageFor(model => model.Reason)
                                    </div>
                                </div>
                            </div>


                            //Modified by Shalaka on 27th DEC 2017
                            @* <p>
                                    <input type="submit" value="Create" />
                                </p>*@
                            <p>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </p>
                            //Modified by Shalaka on 27th DEC 2017

                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">

    $("[data-mask]").inputmask();

</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }



</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
<script type="text/javascript">


    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/yyyy


        //Date picker
        $('.datepicker').datepicker({
            format: "dd-M-yyyy",

            autoclose: true
        });

        //Timepicker
        $(".timepicker").timepicker({
            showInputs: false
        });
    });

    // Added by Rajas on 27 DEC 2016 to fill drop down list on selection of other drop down
    $("#CompanyddlList").change(function () {
        //alert($("#Application_ID").val());
        isDirty = false;
        var companyid = $("#CompanyddlList").val();
        $.ajax({
            url: '@Url.Content("~/WetosAttendance/GetBranch")',
            type: "POST",
            dataType: "json",
            data: { Companyid: companyid },
            success: function (data) {
                $("#BranchddlList").empty();
                $("#BranchddlList").append("<option value=" + "0" + ">" + "Select" + "</option>"); // Added by Rajas on 27 FEB 2017
                for (var i = 0; i < data.length; i++) {

                    //alert(states[i].Group_name);
                    // states.option.selected = true;
                    $("#BranchddlList").append("<option value=" + "" + data[i].BranchId + "" + ">" + data[i].BranchName + "</option>");

                }

            },
            error: function (data) {
                //alert("hello");
            }
        });
    });

</script>
@*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION START*@
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
@*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION END*@