@model WetosDB.DeclaredHoliday
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
   @System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<section class="content-header">
      <h1>
        Declared Holiday
        <small>Create</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
         
          <li class="active">Attendance</li>
        <li class="active">Declared Holiday</li>
        @*<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>*@
      
      </ol>    

        @*Added by Pushkar For back breadcrumb on 24 OCT 2016----------Start*@
      <div>
      <span style="float:right"><a href="#" id="goback" class="fa fa-arrow-left back"></a></span>
     @* <span style="float:left">@Html.ActionLink("Add New Location", "Create")</span>*@

      </div>
      <div style="clear: both;"></div>

       @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

 </section>
<section class="content">
<div class="row">
<div class="col-xs-12 col-md-12 col-lg-12">         
<div class="box">
<div class="box-header">           
</div>
<div class="box-body">

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.DivisionId)

        <div class="row">
        <div class="form-group col-md-12" id="BranchList">
         <div class="editor-label">
           Branch Name
        </div>
        <div class="editor-field" >
         @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)@ViewBag.BranchList, "Select", new { @class = "form-control select2", style = "width:500px" })
         
        </div>

       </div>
       </div>

        <div class="row">
        <div class="col-md-3">
          <div class="form-group">
                Declared Holiday

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                   @Html.TextBoxFor(model => model.HolidayDate, new { @class = "form-control pull-right datepicker" })
                 @* <input type="text" class="form-control pull-right datepicker" id="FromDate" name="FromDate"/>*@
                </div>
                <!-- /.input group -->
              </div>
              </div>
              </div>

       <div class="row">
     <div class="form-group col-md-12">
        <div class="editor-label">
           Type
        </div>
        <div class="editor-field">
           @* @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)*@
            <input type="radio" name="group1" id="DeclaredHolidayType" value="Single Day Compensation " checked="checked" />&nbsp&nbsp Single Day Compensation
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="radio" name="group1" id="DeclaredHolidayType1" value="Two Day Compensation"  checked="checked"/>&nbsp&nbsp Two Days Compensation &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </div>
        </div>
        </div>

        <!-- Changed on 17 SEP 2016 after Eviska Demo and Discussion -->
        <!-- Complementry Holiday 1 and 2 changed to working on and worked for -->

        <div class="row">
        <div class="col-md-3">
          <div class="form-group">
                Worked On 

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                   @Html.TextBoxFor(model => model.CompWorkDay1, new { @class = "form-control pull-right datepicker" })
                 @* <input type="text" class="form-control pull-right datepicker" id="FromDate" name="FromDate"/>*@
                </div>
                <!-- /.input group -->
              </div>
              </div>
              </div>


        <div class="row">
        <div class="col-md-3">
          <div class="form-group">
                Working For

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                   @Html.TextBoxFor(model => model.CompWorkDay2, new { @class = "form-control pull-right datepicker" })
                 @* <input type="text" class="form-control pull-right datepicker" id="FromDate" name="FromDate"/>*@
                </div>
                <!-- /.input group -->
              </div>
              </div>
              </div>

        
       
       <div class="row">
     <div class="form-group col-md-12">
        <div class="editor-label">
            Description
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        </div>
        </div>

       @* <div class="editor-label">
            @Html.LabelFor(model => model.DivisionId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DivisionId)
            @Html.ValidationMessageFor(model => model.DivisionId)
        </div>*@

        <p>
            <input type="submit" value="Create" />
        </p>
        <div>
    @Html.ActionLink("Back to List", "Index")
</div>

    </fieldset>
}
</div>
</div>
</div>
</div>

</section>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('a.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }



</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
<script type="text/javascript">


    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/yyyy


        //Date picker
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",

            autoclose: true
        });

        
    });

</script>
@*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION START*@
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
 }
 @*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION END*@
