@model List<WetosDB.ShiftPatternRule>
@{
    ViewBag.Title = "Assign Shift Pattern";
}
@{
    int i = 0;
    var message = TempData["AlertMessage"] ?? string.Empty;
}
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
<link href="~/Content/css/assign_shift_pattern_index.css" rel="stylesheet" />
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "AssignShift", FormMethod.Post, new { name = "Create", id = "Create" }))
{
    <div class="page-content-wrapper">
        <div class="page-content">
                  @*Added by Shalaka on 27th DEC 2017 -- Start*@
          
            
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb">
                <div class="col-sm-6">
                    <ul>
                        <li class="li_margin1" >
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                          <li class="li_margin"><a href="#">Administration</a> <i class="fa fa-angle-right"></i></li>
                        <li class="li_margin"><a href="#">Assign Shift Pattern</a> 
                        </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


             <h1>
               Assign Shift Pattern
            </h1>
          <br />
        @*Added by Shalaka on 27th DEC 2017 -- End*@

            <div class="form-horizontal">
                @if (message != "")
                {                           
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        </button>
                        <strong>Success!</strong> @message
                    </div>
                }
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Period From:</label>
                        <div class="col-md-4">
                            <div class="input-group input-large date-picker input-daterange" data-date-format="dd-mm-yyyy">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datepicker" id="from" name="from" value="@DateTime.Now.ToString("dd-MM-yyyy")"/>
                                <span class="input-group-addon">to </span>
                                <input type="text" class="form-control datepicker" id="to" name="to" value="@DateTime.Now.ToString("dd-MM-yyyy")"/>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div id="EmployeeGroupList" class="scroller col-md-6">
                            <div class="col-md-3">
                                Shift Pattern</div>
                            <div class="col-md-9">
                                @Html.DropDownList("chkGroup", (IEnumerable<SelectListItem>)@ViewBag.shiftPatternRule, "--Select--", new { @class = "form-control", @onchange = "selectgroup()" })
                                <input type="hidden" id="hid_total" name="hid_total" value="@i"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="EmployeeList" class="col-md-8">
                        </div>
                        <div id="div_rule" class="col-md-3">
                            @* <div class="form-group">
                                <label class="col-md-3 control-label">Shift:</label>
                                <input type="hidden" id="h_ruleid" name="h_ruleid" value="@ViewBag.ruleid" />
                                <div class="col-md-6">
                                    @Html.DropDownList("shift_rule", null, "--Select--", new { @class = "form-control" })
                                </div>
                            </div>*@ @*     <div class="text-center">
                                <button type="button" class="btn blue" id="btnsave" name="btnsave" onclick="GetShiftOnFirstDay()">Save</button>
                            </div>*@
                            <input type="hidden" id="hid_mindate" data-date-format="dd-mm-yyyy" name="hid_mindate" 
                                value="@ViewBag.mindate" aria-readonly="true"/>
                            <div id="Detail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="shiftpatt_ids" name="shiftpatt_ids" />
}
<script>


    $(function () {
        //Initialize Select2 Elements
        // $(".select2").select2();

        //Datemask dd/mm/yyyy


        //Date picker
        $('.datepicker').datepicker({

            format: "dd-mm-yyyy",

            autoclose: true
        });

    });

    $('body').ajaxStart(function () {
        $(this).css({ 'cursor': 'wait' });
    }).ajaxStop(function () {
        $(this).css({ 'cursor': 'default' });
    });

    $(document).ready(function () {
        //ComponentsPickers.init();
        $("#EmployeeGroupList").hide();
        $("#elist").hide();
        $("#div_rule").hide();
        
        //Added by Shalaka on 27th DEC 2017 to solve Back Button Not working -- Start
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
        //Added by Shalaka on 27th DEC 2017 to solve Back Button Not working -- End
    });


    $("#from").change(function () {
        $("#EmployeeGroupList").show();
    });

    function GetShiftOnFirstDay() {
        $.ajax({
            url: '@Url.Content("~/AssignShiftPattern/GetShiftOnFirstDay")',
            data: JSON.stringify({ fromdate: $("#from").val(), todate: $("#to").val(), empShiftPatternid: $("#shiftpatt_ids").val() }),
            type: 'post',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result) {
                alert("Shift Pattern assigned Successfully.");
                $("#Detail").html(result);
            },
            error: function (result) {

            }
        });
    }

    function selectgroup() {
        //alert(i);
        var empShiftPatternid = "";
        //  $('#chkGroup-'+i).prop('checked', true);
        //for(var j = 1;j<= $("#hid_total").val(); ++j)
        //{
        //    if (i != j)
        //    {
        //        $("#chkGroup-"+j).prop('checked', false).uniform(); 
        //        //$("#chkGroup-"+j).prop('checked', false); 
        //    }

        //}

        $("#shiftpatt_ids").val('');

        empShiftPatternid = $('#chkGroup').val();
        //alert(empShiftPatternid);


        $("#shiftpatt_ids").val($('#chkGroup').val());
        //alert(empShiftPatternid);
        if (empShiftPatternid != "") {
            $.ajax({
                url: '@Url.Content("~/AssignShiftPattern/GetEmployeeName")',
                data: JSON.stringify({ empShiftPatternid: empShiftPatternid, fromdate: $("#from").val() }),
                type: 'post',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    if (result.EmployeeList != null) {
                        $('#List').show();
                        $("#div_rule").show();
                        $('#EmployeeList').html("");
                        $("#elist").show();
                        $('#EmployeeList').html(result.EmployeeList);
                        $("#rule").val("");
                        $("#div_subrule").html("");
                        $("#subrule").val(0);

                    } else {
                        $("#rule").val(0);
                        $("#hid_mindate").val("");
                        $("#elist").hide();
                        $('#List').hide();
                        $("#div_rule").hide();

                    }
                },
                error: function (result) {

                }
            });
        }
        else {
            $('#EmployeeList').html("");
        }
    }


</script>
