@model WetosMVCMainApp.Models.FinancialYearModel
@{
    ViewBag.Title = "Financial Year Delete";
}
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<style type="text/css">
    .row
    {
        margin-bottom: 10px;
    }
</style>
<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
<h1>Financial Year
 <small>Delete</small>
</h1>
      <div class="row">
                <div class="col-md-12">
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="@Url.Action("Index", "Home")">Home </a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                         <a href="#">WetosFinancialYear</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">Finanacial Year</a>
                        </li>
                        <li class="pull-right">
                            <div id="dashboard-report" data-toggle="tooltip" title="Today's date">
                                <span style="cursor:pointer" class="back " data-toggle="tooltip" title="Back" id="goback"><i class="fa fa-arrow-left"></i></span>
                                <i class="fa fa-calendar"></i>
                                <span>@DateTime.Now.ToLongDateString()</span>                           
                            </div>
                        </li>              
                    </ul>
                </div>
            </div>

      
      <div style="clear: both;"></div>

    </section>
        <br />
        <section class="content">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="box box-primary">
@using (Html.BeginForm("Delete", "WetosFinancialYear", FormMethod.Post, new { id = "CreateBranchForm" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.FinancialId)

       <div class="row">
     
        <div class="col-md-2">
    Company  <span style="color:Red;font-size:18px" >*</span>
        </div>
        <div class="col-md-5">
         
         <div class="input-group date">
          <div class="input-group-addon">
                   <i class="fa fa-suitcase" aria-hidden="true"></i>
                  </div>
          @Html.DropDownListFor(a => a.CompanyId, (IEnumerable<SelectListItem>)@ViewBag.CompanyListView, "Select", new { @class = "form-control select2", id = "CompanyddlList", @style = "width:250px;", @disabled = "disabled" })
          <div style="color: Red; font-size: 12px">
            @Html.ValidationMessageFor(model => model.CompanyId)
            </div>
            </div>
        </div>
       </div> 
 
      <div class="row">
        <div class="col-md-2">
    Branch Name <span style="color:Red;font-size:18px" >*</span>
        </div>
         <div class="col-md-5">
         
         <div class="input-group date">
          <div class="input-group-addon">
                   <i class="fa fa-institution" aria-hidden="true"></i>
                  </div>
          @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)@ViewBag.BranchListView, "Select", new { @class = "form-control select2", id = "BranchddlList", @style = "width:250px;" ,@disabled="disabled"})
          <div style="color: Red; font-size: 12px">
            @Html.ValidationMessageFor(model => model.BranchId)
            </div>
            </div>
        </div>
      </div>
      
    
    <div class="row">
        <div class="col-md-2">
   Financial Name   <span style="color:Red;font-size:18px" >*</span>
        </div>
         <div class="col-md-5">
         
         <div class="input-group date">
          <div class="input-group-addon">
                   <i class="fa fa-institution" aria-hidden="true"></i>
                  </div>
         @Html.TextBoxFor(model => model.FinancialName, new { @class = "form-control", @style = "width:250px;", @readonly = "readonly" })
          <div style="color: Red; font-size: 12px">
            @Html.ValidationMessageFor(model => model.FinancialName)
            </div>
            </div>
        </div>
      </div>

             
    
    <div class="row">
   
        <div class="col-md-2">
           Start Date <span style="color:Red;font-size:18px" >*</span>
           </div>
     <div class="col-md-4">

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  @*<input type="text" class="form-control datepicker" data-date-fomat="dd-MMM-yyyy" name="StartDate" id="StartDate" value="@String.Format("{0:dd-MMM-yyyy}", @Model.StartDate)" style="width:250px;"/>*@
                  @{ var StartDate = Model.FYStartDate == null ? "" : Model.FYStartDate.Value.ToString("dd-MMM-yyyy"); }
                  @Html.TextBoxFor(ModelItem => StartDate, new { style = "width:250px;", @class = "datepicker", @disabled = "disabled" })
                </div>
                
              </div>
              </div>
    
    <div class="row">
        <div class="col-md-2">
         End Date <span style="color:Red;font-size:18px" >*</span>
         </div>
     <div class="col-md-4">
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                @* <input type="text" class="form-control datepicker" data-date-fomat="dd-MMM-yyyy" name="EndDate" id="EndDate" value="@String.Format("{0:dd-MMM-yyyy}", @Model.EndDate)" style="width:250px;"/>*@
                 @{ var EndDate = Model.FYEndDate == null ? "" : Model.FYEndDate.Value.ToString("dd-MMM-yyyy"); }
                  @Html.TextBoxFor(ModelItem => EndDate, new { style = "width:250px;", @class = "datepicker", @disabled = "disabled" })
                </div>
               
              </div>
              </div>
    
    <div>
           <input type="button" id="Branchbtn" value="Delete" class="btn btn-default" style="cursor:pointer; float:left" title = "Click to Update Financial Year"/>
        </div>
}
</div>
</div>
</div>
</section>
    </div>
</div>

<div id="branchdiv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Do you Want to Delete Financial Year?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="col-md-2  btn btn-primary" id="DeleteBtn">
                    Yes</button>
                <button type="button" data-dismiss="modal" class="col-md-2 btn">
                    Cancel</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/yyyy


        //Date picker
        $('.datepicker').datepicker({

            format: "dd-M-yyyy",

            autoclose: true
        });

    });
</script>
<script type="text/jscript">

    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });


    function goBack() {
        window.history.back();
    }

    //ADDED BY NANDIN ON 28 APRIL 2020
    $("#Branchbtn").click(function () {

        var $form = $(this).closest('form');
        $('#branchdiv').modal({ backdrop: 'static', keyboard: false })
                .one('click', '#DeleteBtn', function () {



                    $("#CreateBranchForm").submit();
                });

    });
</script>
