@model List<WetosDB.sp_get_Notifications_Result>
@{
    ViewBag.Title = "Dashboard & Statistics";
}
<script src="~/Scripts/jquery.min.js"></script>
@{var httpContext = HttpContext.Current;
    System.Web.Mvc.UrlHelper Url = new System.Web.Mvc.UrlHelper(httpContext.Request.RequestContext);}
@System.Web.Optimization.Styles.Render("~/Content/Fullcalendar")
@System.Web.Optimization.Scripts.Render("~/bundles/Fullcalendar")
@System.Web.Optimization.Scripts.Render("~/bundles/LayoutTheme")
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/InputMask")
<link href="~/Content/allcss/empldash.css" rel="stylesheet" />
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />
<div>
    @{int UserRoleId = Convert.ToInt32(Session["UserRoleId"]);}
    @Html.Hidden("IsCalendarApplicationOn", @SessionPersister.IsCalendarApplicationOn)
    @Html.Hidden("DefaultLang", @SessionPersister.DefaultLang)
    <!-- Left side column. contains the logo and sidebar -->
    <!-- Content Wrapper. Contains page content -->
    <div>
        <!-- Content Header (Page header) -->
        <div class="page-content-wrapper" id="page_content">
            @* <div class="news_tricker">
                    <div class="news_cover">
                        News</div>
                    <ul id="ticker">
                        <li><a href='#'>Business heads back DTI bid for free mall space for MSMEs </a></li>
                        <li><a href='#'>OECD-FAO Agricultural Outlook 2016-2025 </a></li>
                        <li><a href='#'>President Mukherjee condoles passing away of A.C. Jose </a></li>
                        <li><a href='#'>New International Standard to tackle Informal Economy </a></li>
                        <li><a href='#'>Mandatory Energy Assessment by Dec 2015 </a></li>
                        <li><a href='#'>South African Minister for Small Business Development Zulu's Maiden
                            Budget Speech </a></li>
                        <li><a href='#'>Small Businesses are the Big Deal not only for Economy but in Politics
                            too </a></li>
                        <li><a href='#'>AEC 2015 - Advantage SMEs </a></li>
                        <li><a href='#'>Green Business Practice – Some Easy Steps for SMEs </a></li>
                        <li><a href='#'>Small Business Impact Fund - Europe’s New Financial Plan for SMEs -
                            Launched Recently </a></li>
                        <li><a href='#'>New National Policy on MSMEs approved </a></li>
                    </ul>
                </div>
                <br />
                 <br />*@
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb">
                <div class="col-sm-6">
                    <ul>
                        <li style="padding-top: 0.2%;">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="#">Home </a><i class="fa fa-angle-right"></i>

                        </li>
                        <li style="padding-top: 0.4%;"><a href="#">Dashboard </a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 padding_right_0">
                    
                    <h1 class="page-title">
                        <i style="text-shadow: -3px 0px 4px #6f88a2;">Dashboard</i> <small><i>statistics and more</i> </small>
                        <div class="btn-group pull-right">
                            @if (UserRoleId == 1)
                            {
                                <button type="button" id="btnusers" class="btn btn-default btn-sm icon_btn btn_width" title="Click to check Employee statistics"
                                        onclick="OnBtnUsersClick();" style="padding-left:0px;">
                                    @*<i class="fa fa-users"></i>*@
                                    <img src="~/Content/images/icon/imageedit_61.png" class="icon_width_height users_icon"/>
                                </button>
                            }
                            <button type="button" id="btnSiteMap" data-placement="left" title="Click to check Employees reporting to logged in employee"
                                    onclick="OnBtnSiteMapClick();" class="btn btn-default btn-sm icon_btn btn_width">
                                @*<i class="fa fa-sitemap"></i>*@
                                <img src="~/Content/images/icon/tree.png" class="icon_width_height" />
                            </button>
                            <button type="button" id="btnclock" class="btn btn-default btn-sm icon_btn btn_width" data-placement="left"
                                    title="Click to check logged in Employee attendance statistics" onclick="OnBtnClockclick();">
                                @*<i class="fa fa-clock-o"></i>*@
                                <img src="~/Content/images/icon/imageedit_49.png" class="icon_width_height" />
                            </button>
                            @* @if (ViewBag.ActiveEmployeeListCountVB > 0)*@
                            @if (UserRoleId == 1)
                            {
                                <button type="button" id="btnAtten" class="btn btn-default btn-sm icon_btn btn_width" data-placement="left"
                                        title="Click to check Employee attendance statistics" onclick="OnBtnAttenclick();">
                                    @*<i class="fa fa-clock-o"></i>*@
                                    <img src="~/Content/images/icon/imageedit_49.png" class="icon_width_height" />
                                </button>
                            }
                            else
                            {
                                if (ViewBag.ActiveEmployeeListCountVB > 0)
                                {
                        <button type="button" id="btnAtten" class="btn btn-default btn-sm" data-placement="left"
                                title="Click to check Employee attendance statistics" onclick="OnBtnAttenclick();">
                            @*<i class="fa fa-clock-o"></i>*@
                            <img src="~/Content/images/icon/imageedit_49.png" class="icon_width_height" />
                        </button>
                                }
                            }
                        </div>
                    </h1>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- Main content -->
            <section class="content">
                <div class="row ">
                    <div id="caldiv" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 cal_div">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet box blue-madison calendar">
                            <div class="portlet-title title_style" >
                                <div class="caption">
                                    <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                </div>
                            </div>
                            <div id="calendar"></div>
                        </div>
                        <div class="portlet-body light-grey">
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 padding_left_0">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 padding_left_0">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                                            <div class="red_div"></div>
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-10 absent_div" >AAAA - Absent</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                                            <div class="green_div" ></div>
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-10 present_div" >PPPP - Present</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padding_left_0">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 padding_left_0">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                                            <div class="slateblue_div"></div>
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-10 present_week" >WPWP - Present On Week Off</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                                            <div class="purple_div" ></div>
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-10 Week_Off" >WOWO - Week Off</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padding_left_0">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 padding_left_0">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                                            <div class="Orange_div"></div>
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-10 holiday_div" >Holiday</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                                            <div class="blue_div"></div>
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-10 leave_div" >PLPL - Leave</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padding_left_0">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 padding_left_0">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                                            <div class="f_pink_div"></div>
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-10 first_half_absent" >AAPP - First half absent</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                                            <div class="s_pink_div" ></div>
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-10 second_half_absent">PPAA - Second half absent</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padding_left_0">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 padding_left_0">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                                            <div class="duty_blue_div" ></div>
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-10  On_duty" >ODOD - On Duty</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                                            <div class="tour_blue_div"></div>
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-10 tour_div">TOTO - Tour</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padding_left_0">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 padding_left_0">
                                    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-2  early_go" >EG : Early Go</div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-10 late_count">LC : Late Count</div>
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                        <!-- END PORTLET-->
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 notification_div" >
                        <!-- BEGIN PORTLET-->
                        <div class="portlet">
                            <div class="portlet-title line">
                                <div class="caption">
                                    <div class="btn-toolbar margin-bottom-10">
                                        <div class="btn-toolbar margin-bottom-10 pull-left bell_div">
                                            <img src="~/Content/images/icon/bell-xxl.png" class="icon_width_height" />
                                            <span class="notification_txt"><i>Notification</i></span>
                                        </div>
                                        <button type="button" class="btn blue btn-xs glass" id="btnreadmore" name="btnreadmore" onclick="ReadMore()">Read More</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <div class="scroller scroller_div"  data-always-visible="1" data-rail-visible="0">
                                        <ul class="feeds">
                                            @if (Model != null)
                                            {
                                                foreach (var msg in Model.OrderByDescending(a => a.SendDate))
                                                {
                                                    <li>
                                                        <div class="col1">
                                                            <div class="cont">
                                                                <span style="margin-left:13px">
                                                                    @if (msg.readflag == 0)
                                                                    {
                                                                        <img alt="image" src="@Url.Content("~/images/new_icon_blink.gif")" width="20" height="10" />
                                                                    }
                                                                </span>
                                                                <div class="cont-col1">
                                                                    <div class="cont-col2">
                                                                        <img src="~/Content/images/icon/bell-xxl.png" class="icon_width_height bell_img" />
                                                                    </div>
                                                                </div>
                                                                <div class="cont-col2">
                                                                    <div class="desc">
                                                                        @msg.NotificationContent
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col2">
                                                            <div class="date">

                                                                @string.Format("{0:dd-MM-yyyy}", msg.SendDate)
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row leave_balance_row" >
                            <div class="col-sm-12 leave_balance_div">
                                <h4>Leave Balance Details as on @DateTime.Now.ToString("MMM-yyyy")</h4>
                            </div>
                        </div>
                        <div class="tab-content table-responsive">
                            <table id="LeaveTypes" class="table table-bordered table-striped leave_types_table">
                                @if (ViewBag.LeaveTableview == "1")
                                {
                                    <thead>
                                        <tr>
                                            <td align="center">Leave Type</td>
                                            @*<td align="center">Opening Balance</td>*@
                                            <td align="center">Opening Balance for @DateTime.Now.ToString("MMM-yyyy")</td>

                                            <td align="center">Allowed Leaves in @DateTime.Now.ToString("MMM-yyyy")</td>
                                            <td align="center">Applied Leaves in @DateTime.Now.ToString("MMM-yyyy")</td>
                                            @*<td align="center">Pending Leaves</td>*@
                                            <td align="center">Total Deductable Leaves in @DateTime.Now.ToString("MMM-yyyy")</td>
                                            <td align="center">Paid Leaves in @DateTime.Now.ToString("MMM-yyyy")</td>
                                            <td align="center">UnPaid Leaves in @DateTime.Now.ToString("MMM-yyyy")</td>

                                            @*  <td align="center">Pending Leaves</td>*@
                                            <td align="center">Closing Leave Balance @DateTime.Now.ToString("MMM-yyyy")</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var LBItem in ViewBag.LeaveBalanceDetailsVB)
                                        {
                                            <tr>
                                                <td align="center"> @LBItem.LeaveType</td>
                                                @* <td class = "quantity"> @LBItem.OpeningBalance</td>*@
                                                @{var OpeningLeavesOnCurrentDay = Convert.ToDouble(LBItem.OpeningBalance);}
                                                @if (LBItem.LeaveUsed == 0)
                                                {

                                                    OpeningLeavesOnCurrentDay = (Convert.ToDouble(LBItem.OpeningBalance) - Convert.ToDouble(LBItem.LeaveUsed));
                                                }
                                                else
                                                {
                                                    OpeningLeavesOnCurrentDay = (Convert.ToDouble(LBItem.OpeningBalance) - Convert.ToDouble(LBItem.LeaveUsed)) + Convert.ToDouble(LBItem.TotalPaidLeaves);

                                                }
                                                @* @{var OpeningLeavesOnCurrentDay = ((Convert.ToDouble(LBItem.OpeningBalance) - LeaveConsumed);}*@

                                                <td class="quantity"> @OpeningLeavesOnCurrentDay</td>
                                                @*@{var AllowedLeavesOnCurrentDay = (LBItem.LeaveAllowed - Convert.ToDecimal(LBItem.LeaveUsed));}
                                                    <td class = "quantity"> @AllowedLeavesOnCurrentDay</td>*@
                                                <td class="quantity"> @Convert.ToDouble(LBItem.LeaveAllowed)</td>
                                                @{var PendingLeaves = Convert.ToDouble(LBItem.TotalDeductableDays) - Convert.ToDouble(LBItem.LeaveUsedAsOnDate);}
                                                @if (LBItem.TotalPaidLeaves == 0)
                                                {
                                                    PendingLeaves = Convert.ToDouble(LBItem.TotalDeductableDays) - Convert.ToDouble(LBItem.TotalPaidLeaves);
                                                }

                                                @{}
                                                <td class="quantity">  @Convert.ToDouble(LBItem.TotalAppliedDays)</td>
                                                @* @if (PendingLeaves == 0)
                                                    {
                                                     <td class = "quantity">@PendingLeaves</td>
                                                    }
                                                    else
                                                    {
                                                    <td  style="font-weight:800;color:Red" class = "quantity">@PendingLeaves</td>
                                                    }*@
                                                @{var TotalDeductableDays = Convert.ToDouble(LBItem.TotalDeductableDays) - PendingLeaves;}
                                                <td class="quantity">  @Convert.ToDouble(LBItem.TotalDeductableDays)</td> @*@TotalDeductableDays*@
                                                @{var TotalPaidLeaves = Convert.ToDouble(LBItem.TotalPaidLeaves) - PendingLeaves;}
                                                <td class="quantity"> @Convert.ToDouble(LBItem.TotalPaidLeaves)</td> @*TotalPaidLeaves*@

                                                <td class="quantity"> @Convert.ToDouble(LBItem.TotalUnPaidLeaves)</td>

                                                @*<td style ="color:Red" class = "quantity"> @LBItem.Pending</td>*@
                                                @{var ClosingLeavesOnCurrentDay = (Convert.ToDouble(LBItem.OpeningBalance) - Convert.ToDouble(LBItem.LeaveUsed));}
                                                @* <td class = "quantity">@LBItem.CurrentBalance</td>*@
                                                <td class="quantity"> @ClosingLeavesOnCurrentDay</td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                                else
                                {
                                    <thead>
                                        <tr>
                                            <td align="center">
                                                Leave Type
                                            </td>
                                            <td align="center">
                                                Opening Balance
                                            </td>
                                            @* <td align="center">Allowed Leaves</td>*@
                                            <td align="center">
                                                Leave consumed
                                            </td>
                                            <td align="center">
                                                Pending
                                            </td>
                                            <td align="center">
                                                Current Balance for @DateTime.Now.ToString("MMM-yyyy")
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var LBItem in ViewBag.LeaveBalanceDetailsVB)
                                        {
                                            <tr>
                                                <td align="center">
                                                    @LBItem.LeaveType
                                                </td>
                                                @*<td class="quantity">@LBItem.LeaveUsed</td>*@
                                                <td class="quantity">
                                                    @LBItem.OpeningBalance
                                                </td>
                                                @*<td class="quantity">@LBItem.LeaveAllowed</td>*@
                                                <td class="quantity">
                                                    @LBItem.LeaveUsed
                                                </td>
                                                <td class="quantity">
                                                    @LBItem.Pending
                                                </td>
                                                @{var OpeningLeavesOnCurrentDay = (LBItem.OpeningBalance - (Convert.ToDouble(LBItem.LeaveUsed) + Convert.ToDouble(LBItem.Pending)));}
                                                @*<td class = "quantity">@LBItem.CurrentBalance</td>*@
                                                <td class="quantity">
                                                    @OpeningLeavesOnCurrentDay
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                    <!-- END PORTLET-->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg">
        </div>
        <div id="popupEventForm" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <input type="hidden" id="eventID">
                        <input type="hidden" id="OriginalToDate">
                        <input type="hidden" value="@ViewBag.EmployeeId" id="EmployeeID">
                        <label>
                            Select Application
                        </label><span style="color: Red">*</span>
                        <input type="radio" checked="checked" name="ApplicationType" id="LeaveApplication"
                               value="LeaveApplication" />
                        Leave Application
                        <input type="radio" name="ApplicationType" id="ODApplication" value="ODApplication" />
                        OD Application
                        <input type="radio" name="ApplicationType" id="ExceptionApplication" value="ExceptionApplication" />
                        Exception Application
                        <br />
                        <br />
                        <label>
                            From Date
                        </label>
                        @Html.TextBox("FromDate", "", new { @class = "datepicker", @disabled = "disabled" })
                        <br />
                        <br />
                        <label>
                            To Date
                        </label>
                        @Html.TextBox("ToDate", "", new { @class = "datepicker", @disabled = "disabled" })
                        <br />
                        <br />
                        <div id="LeaveContent">
                            <label>
                                From Day Status
                            </label>
                            @Html.DropDownList("FromDayStatus", (IEnumerable<SelectListItem>)@ViewBag.LeaveTypeStatusList)
                            <br />
                            <br />
                            <label>
                                To Day Status
                            </label>
                            @Html.DropDownList("ToDayStatus", (IEnumerable<SelectListItem>)@ViewBag.LeaveTypeStatusList)
                            <br />
                            <br />
                            <label>
                                Leave Type <span style="color: Red; font-weight: 700">*</span>
                            </label>
                            @Html.DropDownList("LeaveId", (IEnumerable<SelectListItem>)@ViewBag.LeaveTypeList)
                            <br />
                            <br />
                            <label>
                                Purpose
                            </label>
                            @Html.TextBox("Purpose", "")
                            <br />
                            <br />
                        </div>
                        <div id="ODContent" style="display: none">
                            <label>
                                From Day Status
                            </label>
                            @Html.DropDownList("ODDayStatus", (IEnumerable<SelectListItem>)@ViewBag.LeaveTypeStatusList)
                            <br />
                            <br />
                            <label>
                                To Day Status
                            </label>
                            @Html.DropDownList("ODDayStatus1", (IEnumerable<SelectListItem>)@ViewBag.LeaveTypeStatusList)
                            <br />
                            <br />
                            <label>
                                Requisition Type <span style="color: Red; font-size: 18px">*</span>
                            </label>
                            @Html.DropDownList("ODTourType", (IEnumerable<SelectListItem>)@ViewBag.RequisitionTYpeList)
                            <br />
                            <br />
                            <label>
                                Place
                            </label>
                            @Html.TextBox("Place", "")
                            <br />
                            <br />
                            <label>
                                Purpose
                            </label>
                            @Html.DropDownList("ODPurpose", (IEnumerable<SelectListItem>)@ViewBag.ODPurposeList)
                            <br />
                            <br />
                        </div>
                        <div id="ExceptionContent" style="display: none">
                            <input type="hidden" id="DailyTrnId">
                            <label>
                                Shift <span style="color: Red; font-size: 18px">*</span>
                            </label>
                            @Html.DropDownList("ShiftId", (IEnumerable<SelectListItem>)@ViewBag.ShiftList)
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <label>
                                Status <span style="color: Red; font-size: 18px">*</span>
                            </label>
                            @Html.TextBox("Status", "", new { disabled = "disabled" })
                            <br />
                            <br />
                            <label>
                                Original Login Time
                            </label>
                            <input type="text" name="OriginalLogin" id="OriginalLogin" readonly="readonly" disabled="disabled"
                                   data-inputmask="'mask': ['', '99:99:99']" data-mask />
                            <br />
                            <br />
                            <label>
                                Login Time <span style="color: Red; font-size: 18px">*</span> <span style="color: Red;
                                    font-size: 10px">(In 24 hours format)</span>
                            </label>
                            <input type="text" name="Login" id="Login" value="" data-inputmask="'mask': ['', '99:99:99']"
                                   data-mask />
                            <br />
                            <br />
                            <label>
                                Original LogOut Time
                            </label>
                            <input type="text" name="OringinalLogOut" id="OringinalLogOut" readonly="readonly"
                                   disabled="disabled" data-inputmask="'mask': ['', '99:99:99']" data-mask />
                            <br />
                            <br />
                            <label>
                                LogOut Time <span style="color: Red; font-size: 18px">* </span><span style="color: Red;
                                    font-size: 10px">(In 24 hours format)</span>
                            </label>
                            <input type="text" name="LogOut" id="LogOut" value="" data-inputmask="'mask': ['', '99:99:99']"
                                   data-mask />
                            <br />
                            <br />
                            <label>
                                Reason <span style="color: Red; font-size: 18px">*</span>
                            </label>
                            @Html.DropDownList("Reason", (IEnumerable<SelectListItem>)@ViewBag.ExceptionReasonList)
                            <br />
                            <br />
                            <div id="RemarkBox" style="display: none">
                                <label>
                                    Remark <span style="color: Red; font-size: 18px">*</span>
                                </label>
                                @Html.TextBox("Remark", "")
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">
                            Cancel
                        </button>
                        <button type="button" id="btnPopupSave" class="btn btn-primary">
                            Save event
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="ErrorDiv" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" id="ErrorBody">
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="col-md-2  btn btn-primary" id="SubmitBtn"
                                style="display: none">
                            Submit
                        </button>
                        <button type="button" data-dismiss="modal" class="col-md-2 btn">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div_readmore">
</div>
<!-- ./wrapper -->
<!-- jQuery 2.2.3 -->
<script type="text/javascript">

    function ReadMore() {
        $('#page_content').hide();
        showloading();  //--- ADDED BY SHALAKA ON 21st JUNE 2017 TO DISPLAY PROGRESS RING
        var currentDate = new Date();
        //var PreviousDAte = currentDate.setDate( currentDate.getDate() - 7);
        // var day = currentDate.getDate();
        //alert(PreviousDAte);
        $.ajax({
            url: '@Url.Content("~/Home/ReadMore")',
            data: JSON.stringify({ FromDate: currentDate, ToDate: currentDate }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                //result = JSON.stringify(result);
                //var obj = JSON.parse(result);
                $("#div_readmore").html(result);

            },
            error: function (result) {
                //alert(result);
            }
        });
        hideloading();  //--- ADDED BY SHALAKA ON 21st JUNE 2017 TO DISPLAY PROGRESS RING
    }

    //--- ADDED BY SHALAKA ON 21st JUNE 2017 TO DISPLAY PROGRESS RING
    // Start
    // OnBtnUsersClick function to check Employee statistics
    function OnBtnUsersClick() {
        showloading();
        window.location.href = '@Url.Action("HRDashboard", "Dashboard")';
        hideloading();
    }

    // OnBtnSiteMapClick to check Employees reporting to logged in employee
    function OnBtnSiteMapClick() {
        showloading();
        window.location.href = '@Url.Action("EmployeeReportingIndex", "ManagerDashboard")';
        hideloading();
    }

    // OnBtnClockclick to check logged in Employee attendance statistics
    function OnBtnClockclick() {
        showloading();
        window.location.href = '@Url.Action("Index", "ManagerDashboard")';
        hideloading();
    }
    // End

    // OnBtnClockclick to check logged in Employee attendance statistics
    function OnBtnAttenclick() {
        showloading();
        window.location.href = '@Url.Action("EmpDailyTransaction", "ManagerDashboard")';
        hideloading();
    }
    // End

    //OnBtnchartclick to check statistick of the month
    //Added by shraddha on 21 JULY 2017
    function OnBtnchartclick() {
        showloading();
        window.location.href = '@Url.Action("statisticsforselectedMonth", "ManagerDashboard")';
        hideloading();

    }


</script>
<script type="text/javascript">

    jQuery(function () {
        jQuery('#ticker').tickerme();
    });

    // js code for news ticker
    (function (e) { e.fn.tickerme = function (t) { var n = e.extend({}, e.fn.tickerme.defaults, t); return this.each(function () { function a() { e(t).hide(); e("body").prepend(r).prepend(i); var n = '<div id="ticker_container">'; n += '<div id="newscontent"><div id="news"></div></div>'; n += '<div id="controls">'; n += '<a href="#" id="pause_trigger"><svg class="icon icon-pause" viewBox="0 0 32 32"><use xlink:href="#icon-pause"></use></svg></a>'; n += '<a href="#" id="play_trigger" style="display:none"><svg class="icon icon-play" viewBox="0 0 32 32"><use xlink:href="#icon-play"></use></svg></a>'; n += '<a href="#" id="prev_trigger"><svg class="icon icon-prev" viewBox="0 0 32 32"><use xlink:href="#icon-prev"></use></svg></a>'; n += '<a href="#" id="next_trigger"><svg class="icon icon-next" viewBox="0 0 32 32"><use xlink:href="#icon-next"></use></svg></a>'; n += "</div>"; n += "</div>"; e(n).insertAfter(t); e(t).children().each(function (t) { s[t] = e(this).html() }); f() } function f() { if (o == s.length - 1) { o = 0 } else { o++ } if (n.type == "fade") { e("#news").fadeOut(n.fade_speed, function () { e("#newscontent").html('<div id="news">' + s[o] + "</div>"); e("#news").fadeIn(n.fade_speed) }) } u = setTimeout(f, n.duration) } var t = e(this); var r = '<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="224" height="32" viewBox="0 0 224 32"><defs><g id="icon-play"><path class="path1" d="M6 4l20 12-20 12z"></path></g><g id="icon-pause"><path class="path1" d="M4 4h10v24h-10zM18 4h10v24h-10z"></path></g><g id="icon-prev"><path class="path1" d="M18 5v10l10-10v22l-10-10v10l-11-11z"></path></g><g id="icon-next"><path class="path1" d="M16 27v-10l-10 10v-22l10 10v-10l11 11z"></path></g></defs></svg>'; var i = '<style type="text/css">#ticker_container{width:100%}#newscontent{float:left}#news{display:none}#controls{float:right;height:16px}.icon{display:inline-block;width:16px;height:16px;fill:' + n.control_colour + "}.icon:hover{fill:" + n.control_rollover + "}</style>"; var s = []; var o = -1; var u; a(); e("a#pause_trigger").click(function () { clearTimeout(u); e(this).hide(); e("#play_trigger").show(); return false }); e("a#play_trigger").click(function () { f(); e(this).hide(); e("#pause_trigger").show(); return false }); e("a#prev_trigger").click(function () { if (o == 0) { o = s.length - 1 } else { o-- } e("#newscontent").html('<div id="news" style="display:block">' + s[o] + "</div>"); if (n.auto_stop) e("a#pause_trigger").trigger("click"); return false }); e("a#next_trigger").click(function () { if (o == s.length - 1) { o = 0 } else { o++ } e("#newscontent").html('<div id="news" style="display:block">' + s[o] + "</div>"); if (n.auto_stop) e("a#pause_trigger").trigger("click"); return false }) }) }; e.fn.tickerme.defaults = { fade_speed: 500, duration: 3e3, auto_stop: true, type: "fade", control_colour: "#333333", control_rollover: "#666666" } })(jQuery)
</script>
<script type="text/javascript">


    $(function () {
        var date = new Date();
        var d = date.getDate(),
                    m = date.getMonth(),
                    y = date.getFullYear();


        $(document).ready(function () {
            //            var currentLangCode = 'en';

            //            $('#lang-selector').on('change', function () {
            //                if (this.value) {
            //                    currentLangCode = this.value;
            //                    $('#calendar').fullCalendar('destroy');
            //                    //alert(currentLangCode);
            //                    renderCalendar();
            //                }
            //            });

            //
            //            $('#lang-selector').append(
            //				$('<option/>')
            //					.attr('value', 'hi')
            //					.prop('selected', 'hi' == currentLangCode)
            //					.text('Hindi')
            //			);
            //            $('#lang-selector').append(
            //				$('<option/>')
            //					.attr('value', 'en')
            //					.prop('selected', 'en' == currentLangCode)
            //					.text('English')
            //			);




            function renderCalendar() {
                var sourceFullView = { url: '@Url.Content("~/Home/GetEvents")' }; //,'/Home/GetEvents/' };
                var sourceSummaryView = { url: '@Url.Content("~/Home/GetDiarySummary")' }; //'/Home/GetDiarySummary/' };
                var CalLoading = true;
                var start = moment($("#calendar").fullCalendar("getView").start).format("YYYY-MM-DD");
                var DefaultLang = $("#DefaultLang").val();
                //alert(DefaultLang);
                $('#calendar').fullCalendar({

                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month'
                    },
                    defaultView: 'month',
                    lang: DefaultLang,
                    buttonIcons: false,
                    editable: true,
                    allDaySlot: false,
                    selectable: true,
                    slotMinutes: 15,
                    fixedWeekCount: false,
                    events:
                {
                    url: '@Url.Content("~/Home/GetTimeTable")', //'/Home/GetTimeTable/',
                    type: 'POST',
                    data: { start: start }
                },

                    eventClick: function (calEvent, jsEvent, view) {
                        //                        alert('You clicked on event id: ' + calEvent.id
                        //                                    + "\nSpecial ID: " + calEvent.someKey
                        //                                    + "\nAnd the title is: " + calEvent.title);
                        var IsCalendarApplicationOn = $("#IsCalendarApplicationOn").val();
                        if (IsCalendarApplicationOn == 1) {
                            ShowEventPopup(date, date);
                        }

                    },

                    //                eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                    //                    if (confirm("Confirm move?")) {
                    //                        UpdateEvent(event.id, event.start);
                    //                    }
                    //                    else {
                    //                        revertFunc();
                    //                    }
                    //                },

                    //                eventResize: function (event, dayDelta, minuteDelta, revertFunc) {

                    //                    if (confirm("Confirm change appointment length?")) {
                    //                        UpdateEvent(event.id, event.start, event.end);
                    //                    }
                    //                    else {
                    //                        revertFunc();
                    //                    }
                    //                },

                    dayClick: function (date, allDay, jsEvent, view) {

                        GetLoginLogoutTime2(date);
                        var IsCalendarApplicationOn = $("#IsCalendarApplicationOn").val();
                        if (IsCalendarApplicationOn == 1) {
                            ShowEventPopup(date, date);
                        }
                    },
                    select: function (start, end) {
                        GetLoginLogoutTime2(start);
                        var IsCalendarApplicationOn = $("#IsCalendarApplicationOn").val();
                        if (IsCalendarApplicationOn == 1) {
                            ShowEventPopup(start, end);
                        }

                    },

                    viewRender: function (view, element) {

                        if (!CalLoading) {
                            if (view.name == 'month') {
                                $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                                $('#calendar').fullCalendar('removeEvents');
                                $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                            }
                            else {
                                $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                                $('#calendar').fullCalendar('removeEvents');
                                $('#calendar').fullCalendar('addEventSource', sourceFullView);
                            }
                        }
                    }

                });

                CalLoading = false;
            }
            renderCalendar();
        });
        //        $.each($.fullCalendar.locales, function (localeCode) {
        //            $('#locale-selector').append(
        //				$('<option/>')
        //					.attr('value', localeCode)
        //					.prop('selected', localeCode == initialLocaleCode)
        //					.text(localeCode)
        //			);
        //        });

        //        // when the selected option changes, dynamically change the calendar option
        //        $('#locale-selector').on('change', function () {
        //            if (this.value) {
        //                $('#calendar').fullCalendar('option', 'locale', this.value);
        //            }
        //        });
    });



    function GetLoginLogoutTime2(TranDate) {
        TranDate = convertStartDate(TranDate.toString());

        $.ajax({
            url: '@Url.Content("~/Dashboard/GetLoginLogoutTime")',
            data: { dateStr: TranDate },
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            // data: { dateStr: TranDate },
            success: function (response) {
                $("#Status").val(response.Status);
                $("#OriginalLogin").val(response.OriginalLoginTime);
                $("#OringinalLogOut").val(response.OriginalLogoutTime);
                $("#DailyTrnId").val(response.DailyTrnId);
            }
        });
    }

    $('#btnInit').click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Home/Init")',
            success: function (response) {
                if (response == 'True') {
                    $('#calendar').fullCalendar('refetchEvents');
                    alert('Database populated! ');
                }
                else {
                    alert('Error, could not populate database!');
                }
            }
        });
    });

    $('#btnPopupCancel').click(function () {
        ClearPopupFormValues();
        $('#popupEventForm').hide();
    });

    $('#btnPopupSave').click(function () {
        //alert();
        var ApplicationType = $('input[name=ApplicationType]:checked', '#popupEventForm').val();
        if (ApplicationType == null || ApplicationType == "" || ApplicationType == "undefined") {
            alert("Please Select Proper application type");
            hideloading();
            return false;
        }
        if (ApplicationType == "LeaveApplication") {

            CheckInitialValidationBeforeSubmit();

        }

        if (ApplicationType == "ODApplication") {
            CheckODValidationBeforeSubmit();
        }
        if (ApplicationType == "ExceptionApplication") {
            CheckExceptionValidationBeforeSubmit();
        }
    });

    function ShowEventPopup(start, end) {
        ClearPopupFormValues();

        var newstartdate = convertStartDate(start.toString());
        var newenddate = convertEndDate(end.toString());


        $('#FromDate').val(newstartdate);
        $('#ToDate').val(newenddate);
        $('#OriginalToDate').val(newenddate);
        var $form = $(this).closest('form');
        $('#popupEventForm').modal({ backdrop: 'static', keyboard: false })
                .one('click', '#btnPopupCancel', function () {

                    $('#popupEventForm').hide();
                });
    }

    function ClearPopupFormValues() {

        $('#eventID').val("");
        $('#ToDate').val("");
        $("#FromDayStatus").val("");
        $('#ToDayStatus').val("");
        $('#Purpose').val("");
        $('#ODDayStatus').val("");
        $("#ODDayStatus1").val("");
        $('#ODTourType').val("");
        $('#Place').val("");
        $('#ODPurpose').val("");
        $('#OriginalLogin').val("");
        $('#ShiftId').val("");
        $('#OringinalLogOut').val("");
        $('#Status').val("");
        $('#Login').val("");
        $('#LogOut').val("");
        $('#Reason').val("");
        $('#Remark').val("");

        $("input:radio[name='ApplicationType'][value='LeaveApplication']").prop('checked', true);
        $("#LeaveContent").css('display', 'inline');
        $("#ODContent").css('display', 'none');
        $("#ExceptionContent").css('display', 'none');
    }



    $(function () {
        //Initialize Select2 Elements


        $('.datepicker').datepicker({

            format: "dd-M-yyyy",

            autoclose: true
        });

    });


    function convertStartDate(str) {

        var date = new Date(str),
        mnth = ("0" + (date.getMonth() + 1)).slice(-2),
        day = ("0" + date.getDate()).slice(-2);
        return [day, mnth, date.getFullYear()].join("/");
    }

    function convertEndDate(str) {

        var date = new Date(str),
        mnth = ("0" + (date.getMonth() + 1)).slice(-2),
        day = ("0" + (date.getDate())).slice(-2);
        var GeneratedDate = new Date(date.getFullYear(), mnth, day);
        GeneratedDate.setDate(GeneratedDate.getDate() - 1);

        return [GeneratedDate.getDate(), GeneratedDate.getMonth(), GeneratedDate.getFullYear()].join("/");
    }



    function CheckInitialValidationBeforeSubmit() {
        showloading();
        var FromDate = $("#FromDate").val();

        var ToDate = $("#ToDate").val();

        var FromDayStatus = $("#FromDayStatus").val();

        var ToDayStatus = $("#ToDayStatus").val();

        var LeaveId = $("#LeaveId").val();

        var EmployeeId = $("#EmployeeID").val();

        var Purpose = $("#Purpose").val();


        var ApplicationType = $('input[name=ApplicationType]:checked', '#popupEventForm').val();

        if (LeaveId == null || LeaveId == "") {
            alert("Please select proper leave type");
            hideloading();
            return false;
        }

        if (FromDate == null || FromDate == "") {
            alert("Please enter From date");
            hideloading();
            return false;
        }

        if (ToDate == null || ToDate == "") {
            alert("Please enter To date");
            hideloading();
            return false;
        }

        if (FromDayStatus == null || FromDayStatus == "") {
            alert("Please select proper From day status");
            hideloading();
            return false;
        }
        if (ToDayStatus == null || ToDayStatus == "") {
            alert("Please select proper To day status");
            hideloading();
            return false;
        }

        if (Purpose == null || Purpose == "") {
            alert("Please enter leave purpose");
            hideloading();
            return false;
        }

        if (ApplicationType == null || ApplicationType == "" || ApplicationType == "undefined") {
            alert("Please select proper application type");
            hideloading();
            return false;
        }

        $.ajax({
            url: '@Url.Content("~/WetosApplication/CheckInitialValidationBeforeSubmit")',
            dataType: "json",
            data: { FromDate: FromDate, ToDate: ToDate, FromDayStatus: FromDayStatus, ToDayStatus: ToDayStatus, LeaveId: LeaveId, EmployeeId: EmployeeId },
            success: function (data) {

                if (data.RetStat == true) {
                    hideloading();


                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/WetosApplication/LeaveApplication")',
                        data: { FromDate: FromDate, ToDate: ToDate, FromDayStatus: FromDayStatus, ToDayStatus: ToDayStatus, Purpose: Purpose, LeaveId: LeaveId },
                        success: function (response) {
                            alert("Leave Successfully applied");
                        }
                    });
                }
                else {

                    if (data.IsFormSubmittable == true && data.RetStat == false) {

                        $('#ErrorDiv').modal({ backdrop: data.ErrorMessage, keyboard: false })
                        {
                            hideloading();
                            $('#ErrorBody').html(data.ErrorMessage);
                            $('#SubmitBtn').css("display", "inline");
                        }

                        $('#ErrorDiv').modal({ backdrop: data.ErrorMessage, keyboard: false })
                                .one('click', '#SubmitBtn', function () {

                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Content("~/WetosApplication/LeaveApplication")',
                                        data: { FromDate: FromDate, ToDate: ToDate, FromDayStatus: FromDayStatus, ToDayStatus: ToDayStatus, Purpose: Purpose, LeaveId: LeaveId },
                                        success: function (response) {
                                            hideloading();
                                            alert("Leave Successfully applied");

                                        }
                                    });

                                });
                    }
                    else {

                        $('#ErrorDiv').modal({ backdrop: data.ErrorMessage, keyboard: false })
                        {
                            hideloading();
                            $('#ErrorBody').html(data.ErrorMessage);
                        }
                    }

                }
            },
            error: function (data) {
                alert("Error");
                hideloading();
            }
        });

    }

    function CheckODValidationBeforeSubmit() {

        showloading();

        var FromDate = $("#FromDate").val();

        var ToDate = $("#ToDate").val();

        var ODDayStatus = $("#ODDayStatus").val();

        var ODDayStatus1 = $("#ODDayStatus1").val();

        var ODTourType = $("#ODTourType").val();

        var EmployeeId = $("#EmployeeID").val();

        var ODPurpose = $("#ODPurpose").val();

        var Place = $("#Place").val();

        var ApplicationType = $('input[name=ApplicationType]:checked', '#popupEventForm').val();
        if (ODTourType == null || ODTourType == "") {
            alert("Please select proper requisition type");
            hideloading();
            return false;
        }




        if (FromDate == null || FromDate == "") {
            alert("Please enter From date");
            hideloading();
            return false;
        }

        if (ToDate == null || ToDate == "") {
            alert("Please enter To date");
            hideloading();
            return false;
        }
        if (ODDayStatus == null || ODDayStatus == "") {
            alert("Please select proper From day status");
            hideloading();
            return false;
        }

        if (ODDayStatus1 == null || ODDayStatus1 == "") {
            alert("Please select proper To day status");
            hideloading();
            return false;
        }

        if (Place == null || Place == "") {
            alert("Please enter OD place");
            hideloading();
            return false;
        }
        if (ODPurpose == null || ODPurpose == "") {
            alert("Please enter leave purpose");
            hideloading();
            return false;
        }



        $.ajax({
            dataType: "json",
            url: '@Url.Content("~/WetosApplication/CheckInitialValidationForOD")',
            data: { FromDate: FromDate, ToDate: ToDate, ODDayStatus: ODDayStatus, ODDayStatus1: ODDayStatus1, Place: Place, Purpose: ODPurpose, ODTourType: ODTourType, EmpId: EmployeeId },
            success: function (response) {
                if (response.RetStat == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/WetosApplication/ODTravelApplication")',
                        data: { FromDate: FromDate, ToDate: ToDate, ODDayStatus: ODDayStatus, ODDayStatus1: ODDayStatus1, Place: Place, Purpose: ODPurpose, ODTourType: ODTourType },
                        success: function (response) {
                            //hideloading();
                            alert("OD Successfully applied");
                        }
                    });
                    hideloading();
                    //alert("OD Successfully applied");
                }
                else {
                    $('#ErrorDiv').modal({ backdrop: response.ErrorMessage, keyboard: false })
                    {
                        hideloading();
                        $('#ErrorBody').html(response.ErrorMessage);
                    }
                }
            }
        });
    }



    function CheckExceptionValidationBeforeSubmit() {

        showloading();

        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var OriginalLogin = $("#OriginalLogin").val();
        var OringinalLogOut = $("#OringinalLogOut").val();
        var Status = $("#Status").val();
        var Login = $("#Login").val();
        var LogOut = $("#LogOut").val();
        var Remark = $("#Remark").val();
        var Reason = $("#Reason").val();
        var ShiftId = $("#ShiftId").val();
        var DailyTrnId = $("#DailyTrnId").val();
        var EmployeeId = $("#EmployeeID").val();


        var ApplicationType = $('input[name=ApplicationType]:checked', '#popupEventForm').val();

        if (ShiftId == null || ShiftId == "") {
            alert("Please select proper shift");
            hideloading();
            return false;
        }


        if (Login == null || Login == "") {
            alert("Please enter valid login time");
            hideloading();
            return false;
        }

        if (LogOut == null || LogOut == "") {
            alert("Please enter valid logout time");
            hideloading();
            return false;
        }
        if (Reason == null || Reason == "") {
            alert("Please select proper result");
            hideloading();
            return false;
        }

        if (DailyTrnId == null || DailyTrnId == "" || Status == null || Status == "") {
            alert("Exception date is invalid");
            hideloading();
            return false;
        }
        //        if (Remark == null || Remark == "") {
        //            Remark = ".";
        //        }
        $.ajax({
            dataType: "json",
            url: '@Url.Content("~/WetosApplication/CheckInitialValidationForException")',
            data: { TranDate: FromDate, Status: Status, Login: Login, LogOut: LogOut, Remark: Remark, Reason: Reason, EmployeeId: EmployeeId, ShiftId: ShiftId, DailyTrnId: DailyTrnId },
            success: function (response) {
                if (response.RetStat == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/WetosApplication/ExceptionEntryApply")',
                        data: { TranDate: FromDate, Status: Status, Login: Login, LogOut: LogOut, Remark: Remark, Reason: Reason, EmployeeId: EmployeeId, ShiftId: ShiftId, DailyTrnId: DailyTrnId },
                        success: function (response) {
                            hideloading();
                            alert("Exception Successfully applied");
                        }
                    });

                    //alert("OD Successfully applied");
                }
                else {
                    $('#ErrorDiv').modal({ backdrop: response.ErrorMessage, keyboard: false })
                    {
                        hideloading();
                        $('#ErrorBody').html(response.ErrorMessage);
                    }
                }
            }
        });
    }

    // Added by SHRADDHA on 29 AUG  2017 START
    // Trigger ToDate from FromDate
    $("#FromDate").change(function () {
        var fromdate = $("#FromDate").val();
        // alert(fromdate);
        $("#ToDate").val(fromdate).trigger('change');

    });

    // Trigger ToDateStatus from FromDateStaus
    $("#FromDayStatus").change(function () {
        var status = $("#FromDayStatus").val();
        // alert(fromdate);
        $("#ToDayStatus").val(status).trigger('change');

    });


    // Trigger ToDateStatus from FromDateStaus
    $("#ODDayStatus").change(function () {
        var status = $("#ODDayStatus").val();
        // alert(fromdate);
        $("#ODDayStatus1").val(status).trigger('change');

    });
    // Added by SHRADDHA on 29 AUG 2017 END

    $("input[name = 'ApplicationType']").on('change', function () {
        if ($(this).val() == "LeaveApplication") {

            $("#LeaveContent").css('display', 'inline');
            $("#ODContent").css('display', 'none');
            $("#ExceptionContent").css('display', 'none');
            var OriginalToDate = $('#OriginalToDate').val();
            $("#ToDate").val(OriginalToDate);
        }
        if ($(this).val() == "ExceptionApplication") {

            $("#LeaveContent").css('display', 'none');
            $("#ODContent").css('display', 'none');
            $("#ExceptionContent").css('display', 'inline');
            var FromDate = $("#FromDate").val();
            $("#ToDate").val(FromDate);
        }
        else {
            $("#LeaveContent").css('display', 'none');
            $("#ODContent").css('display', 'inline');
            $("#ExceptionContent").css('display', 'none');
            var OriginalToDate = $('#OriginalToDate').val();
            $("#ToDate").val(OriginalToDate);
        }
    });

    $("#Reason").change(function () {
        var reasonvalue = $("#Reason").val();
        if (reasonvalue == 9) {
            $("#RemarkBox").css("display", "inline");
        }
        else {
            $("#RemarkBox").css("display", "none");
        }
    });

</script>
<script type="text/javascript">

    $("[data-mask]").inputmask();

</script>
<script type="text/javascript">

    // A $( document ).ready() block.
    $(document).ready(function () {

        hideloading();
    });

    //    $(window).load(function () {
    //        hideloading();
    //        //alert("Hide Loading");
    //    });

</script>
