@model IEnumerable<WetosDB.SP_DeclaredHolidayListView_Result>
@{
    ViewBag.Title = "Declared Holiday List";
}
<style type="text/css">
    .row
    {
        margin-bottom: 10px;
    }
</style>
<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
            <h1>Declared Holiday
        <small>List</small>
         <span data-toggle="tooltip" title="Add Declared holiday" style="float:right;font-weight:800">
         @Html.ActionLink(" ", "Create", new { }, new { @class = "fa fa-plus-circle", title = "Add Declared holiday", style = "color:#428bca;font-size:19px" })</span>
            </h1>
             <div class="row">
            <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="@Url.Action("Index", "Home")">Home </a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                     <li>
                         <a href="#">Attendance</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                    <li>
                       <a href="#">Declared Holiday</a>
                    </li>
                    <li class="pull-right">
                        <div id="dashboard-report" title="Today's date">
                            <span style="cursor:pointer" class="back " title="Back" id="goback"><i class="fa fa-arrow-left"></i> @*<a href="#" >Back</a>*@

                            </span>
                             <i class="fa fa-calendar"></i>
                            <span>@DateTime.Now.ToLongDateString()
                            </span>
                           
                        </div>
    <div style="clear: both;"></div>

    @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

</section>
        <section class="content">
    <div class="row">
      
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                  
                </div>
                <div class="box-body">
                 
                    @* <span style="float:left">@Html.ActionLink("Export To PDF", "ExportDatatoPDF")</span>*@
                    <table id="HolidayList" class="table table-bordered table-striped">
                    <thead>
    <tr>
       
        <td> 
            Holiday Type
        </td> 
        @*<td> 
            EmployeeId
        </td> 
        <td> 
            ReligionId
        </td> *@
        <td> 
             Date
        </td> 
       @* <td> 
            To Date
        </td> *@
        @*<td> 
            Criteria
        </td> *@
        <td> 
            Description
        </td> 
        @*<td> 
            DayStatus
        </td> *@
        @*<td> 
            Branch 
        </td> *@
        <td> 
            Branch
        </td> 
         <td> Action</td> 
    </tr>
      </thead>
                        <tbody>
@foreach (var item in Model)
{
    <tr>
       
        <td>
            Declared Holiday
        </td>
       @* <td>
            @item.EmployeeId
        </td>
        <td>
            @item.ReligionId
        </td>*@
       @* <td>
            @String.Format("{0:g}", item.FromDate.ToString("dd-MMM-yyyy"))
        </td>*@
        <td>
            @String.Format("{0:g}", item.HolidayDate.ToString("dd-MMM-yyyy"))
        </td>
        
       @* <td>
            @item.Criteria
        </td>*@
        <td>
            @item.Description
        </td>
       @* <td>
            @item.DayStatus
        </td>*@
        <td>
            @item.BranchName
        </td>
        @*<td>
            @item.CompanyName
        </td>*@
         <td>
             <span data-toggle="tooltip" title="Edit">
          @Html.ActionLink(" ", "Edit", "WetosDeclaredHoliday", new { id = item.DeclaredHolidayId }, new { @class = "fa fa-pencil-square-o" })
          </span>
           <span data-toggle="tooltip" title="Delete">
                                                @Html.ActionLink(" ", "Delete", new { id = item.DeclaredHolidayId }, new { @class = "fa fa-trash" })
                                                </span>
           
        </td>
    </tr>
}
 </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                        <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
    <!-- /.box -->

    <!-- /.row -->
</section>
    </div>
</div>
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }

</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
<script>
    $(function () {

        $("#HolidayList").DataTable();

    });
</script>
