@model WetosMVCMainApp.Models.HRLetterModel
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
   @System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
                <h3>
                    HR Letters
                     @*<small>/small>*@
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="page-breadcrumb breadcrumb">
                            <li><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">Home</a> <i
                                class="fa fa-angle-right"></i></li>
                            <li><a href="#">Employee Management</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="@Url.Action("Index", "WetosEmployeeManagement")">Manage Employee </a><i class="fa fa-angle-right"></i></li>
                             <li><a href="#">HR Letters</a></li>
                            <li class="pull-right">
                                <div id="dashboard-report"  data-toggle="tooltip" title="Today's date">
                                    <span style="cursor: pointer" class="back " id="goback"><i class="fa fa-arrow-left">
                                    </i>@*<a href="#" >Back</a>*@ </span><i class="fa fa-calendar"></i><span>@DateTime.Now.ToLongDateString()
                                    </span>
                                </div>
                                @* <span style="float:left">@Html.ActionLink("Add New Location", "Create")</span>*@
                            </li>
                        </ul>
                    </div>
                </div>
@using (Html.BeginForm(null, null, new { @target = "_blank" }))
{
    <div style="color: Red; font-size: 12px">
                @Html.ValidationSummary(true)
    </div>
    <section class="content">
        <div class="box">
            <div class="box-header">
            </div>
            
            <!-- /.box-header -->
            <div class="box-body">
             @*Added by Rajas on 23 DEC 2016 For custom error message START*@
            @*<div style="color: Red; font-size: 12px">
            @Html.ValidationMessage("Error")
            </div>*@
             @*Added by Rajas on 23 DEC 2016 For custom error message END*@

          <div class="row">
            <div class="editor-label col-md-2">
                Select Employee
             </div>
        <div class="editor-field col-md-5">
              @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)@ViewBag.EmployeeList, "Select", new { @class = "form-control select2" }) @*multiselect", @multiple = "multiple", id = "selectemployee" }) *@
        @*<div style="color:Red;font-size:12px"> 
        @Html.ValidationMessageFor(model => model.EmployeeId)
        </div>*@
        @*<input type="checkbox" id="checkbox" />Select All*@
        @*<input type="button" id="button" value="check Selected"/>*@
        </div>
        </div> <br/>
                   <div class="col-md-12">                                                      
            <div class="col-md-4">
            <div class="row"> 
            @Html.RadioButtonFor(model => model.SelectedLetter, 1, new { @name = "Report" }) Appointment Letter @*Checked = "checked",*@
            </div>

              <div class="row">
             @Html.RadioButtonFor(model => model.SelectedLetter, 6, new { @name = "Report" }) Service Agreement - Bond
            </div>

             <div class="row">
             @Html.RadioButtonFor(model => model.SelectedLetter, 2, new { @name = "Report" }) Confirmation Letter Without Increment
            </div>

             <div class="row">
             @Html.RadioButtonFor(model => model.SelectedLetter, 3, new { @name = "Report" }) Confirmation Letter With Increment
            </div>

             <div class="row">
             @Html.RadioButtonFor(model => model.SelectedLetter, 4, new { @name = "Report" }) Relieving Letter
            </div>

             <div class="row">
             @Html.RadioButtonFor(model => model.SelectedLetter, 5, new { @name = "Report" }) Experience Letter
            </div>

            </div>
            </div>
            <br />

            <div class="row">
            <button type="submit" id="Export" name="Export" value="1" class="btn btn-primary"  data-toggle="tooltip" title="Click to Generate HR Letter">Generate</button>
            </div>

            </div>
            </div>
            </section>
}            
            
          </section>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
        //$(".js-example-basic-multiple").select2();
        //Datemask dd/mm/yyyy


        //Date picker
        $('.datepicker').datepicker({

            format: "dd-M-yyyy",

            autoclose: true
        });

    });

    // Added by Rajas on 19 APRIL 2017 for Multiselect START
    //    $(".multiselect").select2();
    //    $("#checkbox").click(function () {
    //        //alert(multiselect);
    //        if ($("#checkbox").is(':checked')) {
    //            $(".multiselect > option").prop("selected", "selected");
    //            $(".multiselect").trigger("change");
    //        }
    //        else {
    //            //alert(multiselect);
    //            $(".multiselect > option").removeAttr("selected");
    //            $(".multiselect").trigger("change");
    //        }
    //    });
    // Added by Rajas on 19 APRIL 2017 for Multiselect END
</script>
@*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION START*@
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
 }
 @*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION END*@