@model IEnumerable<WetosDB.SP_HolidayListView_Result>
@*title added by atul on 28 june 2017----start*@
@{
    ViewBag.Title = "Holiday Master List";
}
@System.Web.Optimization.Styles.Render("~/Content/DataTable")
 @System.Web.Optimization.Scripts.Render("~/bundles/DataTable")
<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
    <h1>Holiday Master
        <small>List</small>
         <span data-toggle="tooltip" title="Add Holiday" style="float:right;font-weight:800">
         @Html.ActionLink(" ", "Create", new { }, new { @class = "fa fa-plus-circle", title = "Add Holiday", style = "color:#428bca;font-size:19px" })</span>
           
    </h1>
    <div class="row">
                <div class="col-md-12">
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="@Url.Action("Index", "Home")">Home </a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                         <a href="#">Masters</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "WetosHoliday")">Holiday </a>
                        </li>
                        <li class="pull-right">
                            <div id="dashboard-report"  data-toggle="tooltip" title="Today's date">
                                <span style="cursor:pointer" class="back "  data-toggle="tooltip" title="Back" id="goback"><i class="fa fa-arrow-left"></i></span>
                                <i class="fa fa-calendar"></i>
                                <span>@DateTime.Now.ToLongDateString()</span>                           
                            </div>
                        </li>              
                    </ul>
                </div>
            </div>  
    <div style="clear: both;"></div>

    @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

</section>
        <section class="content">
    <div class="row">
      
        <div class="col-xs-12">
           
                
                <div class="box-body">
                 
                    @* <span style="float:left">@Html.ActionLink("Export To PDF", "ExportDatatoPDF")</span>*@
<table id="HolidayList" class="table table-striped table-bordered table-condensed table-hover">
<thead> @*style="background-color:#1d921d; color:White" *@
    <tr>
        <td> 
            Branch 
        </td>
        <td> 
            Company
        </td> 
        <td> 
            Holiday Type
        </td> 
        @*<td> 
            EmployeeId
        </td> 
        <td> 
            ReligionId
        </td> *@
        <td> 
             Date
        </td> 
       @* <td> 
            To Date
        </td> *@
        @*<td> 
            Criteria
        </td> *@
        <td> 
            Description
        </td> 
        @*<td> 
            DayStatus
        </td> *@
        
         <td> Action</td> 
    </tr>
      </thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
       <td>
            @item.BranchName
        </td>
        <td> @*style="background-color:#1d921d; color:White"*@
            @item.CompanyName
        </td>
        <td>
            @item.HLType
        </td>
       @* <td>
            @item.EmployeeId
        </td>
        <td>
            @item.ReligionId
        </td>*@
       @* <td>
            @String.Format("{0:g}", item.FromDate.ToString("dd-MMM-yyyy"))
        </td>*@
        <td>
            @String.Format("{0:g}", item.ToDate.ToString("dd-MMM-yyyy"))
        </td>
       @* <td>
            @item.Criteria
        </td>*@
        <td>
        <a href="@Url.Action("Details", "WetosHoliday", new { id = item.HoliDayId })" style="cursor:pointer; float:left" title = "Click to view Holiday details">
             @item.Description</a>
          
        </td>
       @* <td>
            @item.DayStatus
        </td>*@
        
         <td>
          

             <span data-toggle="tooltip" title="Edit">
                                                @Html.ActionLink(" ", "Edit", new { id = item.HoliDayId }, new { @class = "fa fa-pencil-square-o" })</span> |
                                                @*@Html.ActionLink("Details", "Details", new { id = item.CompanyId }) |*@
                                                <span data-toggle="tooltip" title="Delete">
                                                @Html.ActionLink(" ", "Delete", new { id = item.HoliDayId }, new { @class = "fa fa-trash" })
                                                </span>
           
        </td>
    </tr>
}
 </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                        <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
  
<!-- /.box -->
<!-- /.row -->
 </section>
    </div>
</div>
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }

    // Data table grouping
    // Added by Rajas on 15 MARCH 2017
    $(document).ready(function () {
        var table = $('#HolidayList').DataTable
        ({
            "columnDefs": [
            { "visible": false, "targets": 1 }
        ],
            "order": [[0, 'asc']],
            "displayLength": 25,
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(1, { page: 'current' }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                        '<tr class="group"><td colspan="5">' + group + '</td></tr>'   //style="background-color:#bdd880; font-weight:700"
                    );

                        last = group;
                    }
                });
            }
        });

        // Order by the grouping
        $('#HolidayList tbody').on('click', 'tr.group', function () {
            var currentOrder = table.order()[0];
            if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                table.order([2, 'desc']).draw();
            }
            else {
                table.order([2, 'asc']).draw();
            }
        });
    });

</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@ 