@model WetosMVCMainApp.Models.CompanyModel
@{
    ViewBag.Title = "Company Master Edit";
}
<link href="~/Content/css/wetoscompany_edit.css" rel="stylesheet" />
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />

@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">


            <div class="row page-breadcrumb breadcrumb ed_breadcrumb ed_breadcrumb_row">
                <div class="col-sm-6 ed_breadcrumb_div">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        <li class="li_margin"><a href="#">Masters </a> <i class="fa fa-angle-right"></i> </li>

                        <li class="li_margin"> <a href="@Url.Action("Index", "WetosCompany")">Company </a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <h1>
                Company Master
                <small>Edit</small>
            </h1>
            @*Added by Pushkar For back breadcrumb on 24 OCT 2016----------Start*@

            <div style="clear: both;"></div>

            @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">

                    <div class="box">

                        <!-- /.box-header -->
                        <div class="box-body">
                            @*@using (Html.BeginForm())*@
                            @* Added by Rajas on 4 MARCH 2017*@
                            @using (Html.BeginForm("Edit", "WetosCompany", FormMethod.Post, new { id = "EditCompanyForm" }))
                            {
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationSummary(true)
                                </div>

                                @*Added by Rajas on 29 DEC 2016 For custom error message START*@
                                <div style="color: Red; font-size: 12px">
                                    @Html.ValidationMessage("Error")
                                </div>
                                @*Added by Rajas on 29 DEC 2016 For custom error message END*@
                                @Html.HiddenFor(model => model.CompanyId)
                                @Html.HiddenFor(model => model.CST)
                                @Html.HiddenFor(model => model.EXC)
                                @Html.HiddenFor(model => model.SGNNM)
                                @Html.HiddenFor(model => model.TDS)
                                @Html.HiddenFor(model => model.SGNPlace)
                                @Html.HiddenFor(model => model.MarkedAsDelete)

                                @* Added by Rajas on 21 JULY 2017 *@
                                @Html.HiddenFor(model => model.LocationId)

                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        Location Name  <span style="color:Red;font-size:18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">
                                        @*Favicon added by Mithilesh and Pushkar on 23/06/2017*@
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            </div>
                                            @*@Html.EditorFor(model => model.LocationId)*@
                                            @Html.DropDownListFor(a => a.LocationId, (IEnumerable<SelectListItem>)@ViewBag.LocatioList, "Select", new { @class = "form-control select2", disabled = "disabled" })

                                        </div>
                                        <div style="color: Red; font-size: 12px">
                                            @Html.ValidationMessageFor(model => model.LocationId)
                                        </div>
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="editor-label col-md-2">
                                        Company Name <span style="color:Red;font-size:18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">
                                        @*Favicon added by Mithilesh and Pushkar on 23/06/2017*@
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-suitcase" aria-hidden="true"></i>
                                            </div>

                                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control pull-right" })

                                        </div>
                                        <div style="color: Red; font-size: 12px">
                                            @Html.ValidationMessageFor(model => model.CompanyName)
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        Address1 @*  <span style="color:Red;font-size:18px" >*</span>*@
                                    </div>
                                    <div class="editor-field col-md-5">
                                        @*Favicon added by Mithilesh and Pushkar on 23/06/2017*@
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                            </div>

                                            @Html.TextBoxFor(model => model.Address1, new { @class = "form-control pull-right" })

                                        </div>
                                        <div style="color: Red; font-size: 12px">
                                            @Html.ValidationMessageFor(model => model.Address1)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        Address2    @*@Html.LabelFor(model => model.Address2)*@
                                    </div>
                                    <div class="editor-field col-md-5">
                                        @*Favicon added by Mithilesh and Pushkar on 23/06/2017*@
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                            </div>

                                            @Html.TextBoxFor(model => model.Address2, new { @class = "form-control pull-right" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        City
                                    </div>
                                    <div class="editor-field col-md-5">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                            </div>

                                            @Html.TextBoxFor(model => model.Address2, new { @class = "form-control pull-right" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        PIN Code
                                    </div>
                                    <div class="editor-field col-md-5">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                            </div>

                                            @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control pull-right" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        Telephone @* <span style="color:Red;font-size:18px" >*</span>*@
                                    </div>
                                    <div class="editor-field col-md-5">
                                        @*Favicon added by Mithilesh and Pushkar on 23/06/2017*@

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control pull-right" })

                                        </div>
                                        <div style="color: Red; font-size: 12px">
                                            @Html.ValidationMessageFor(model => model.Telephone)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        Fax  @*  @Html.LabelFor(model => model.Fax)*@
                                    </div>
                                    <div class="editor-field col-md-5">
                                        @*Favicon added by Mithilesh and Pushkar on 23/06/2017*@
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-fax" aria-hidden="true"></i>
                                            </div>

                                            @Html.TextBoxFor(model => model.Fax, new { @class = "form-control pull-right" })
                                            @Html.ValidationMessageFor(model => model.Fax)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        Email-Id   @* @Html.LabelFor(model => model.Email)*@
                                    </div>
                                    @*Favicon added by Mithilesh and Pushkar on 23/06/2017*@
                                    <div class="editor-field col-md-5">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </div>

                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control pull-right" })

                                        </div>
                                        <div style="color: Red; font-size: 12px">
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="editor-label col-md-2">
                                        PAN NO.  @* @Html.LabelFor(model => model.PAN)*@
                                    </div>
                                    <div class="editor-field col-md-5">
                                        @*Favicon added by Mithilesh and Pushkar on 23/06/2017*@
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.PAN, new { @class = "form-control pull-right" })
                                            @Html.ValidationMessageFor(model => model.PAN)
                                        </div>
                                    </div>
                                </div>

                                <p class="m_btn_margin_left">
                                    <input id="EditCompanyBtn" type="button" value="Save" class="btn btn-default" style="cursor:pointer; float:left" title="Click to save company" />
                                    <span class="btn btn-default" style="cursor:pointer; float:left; margin-left:10px" title="Click to go back to company list">@Html.ActionLink("Back to Company list", "Index")</span>
                                </p>
                            }


                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    </div>
</div>
@*ADDED CODE BY RAJAS ON 4 MARCH 2017 FOR ALERT POPUP START*@
<div id="Companydiv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Do you want to edit Company?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="col-md-2  btn btn-primary" id="EditCompanybtn">
                    Yes
                </button>
                <button type="button" data-dismiss="modal" class="col-md-2 btn">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
@*ADDED CODE BY RAJAS ON 4 MARCH 2017 FOR ALERT POPUP END*@
<script type="text/javascript">
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();


    });

</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }

    //ADDED CODE BY SHRADDHA ON 02 MARCH 2017 FOR ALERT POPUP START
    $("#EditCompanyBtn").click(function () {

        var $form = $(this).closest('form');
        $('#Companydiv').modal({ backdrop: 'static', keyboard: false })
            .one('click', '#EditCompanybtn', function () {

                $("#EditCompanyForm").submit();
            });

    });
    //ADDED CODE BY SHRADDHA ON 02 MARCH 2017 FOR ALERT POPUP END


</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
@*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION START*@
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
@*ADDED BY SHRADDHA ON 08 SEP 2017 FOR CLIENT SIDE VALIDATION END*@