@model WetosMVCMainApp.Models.COMPOffApplicationModel
@{
    ViewBag.Title = "Comp Off Application Create";
}
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
      <h1>
        Comp Off Application
        <small>Create</small>
      </h1>
     
      
      <div class="row">
                <div class="col-md-12">
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="@Url.Action("Index", "Home")">Home </a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                         <a href="#">Administration</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "WetosRole")">Factory Reset</a>
                        </li>
                        <li class="pull-right">
                            <div id="dashboard-report" data-toggle="tooltip" title="Today's date">
                                <span style="cursor:pointer" class="back "  data-toggle="tooltip" title="Back" id="goback"><i class="fa fa-arrow-left"></i></span>
                                <i class="fa fa-calendar"></i>
                                <span>@DateTime.Now.ToLongDateString()</span>                           
                            </div>
                        </li>              
                    </ul>
                </div>
            </div>
  
       @*Added by Pushkar For back breadcrumb on 24 OCT 2016----------Start*@
      
      <div style="clear: both;"></div>

       @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

 </section>
        <section class="content">

<div class="col-xs-12 col-md-12 col-lg-12">         
<div class="box box-primary">

<div class="box-body">

@using (Html.BeginForm())
{
    <input type="submit" value="Factory Reset" class="btn btn-blue" />
}
</div>
</div>
</div>
</section>
</div>

</div>