<link href="~/Content/allcss/allcss.css" rel="stylesheet" />
@model WetosMVCMainApp.Models.LeaveCreditModel

@{
    ViewBag.Title = "Leave Credit Details";
}

<section class="content-header">



    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-arrow-left"></i> Home</a></li>
        <li class="active">Administration</li>
        @* <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>*@
        <li><a href="#">Leave Credit</a></li>
        <li class="active"><a href="#">Details</a></li>
    </ol>
    <h2 class="margin_left_h1">
        Leave Credit
        <small>Details</small>
    </h2>


    @*Added by Pushkar For back breadcrumb on 24 OCT 2016----------Start*@
    <div>
        <span style="float:right"><a href="#" id="goback" class="fa fa-arrow-left back"></a></span>
        @* <span style="float:left">@Html.ActionLink("Add New Location", "Create")</span>*@

    </div>
    <div style="clear: both;"></div>

    @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="box">
                <div class="box-header">

                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <div class="row">
                        <div class="display-label col-md-4">Employee</div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.EmployeeId)
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="display-label col-md-4">Financial Year</div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.FinancialYearId)
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="display-label col-md-4">Leave Type</div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.LeaveType)
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="display-label col-md-4">Availed</div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Availed)
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="display-label col-md-4">Carry Forward</div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.CarryForward)
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="display-label col-md-4">Encash</div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Encash)
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="display-label col-md-4">Opening Balance</div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.OpeningBalance)
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="display-label col-md-4">Company</div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.CompanyId)
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="display-label col-md-4">Branch</div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.BranchId)
                        </div>
                    </div>

                    <br />

                    <p>
                        @Html.ActionLink("Edit", "LeaveCreditEdit", new { id = Model.LeaveCreditId }) |
                        @Html.ActionLink("Back to List", "LeaveCreditIndex")
                    </p>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>



@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('a.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }



</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@