<link href="~/Content/allcss/allcss.css" rel="stylesheet" />
@model IEnumerable<WetosDB.SP_GetLeaveCreditDataList_Result>
@{
    ViewBag.Title = "Leave Credit List";
}
@System.Web.Optimization.Styles.Render("~/Content/DataTable")
@System.Web.Optimization.Scripts.Render("~/bundles/DataTable")
 <link href="~/Content/css/leave_credit_index.css" rel="stylesheet" />

<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb ed_breadcrumb_row">
                <div class="col-sm-6 ed_breadcrumb_div">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                      <li class="li_margin">
                         <a href="#">Administration</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li class="li_margin">
                            <a href="#">Leave Credit</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @*@DateTime.Now.ToLongDateString()*@
                                    @{
                                        string timezoneId = System.Configuration.ConfigurationManager.AppSettings["TimeZoneId"];
                                    }
                                    @TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById(timezoneId)).ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> 
             <h1 class="margin_left_h1">
        Leave Credit
        <small>List</small>
         <span style="float:right;font-weight:800" data-toggle="tooltip" title="Create">
         @Html.ActionLink(" ", "LeaveCreditCreate", new { }, new { @class = "fa fa-plus-circle circle1", title = "Add Leave Credit", style = "color:#428bca;font-size:19px" })</span>
           <span style="float: right;margin-right:10px" class="btn btn-default span_btn" title="Create">
           @Html.ActionLink("Financial Year Details", "FinancialYearIndex", "WetosAdministration")</span>

      </h1>

    </section>
        <section class="content">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="box">
          
            <!-- /.box-header -->
            <div class="box-body">
            <div class="table-responsive">
<table id ="LeaveCredit" class="table table-bordered table-striped">
<thead>
    <tr>
     
        <td>
            Employee
        </td>
        <td>
            Financial Year
        </td>
        <td>
            Leave Type
        </td>
        <td>
            Availed
        </td>
        <td>
            Carry Forward
        </td>
        <td>
            Encash
        </td>
        <td>
            Opening Balance
        </td>
        <td>
            Company
        </td>
        <td>
            Branch
        </td>
         
       <td>
        </td>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        
        <td>@*<a href="@Url.Action("LeaveCreditDetails", "WetosAdministration", new { id = item.EmployeeId })">*@
            
            @item.EmployeeCode @item.FirstName @item.LastName
           @* </a>*@
        </td>
        <td>
            @item.FinancialName
        </td>
        <td>
            @item.LeaveType
        </td>
        <td class="quantity">
            @String.Format("{0:F}", item.Availed)
        </td>
        <td class="quantity">
            @String.Format("{0:F}", item.CarryForward)
        </td>
        <td class="quantity">
            @String.Format("{0:F}", item.Encash)
        </td>
        <td class="quantity">
            @String.Format("{0:F}", item.OpeningBalance)
        </td>
        <td>
            @item.CompanyName
        </td>
        <td>
            @item.BranchName
        </td>
        <td>
         
            <span data-toggle="tooltip" title="Edit">
                                                @Html.ActionLink(" ", "LeaveCreditEdit", new { id = item.LeaveCreditId, LeaveType = item.LeaveType }, new { @class = "fa fa-pencil-square-o" })
                                                </span>
                                               
        </td>
    </tr>
}
</tbody>
<tfoot></tfoot>
</table>
</div>

</div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    </div>
</div>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }
</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
<script type="text/jscript">
    $(function () {

        $("#LeaveCredit").DataTable();

    });
</script>
