@model WetosMVCMainApp.Models.LockUnlockData
@{ 
    ViewBag.Title = "Lock/Unlock Database";
}
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
   @System.Web.Optimization.Scripts.Render("~/bundles/Select2")
   <link href="~/Content/css/lock_unlock.css" rel="stylesheet" />
   <link href="~/Content/allcss/allcss.css" rel="stylesheet" />



<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb">
                <div class="col-sm-6">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        <li class="li_margin">
                         <a href="#">Administration</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li class="li_margin">
                            <a href="#">Lock / Unlock</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <h1>Lock/Unlock
 <small>Database</small>
</h1>
      <div style="clear: both;"></div>

 </section>
        <section class="content">
<div class="row">
<div class="col-xs-12 col-md-12 col-lg-12">         
<div class="box">

<div class="box-body">

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
  
     
         <div class="row">
         <div class="form-group col-md-12">
   <div class="editor-label">
            Company
        </div>
        <div class="editor-field">
          <div class="input-group date">
          <div class="input-group-addon">
                   <i class="fa fa-suitcase" aria-hidden="true"></i>
                  </div> 
         @Html.DropDownListFor(a => a.CompanyId, (IEnumerable<SelectListItem>)ViewBag.CompanyList, "Select", new { @class = "form-control select2", style = "width:250px", id = "CompanyddlList" })
        </div>
        </div>
      </div>
     </div>
     
       <div class="row">
       <div class="form-group col-md-12">
      <div class="editor-label">
           Branch
        </div>
        <div class="editor-field" >
          <div class="input-group date">
          <div class="input-group-addon">
                   <i class="fa fa-university" aria-hidden="true"></i>
                  </div> 
         @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)ViewBag.BranchList, "Select", new { @class = "form-control select2", style = "width:250px", id = "BranchddlList" })
        </div>
       </div>
       </div>
    </div> 
      
   @* <div class="row">
      <div class="editor-label">
          Department
        </div>
        <div class="editor-field" >
         @Html.DropDownListFor(a => a.BranchId, (IEnumerable<SelectListItem>)@ViewBag.DepartmentList, "Select", new { @class = "form-control select2", style = "width:250px", id = "DepartmentddlList" })
        </div>
    </div> 
     
    
    <div class="row">
         <div class="editor-label">
          Employee Type
        </div>
        <div class="editor-field" >
         @Html.DropDownListFor(a => a.EmployeeTypeId, (IEnumerable<SelectListItem>)@ViewBag.EmployeeTypeNameList, "Select", new { @class = "form-control select2", style = "width:250px" })
         
        </div>
     </div> *@
    
   @* <div class="row">
         <div class="editor-label">
          Employee
        </div>
        <div class="editor-field" >
         @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)@ViewBag.EmployeeList, "Select", new { @class = "form-control select2", style = "width:250px", id = "EmployeeddlList" })
         
        </div>
    </div> *@

        <div class="row">
        <div class="col-md-3">
          <div class="form-group">
               From Date
     <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                   @*@Html.TextBoxFor(model => model.FromDate, new { @class = "form-control pull-right datepicker" })*@
                 @* <input type="text" class="form-control pull-right datepicker" id="FromDate" name="FromDate"/>*@
                    <input type="text" class="form-control datepicker" data-date-fomat="dd-MMM-yyyy" name="FromDate" id="FromDate" value="@String.Format("{0:dd-MMM-yyyy}", @Model.FromDate)" />
                </div>
                <!-- /.input group -->
              </div>
              </div>
              </div> 

        <div class="row">
         <div class="col-md-3">
         <div class="form-group">
               To Date

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                   @*@Html.TextBoxFor(model => model.ToDate, new { @class = "form-control pull-right datepicker" })*@
                 @* <input type="text" class="form-control pull-right datepicker" id="FromDate" name="FromDate"/>*@
                  <input type="text" class="form-control datepicker" data-date-fomat="dd-MMM-yyyy" name="ToDate" id="ToDate" value="@String.Format("{0:dd-MMM-yyyy}", @Model.ToDate)" />
                </div>
                <!-- /.input group -->
              </div>
       </div>
       </div> 

         <div class="row">
     <div class="form-group col-md-12">
        <div class="editor-label">
        </div>
        @Html.RadioButtonFor(model => model.RadioButtonSelected, "Y", new { @checked = "checked" }) Lock
        @Html.RadioButtonFor(model => model.RadioButtonSelected, "N") Unlock
        @*<div class="editor-field">
         
            <input type="radio" name="group1" id="DatabaseLock/Unlock" value="Lock" checked="checked" />&nbsp&nbsp Lock
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="radio" name="group1" id="DatabaseLock/Unlock1" value="Unlock"  checked="checked"/>&nbsp&nbsp Unlock &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </div>*@
        </div>
        </div>

        <p>
            <input type="submit" value="Process and Save" />
        </p>
   
}
</div>
</div>
    </div>
</div>
<div>
</div>
    @Html.ActionLink("Back to List", "Index")
    </section>
    </div>
</div>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }



</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
<script type="text/javascript">


    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/yyyy
        $('.datepicker').datepicker({
            format: "dd-M-yyyy",
            autoclose: true
        });

//        //Date picker
//        $('.datepicker').datepicker({
//            format: "dd/mm/yyyy",

//            autoclose: true
//        });

    });

    // Added by Rajas on 27 DEC 2016 to fill drop down list on selection of other drop down
    $("#CompanyddlList").change(function () {
        isDirty = false;
        var companyid = $("#CompanyddlList").val();
        $.ajax({
            url: '@Url.Content("~/WetosAdministration/GetBranch")',
            type: "POST",
            dataType: "json",
            data: { Companyid: companyid },
            success: function (data) {
                //alert("success");
                $("#BranchddlList").empty();
                //alert("success-empty");
                $("#BranchddlList").append("<option value=" + "0" + ">" + "Select" + "</option>");
                // alert("success-select");
                for (var i = 0; i < data.length; i++) {
                    //alert("success-in func");

                    $("#BranchddlList").append("<option value=" + "" + data[i].BranchId + "" + ">" + data[i].BranchName + "</option>");

                }

            },
            error: function (data) {
                alert("Error");
            }
        });
    });

    $("#BranchddlList").change(function () {
        isDirty = false;
        var branchid = $("#BranchddlList").val();
        $.ajax({
            url: '@Url.Content("~/WetosAdministration/GetDepartment")',
            type: "POST",
            dataType: "json",
            data: { Branchid: branchid },
            success: function (data) {
                //alert("success");
                $("#DepartmentddlList").empty();
                //alert("success-empty");
                $("#DepartmentddlList").append("<option value=" + "0" + ">" + "Select" + "</option>");
                // alert("success-select");
                for (var i = 0; i < data.length; i++) {
                    //alert("success-in func");

                    $("#DepartmentddlList").append("<option value=" + "" + data[i].DepartmentId + "" + ">" + data[i].DepartmentName + "</option>");

                }

            },
            error: function (data) {
                alert("Error");
            }
        });
    });

    $("#DepartmentddlList").change(function () {

        isDirty = false;
        var branchid = +$("#BranchddlList").val();
        var Companyid = +$("#CompanyddlList").val();
        $.ajax({
            url: '@Url.Content("~/WetosAdministration/GetEmployee")',
            type: "POST",
            dataType: "json",
            data: { Branchid: branchid, Companyid: Companyid },
            success: function (data) {
                $("#EmployeeddlList").empty();
                $("#EmployeeddlList").append("<option value=" + "0" + ">" + "Select" + "</option>");

                for (var i = 0; i < data.length; i++) {

                    $("#EmployeeddlList").append("<option value=" + "" + data[i].EmployeeId + "" + ">" + data[i].EmployeeName + "</option>");

                }

            },
            error: function (data) {
                //alert("hello");
            }
        });
    });

</script>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
 
