@model WetosDB.User
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />
<style type="text/css">
.row
{
    margin-bottom:10px;
}

</style>

<div>
    <section id="loginForm">
        @ViewBag.Message
    </section>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { style = "font-size:15px;color:Blue" })
      
      
    <fieldset>
    <div class="col-md-12">
        <legend>Reset Password</legend>
        @Html.HiddenFor(a => a.EmployeeId)
        <div class="row">
        <div class="col-md-2">
    User Name
      
            @*@Html.LabelFor(model => model.Encash)*@
        </div>

        <div class="col-md-5">
         <div class="input-group date">
          <div class="input-group-addon">
                   <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        </div>
        </div>
          <div class="row">
        <div class="col-md-2">
    Password
            @*@Html.LabelFor(model => model.Encash)*@
        </div>
        <div class="col-md-5">
         <div class="input-group date">
          <div class="input-group-addon">
                   <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
            @Html.PasswordFor(model => model.Password) 
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        </div>
        </div>
        
            
              <p>
        @*<input type="submit" value="Reset Password" />*@
        <input  type="submit" value="Save Password" class="btn btn-primary"  style="cursor:pointer; float:left" title = "Reset Password"/>
        </p>
        </div>
    </fieldset>
@* <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>*@
           
}



@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

