@model WetosDB.User
@{
    ViewBag.Title = "Reset Password ";
}
@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<link href="~/Content/css/reset_password.css" rel="stylesheet" />
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />


<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb ed_breadcrumb_row">
                <div class="col-sm-6 padding_ul ed_breadcrumb_div">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        <li class="li_margin">
                            <a href="#">Administration</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li class="li_margin">
                            <a href="#">Reset Password</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 class="margin_left_h1">Reset Password</h1>

            <div class="col-md-12">
                <br />

                <div style="color:Green">
                    @ViewBag.Message
                </div>

                <div style="padding-left:1%;">
                    <text>Select Employee &nbsp;</text>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        @Html.DropDownListFor(a => a.EmployeeId, (IEnumerable<SelectListItem>)@ViewBag.EmployeeNameList, "Select", new { @class = "form-control select2", style = "width:300px", id = "Employee" })
                    </div>
                </div>
                <br />
                <div id="resetpassword"></div>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Date picker
        $('.datepicker').datepicker({

            format: "dd/mm/yyyy",

            autoclose: true
        });

    });

</script>
<script type="text/javascript">
    $("#Employee").change(function () {
        var EmployeeId = $("#Employee").val();

        $.ajax({
            //url: '@Url.Content("~/Account/ResetPasswordForSelectedEmployee")',
            url: '@Url.Content("~/WetosAdministration/ResetPasswordForSelectedEmployee")',
            type: "GET",
            //dataType: "json",
            data: { EmployeeId: EmployeeId },  // + extractLast(request.term)
            success: function (data) {
                $("#resetpassword").html(data);
            }
        });

    });


</script>
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }

</script>