@model IEnumerable<WetosDB.SP_GetAttendanceIndex_Result>
@{var ODTOURApplicationIsAvailable = Session["ODTOURApplicationIsAvailable"];}
@{var CompOffApplicationIsAvailable = Session["CompOffApplicationIsAvailable"];}
@{var LeaveApplicationIsAvailable = Session["LeaveApplicationIsAvailable"];}

@System.Web.Optimization.Styles.Render("~/Content/DatePicker")
@System.Web.Optimization.Scripts.Render("~/bundles/DatePicker")
@System.Web.Optimization.Styles.Render("~/Content/Select2")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />
<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">

          
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb">
                <div class="col-sm-6">
                    <ul>
                        <li  class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                       
                       <li class="li_margin"> <a href="#">Attendance Status </a></li>
                       
                        </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="page-title">
                        <i>Attendance Status</i> <small>@*Leave Application*@</small>
                    </h1>
                </div>
            </div>
            <br />
            <div style="clear: both;"></div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="col-md-2">
                                        Employee <span style="color:Red;font-size:18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-8">
                                        @Html.DropDownList("SelEmployeeId", (IEnumerable<SelectListItem>)@ViewBag.ActiveEmployeeListVB, "Select", new { @class = "form-control select2", @id = "SelEmployeeId" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="col-md-3">
                                        Year <span style="color:Red;font-size:18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">
                                        @Html.DropDownList("FinancialYearId", (IEnumerable<SelectListItem>)@ViewBag.YearListVB, "Select", new { @class = "form-control select2", style = "width:200px", @id = "FYid" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-3">
                                        Month <span style="color:Red;font-size:18px">*</span>
                                    </div>
                                    <div class="editor-field col-md-5">
                                        @Html.DropDownList("MonthId", (IEnumerable<SelectListItem>)@ViewBag.MonthListVB, "Select", new { @class = "form-control select2", style = "width:200px", @id = "Month" })
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <input type="button" id="BtnSubmit" data-toggle="tooltip" title="Show Data" value="Show Data" />
                                </div>
                            </div>
                        </div>
                        <div id="results">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">



    $(document).ready(function () {
        Alert("DOC READY");
        $(".select2").select2();
        $("#dailyTransaction").DataTable();
    });


</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }

    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });

    // Updated by Rajas on 27 APRIL 2017
    $("#BtnSubmit").click(function () {
        //        var FromDate = $("#FromDate").val();
        //        var ToDate = $("#ToDate").val();

        showloading();  //--- ADDED BY SHALAKA ON 21st JUNE 2017 TO DISPLAY PROGRESS RING

        var FYId = $("#FYid").val();
        var MonthId = $("#Month").val();
        var SelEmployeeId = $("#SelEmployeeId").val();

        //alert(FYId);
        //alert(MonthId);
        $.ajax({
            url: '@Url.Content("~/ManagerDashBoard/EmpDailyTransactionExPV")',
            type: "POST",
            //dataType: "json",
            //data: { FromDate: FromDate, ToDate: ToDate },
            data: {EmployeeId : SelEmployeeId,  FYId: FYId,  MonthId: MonthId },
            success: function (data) {
                //alert();
                $("#results").html(data);

            },
            error: function (data) {
                //alert("hello");
            }
        });
        hideloading();  //--- ADDED BY SHALAKA ON 21st JUNE 2017 TO DISPLAY PROGRESS RING

    });

</script>
