@model IEnumerable<WetosDB.SP_VwActiveEmployee_Result>
@{
    ViewBag.Title = "Index";
}
<style>
    .date_margin {
        margin-left: 65%;
    }
    table.table.table-bordered.table-striped > thead {
        background-color: #c9d1da;
        font-weight: 700;
        color: #000;
        height: 30px;
        vertical-align: middle;
        font-size: 20px;
    }
       
</style>
<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
        <section class="content-header">
            <div class="row">
                <div class="col-md-12">
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <img class="home_width_height" src="~/Content/images/icon/home_1.png" />
                            <a href="@Url.Action("Index", "Home")">Home </a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">Masters</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "WetosEmployee")">Employee </a>
                        </li>
                        <li class="date_margin">
                            <div id="dashboard-report" data-toggle="tooltip" title="Today's date">
                                @*<span style="cursor: pointer" class="back " id="goback"><i class="fa fa-arrow-left"></i></span>*@
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>@DateTime.Now.ToLongDateString()</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="page-title"><i style="text-shadow: -3px 0px 4px #6f88a2;">Employee Reporting to me</i></h1>
                </div>
            </div>
            <br />
            <div style="clear: both;">
            </div>
        </section>
        <section class="content">
            <div class="col-xs-12" style="box-shadow: 0px 2px 6px #a9b1b8;padding-top: 20px">
                <div class="box" >
                    <div class="box-header">
                    </div>
                    <div class="box-body">
                        <table id="EmployeeMaster" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td>Name Of Employee</td>
                                    @*<td>VieAttendance</td>
                                        <td>Action</td>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("ViewProfile", "WetosEmployee", new { id = item.EmployeeId })" target="_blank">
                                                @item.EmployeeCode - @item.Title @item.FirstName @item.MiddleName @item.LastName
                                            </a>
                                        </td>
                                        @*<td>
                                            <a href="@Url.Action("EmpDailyTransaction", "ManagerDashboard", new { EmployeeId = item.EmployeeId })" target ="_blank">
                                            @item.EmployeeCode - @item.Title @item.FirstName @item.MiddleName @item.LastName</a>
                                            </td>*@


                                        @* MOST IMPORTANT CODE ADDED BY SHRADDHA ON 21 JULY 2017 PLEASE DONT DELETE THIS CODE BECAUSE THIS CODE IS FOR CALENDAR OF EMPLOYEES REPORTING TO ME START*@
                                        @* <td>
                                            <span class="fa fa-calendar"  data-toggle="tooltip" title="Click to see calendar" style="color:black;margin:5px" onclick="@("window.location.href='" + @Url.Action("ShowCalendarofReportingToMe", "Dashboard", new { EmployeeId = item.EmployeeId }) + "'")">
                                             </span>
                                            </td>*@
                                        @* MOST IMPORTANT CODE ADDED BY SHRADDHA ON 21 JULY 2017 PLEASE DONT DELETE THIS CODE BECAUSE THIS CODE IS FOR CALENDAR OF EMPLOYEES REPORTING TO ME END*@
                                    </tr>

                                 }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /.box -->
<!-- /.row -->
@*</section> </div> </div>*@

@*Added by Pushkar For back breadcrumb on 24 OCT 2016-------start*@
<script type="text/jscript">
    $(document).ready(function () {
        $('.back').click(function () {
            parent.history.back();
            return false;
        });
    });

    function goBack() {
        window.history.back();
    }

</script>
@*Added by Pushkar For back breadcrumb on 24 OCT 2016---------end*@
<script type="text/jscript">
    $(function () {

        $("#EmployeeMaster").DataTable();

    });
</script>
